$serif: "ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
$sans: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;

$blue: #1db3f8;