
/*
  __
 /\ \                       __
 \_\ \       __    __  __  /\_\      ___
 /'_` \    /'__`\ /\ \/\ \ \/\ \    /'_ `\
/\ \L\ \  /\  __/ \ \ \_/ | \ \ \  /\ \/\ \
\ \___,_\ \ \____\ \ \___/   \ \_\ \ \_\ \_\
 \/__,_ /  \/____/  \/__/     \/_/  \/_/\/_/

*/

// Hello! Have a great day.

@import 'libs/mixins';

/* Variables */
$serif-font-family: "chaparral-pro", Georgia, serif;
$sans-font-family : "proxima-nova", "helvetica neue", sans-serif;
$code-font-family : "inconsolata", "Lucida Console", Monaco, monospace;

$separator-color: black(0.2);
$seperator-color: $separator-color;
$separator      : 1px solid $separator-color;
$seperator      : $separator;

$primary-text-color     : #555;
$secondary-text-color   : #ababab;
$primary-highlight-color: #1db3f8;
$heading-text-color     : #333;

/* Basics & Resets */
@import url(normalize.css);
@import 'libs/reset';
@import 'libs/scaffolding';

/* Basic Typography */
@import 'modules/typography';

/* Masthead */
@import 'modules/masthead';

/* Scroll Bubble */
@import 'modules/scrollbubble';

/* Posts List */
@import 'modules/posts';

/* Archive */
@import 'modules/archive';

/* Article */
@import 'modules/article';

/* Pagination */
@import 'modules/pagination';

/* Work */
@import 'modules/work';

/* Contact */
@import 'modules/contact';

/* Footer */
@import 'modules/footer';

/* Misc */
@import 'modules/misc';
