// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

@import "core/layout";

.button {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  border: none;
  background-color: $blue;
  margin-bottom: 0;
}

.dropcap {
  border: 6px solid;
  width: 104px;
  height: 104px;
  text-align: center;
  color: $blue;
  font-size: 75px;
  line-height: 84px;
  margin-right: 15px;
  float: left;
  display: block;
  position: relative;
  top: 6px;
  font-weight: 400;

  @media screen and (max-width: 768px) {
    border: 4px solid;
    width: 52px;
    height: 52px;
    font-size: 40px;
    line-height: 40px;
    margin-right: 6px
  }
}


@import "core/base";

@import "core/content";


@media screen and (max-width: 768px) {
  body {
    font-size: 112.5%;
  }
  h1 {
    font-size: 2em;
  }
  p.lead {
    font-size: 1em;
    line-height: 1.618em;
    margin-bottom: 1.618em;
  }
}

@import "modules/header";

.main-content {
  margin-bottom: 4em;

  ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 1.618em;
  > li:before {
    padding-right: 14px;
    text-decoration: none;
    speak: none;
    text-rendering: optimizeLegibility;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    content: "\25C6";
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 58px;
    margin-left: -58px;
    padding-top: 6px;
    text-align: right;
    font-size: 16px;
  }
}
}



.post {
  position: relative;
  margin-bottom: 4em;
  h2 {
    margin: 0 0 1em;
  }
}

.quote {
  position: relative;
  margin-bottom: 4em;
  h4 {
    margin: 0 0 1.618em 0;
  }
  p {
    margin-bottom: 0;
    font-style: italic;
    &.date {
      font-style: normal;
    }
    + p {
      text-indent: 2em;
    }
  }
}

body.single-post .quote p.date {
  margin-bottom: 2.25em;
}

.link {
  position: relative;
  margin-bottom: 4em;
  h4 {
    margin: 0 0 1.618em 0;
  }
}

.footer {
  background-color: #f6f6f6;
  padding: 3.466em 0;
  .button {
    width: 100%;
    font-family: $sans;
  }
}

.blog p.date {
  margin-bottom: 0.4em;
}

.btn {
  display: inline-block;
  font-family: $sans;
  font-size: 0.618em;
  font-weight: 500;
  line-height: 47px;
  text-transform: uppercase;
  color: #fff;
  background-color: $blue;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 0 2em;
  margin: 0;
  letter-spacing: 2px;
  &:hover {
    background-color: #00b7e4;
    color: #fff;
  }
}

@import "core/misc";

@import "core/print";