---
private: true
layout: project
title: Blackbird Magazine
cover_image: "/assets/images/2015/02/blackbird-cover-800.jpg"
class: "page__project page__project--blackbird"
color: "#8BD4D0"
permalink: /projects/locked/blackbird/
weight: 3

description: "Blackbird is a print magazine that explores the lives and work of people who are extremely passionate about what they do."

intro: "Blackbird is a print magazine that explores the lives and work of people who are extremely passionate about what they do."

scope:
  - Print Design
  - Identity Design
---
<div class="grid">
  <div class="grid__col grid__col--7-of-12 grid__col--centered">
    <h2>Background</h2>
    <p>Blackbird is an indie print magazine that I'm publishing (hopefully this summer). It was born out of my passion for printed media. I began my design career doing digital design work exclusively, and that's what I do for most of my clients, but I feel a need to work on something <em>tangible</em>—an analog product.</p>
    <p>This project's inception was about three years ago, but it was originally under a different name and idea: The Guild, a print and digital publication dedicated to graphic design. The Guild died off because of a lack of time on my end, but last year it was reincarnated as Blackbird. Blackbird is going to focus on the story behind people who are extremely passionate about what they do.</p>
  </div>
  <hr class="hr--long">
</div>
<div class="grid">
  <div class="grid__col grid__col--12-of-12">
    <h2>Type Pairing</h2>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <p>The magazine is set in Periodico Text (the serif font) by Emtype and Vaud (the sans-serif font) by Wordshape. The two really complement each other with a similar x-height, contrast level, and letter width.</p>
  </div>
  <div class="grid__col grid__col--9-of-12">{% include full-width-image.html alt="Type Pairing" url="/assets/images/2015/02/blackbird/type.png" %}</div>
</div>
<div class="grid">
  <div class="grid__col grid__col--12-of-12">
    <h2>Visual Identity</h2>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <p>The identity I designed for Blackbird is meant to be strong yet personal, lending homage to the nature of print.</p>
    <p>The wordmark uses a customized version of Periodico Display. The other mark, which I call the <em>Birdmark</em> (get it?) is used very sparingly.</p>
  </div>
  <div class="grid__col grid__col--7-of-12">{% include full-width-image.html alt="Wordmark" url="/assets/images/2015/02/blackbird/wordmark.jpg" %}</div>
  <div class="grid__col grid__col--2-of-12">
    {% include full-width-image.html alt="Birdmark" url="/assets/images/2015/02/blackbird/birdmark.jpg" %}
    <p>A secondary mark used primarily to mark the end of an article.</p>
  </div>
  <hr class="hr--long">
</div>
<div class="grid">
  <div class="grid__col grid__col--12-of-12">
    <h2>Page Spreads</h2>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <p>ALl of the content in the spreads below is filler content. I don't want to give anything away too early! However, Aaron Draplin and Tim O'Brien will be in the first issue.</p>
  </div>
  <div class="grid__col grid__col--12-of-12">{% include full-width-image.html alt="Page Spread 1" url="/assets/images/2015/02/blackbird/spread-1.jpg" %}</div>
  <div class="grid__col grid__col--12-of-12">{% include full-width-image.html alt="Page Spread 2" url="/assets/images/2015/02/blackbird/spread-2.jpg" %}</div>
  <div class="grid__col grid__col--12-of-12">{% include full-width-image.html alt="Page Spread 3" url="/assets/images/2015/02/blackbird/spread-3.jpg" %}</div>
  <div class="grid__col grid__col--12-of-12">{% include full-width-image.html alt="Page Spread 4" url="/assets/images/2015/02/blackbird/spread-4.jpg" %}</div>
  <div class="grid__col grid__col--12-of-12">{% include full-width-image.html alt="Page Spread 5" url="/assets/images/2015/02/blackbird/spread-5.jpg" %}</div>
  <div class="grid__col grid__col--12-of-12">{% include full-width-image.html alt="Page Spread 6" url="/assets/images/2015/02/blackbird/spread-6.jpg" %}</div>
  <div class="grid__col grid__col--12-of-12">{% include full-width-image.html alt="Page Spread 7" url="/assets/images/2015/02/blackbird/spread-7.jpg" %}</div>
  <div class="grid__col grid__col--12-of-12">{% include full-width-image.html alt="Page Spread 8" url="/assets/images/2015/02/blackbird/spread-8.jpg" %}</div>
</div>