---
layout: project
title: Oddball
cover_image: "/assets/images/2014/10/oddball-cover-800.jpg"
class: "page__project page__project--oddball"
color: "#08B4FF"
weight: 6

description: "Oddball is a family-owned-and-run lifestyle and fashion company. I have been responsible for branding, multiple websites, and brand strategy."

intro: "Oddball is a family-owned-and-run lifestyle and fashion company. I have been responsible for branding, multiple websites, and brand strategy."

scope:
  - Design
  - Development
  - Branding
---
<div class="grid">
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Oddball Logo" url="/assets/images/2014/10/oddball/logo.jpg" %}
  </div>
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Launch T-Shirt Back" url="/assets/images/2014/10/oddball/tag.jpg" %}
  </div>
</div>

<hr class="hr--long">

<div class="grid">
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Graphic Element 1" url="/assets/images/2014/10/oddball/bead-1.jpg" %}
  </div>
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Graphic Element 2" url="/assets/images/2014/10/oddball/bead-2.jpg" %}
  </div>
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Graphic Element 3" url="/assets/images/2014/10/oddball/bead-4.jpg" %}
  </div>
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Graphic Element 4" url="/assets/images/2014/10/oddball/bead-5.jpg" %}
  </div>
  <div class="grid__col grid__col--3-of-12">
    <h3>The Landing Page</h3>
    <p>I created a landing page for the launch to collect emails. This was written in Ruby on Rails and Sass, using PostgreSQL for the database and Heroku for hosting. The page collects an email and lets the user through to a new page, allowing them to refer friends for exclusive rewards.</p>
  </div>
  <div class="grid__col grid__col--9-of-12">
    {% include full-width-image.html alt="Landing Page" url="/assets/images/2014/10/oddball/landing-page.jpg" %}
  </div>
  <div class="grid__col grid__col--3-of-12">
    <p>Upon entering their email and submitting the form, the user is taken to this page. Fancy. When a user refers a friend, the timeline-like reward bar progresses further toward the reward.</p>
  </div>
  <div class="grid__col grid__col--9-of-12">
    {% include full-width-image.html alt="efer a Friend Page" url="/assets/images/2014/10/oddball/refer-a-friend.jpg" %}
  </div>
  <div class="grid__col grid__col--3-of-12">
    <p>The user could also hover over the reward tiers to see a picture of the reward.</p>
  </div>
  <div class="grid__col grid__col--9-of-12">
    {% include full-width-image.html alt="Refer a Friend Page Reward Hover" url="/assets/images/2014/10/oddball/refer-a-friend-hover.jpg" %}
  </div>
  <div class="grid__col grid__col--3-of-12">
    <p>Transactional email? You bet! I took care of this with Mailgun. If you'd like, you can <a href="http://devinhalladay.com/projects/oddball/email/" target="_blank">view the email live</a>.</p>
  </div>
  <div class="grid__col grid__col--9-of-12">
    {% include full-width-image.html alt="Transactional Email" url="/assets/images/2014/10/oddball/transactional-email.jpg" %}
  </div>
  <div class="grid__col grid__col--12-of-12">
    <h3>Misc. Design Assets</h3>
  </div>
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Launch T-Shirt Front" url="/assets/images/2014/10/oddball/shirt-front.jpg" %}
  </div>
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Launch T-Shirt Back" url="/assets/images/2014/10/oddball/shirt-back.jpg" %}
  </div>
</div>