---
published: false
title: "Regression Series"
cover_image: "/assets/images/2015/11/reg-cover-800.png"
class: "page__project page__project-regression"
color: "#3EA3DB"
weight: 10

description: "I designed a set of posters and created a sculpture series to explore the effects of mental illness and modern society on my life."

intro: "I designed a set of posters and created a sculpture series to explore the effects of mental illness and modern society on my life."

scope:
  - Design
  - Sculpture
  - Art Direction
---
<div class="grid">
  <div class="grid__col grid__col--3-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2015/11/reg_1.jpg", :alt => "Regression #1" }) %>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2015/11/reg_2.jpg", :alt => "Regression #2" }) %>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2015/11/reg_3.jpg", :alt => "Regression #3" }) %>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2015/11/reg_4.jpg", :alt => "Regression #4" }) %>
  </div>
