---
layout: project
title: The Ministry of Print
cover_image: "/assets/images/2014/10/ministry-cover-800.jpg"
class: "page__project page__project--ministry"
color: "#0485FD"
weight: 4

description: "The Ministry of Print was a personal shop where I sold limited edition prints of the posters I design. I designed the posters, visual identity, and took care of production."

intro: "The Ministry of Print was a personal shop where I sold limited edition prints of the posters I design. I designed the posters, visual identity, and took care of production."

scope:
  - Design
  - Development
  - Branding
---
<div class="grid">
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Perception Poster" url="/assets/images/2014/10/ministry/crown.jpg" %}
  </div>
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Perception Poster" url="/assets/images/2014/10/ministry/perception-2000.jpg" %}
  </div>
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Synesthesia Poster" url="/assets/images/2014/10/ministry/synesthesia-2000.jpg" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Modern Influence Poster" url="/assets/images/2014/10/ministry/modern-influence-2000.jpg" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Wave Poster" url="/assets/images/2014/10/ministry/wave-2000.jpg" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Disruption Poster" url="/assets/images/2014/10/ministry/disruption-2000.jpg" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Retrograde Poster" url="/assets/images/2014/10/ministry/retrograde-2000.jpg" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Misaligned Poster" url="/assets/images/2014/10/ministry/misaligned-2000.jpg" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Column Poster" url="/assets/images/2014/10/ministry/column-2000.jpg" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Entangled Poster" url="/assets/images/2014/10/ministry/entangled-2000.jpg" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Confusion Poster" url="/assets/images/2014/10/ministry/confusion-2000.jpg" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Impression Poster" url="/assets/images/2014/10/ministry/impression-2000.jpg" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Magic 8 Ball Poster" url="/assets/images/2014/10/ministry/magic-8-ball-2000.jpg" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Oceania Poster" url="/assets/images/2014/10/ministry/oceania-2000.jpg" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Order Poster" url="/assets/images/2014/10/ministry/order-2000.jpg" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Perception is Reality Poster" url="/assets/images/2014/10/ministry/perception-is-reality-2000.jpg" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Ping Poster" url="/assets/images/2014/10/ministry/ping-2000.jpg" %}
    </div>
  </div>
</div>