---
private: true
layout: project
title: Flash Seats
cover-image: "/assets/images/2014/10/flash-seats-cover-800.jpg"
class: "page__project page__project--flash-seats"
color: "#FE3F47"
permalink: /projects/locked/flash-seats/
weight: 1

description: "Flash Seats is an innovative online ticketing system that eliminates paper tickets, streamlines event entry, allows buying and selling of tickets, and makes it easy for one user to transfer tickets to another."

intro: "I redesigned the visual identity for Flash Seats while working at Leapwise Media over the summer of 2014. This was an independent project, during which I was free to experiment and excersize complete creative control. Despite this level of creative control I chose a much more conservative direction, favoring a functional, minimal design over my initial aesthetically-focused concepts."

scope:
  - Identity Design
  - Branding
  - Print Design
---
<div class="grid">
  <div class="grid__col grid__col--7-of-12 grid__col--centered">
    <p>This is not just a refresh of the Flash Seats visual identity. It is a complete rework of the Flash Seats brand as it is known both internally and externally. After taking time to evaluate the current Flash Seats brand and visual identity, I have come to the realization that there needs to be a massive shift in the company as a whole if Flash Seats wants to be the primary choice for fans to buy, sell, and exchange tickets.</p>

    <p>This booklet, however, only contains guidelines for the proper use of the Flash Seats visual identity. A brand is far more than a visual identity—it is a summation of all actions a company partakes in. When a fan uses Flash Seats to buy a ticket and enter a basketball game seamlessly, that reflects positively on the Flash Seats brand, and it builds our brand’s authenticity: something that consumers crave in our increasingly globalised economy.</p>

    <p>This means that everything Flash Seats does as a company, and everything Flash Seats employees do on behalf of the company, must be positive. While a brand usage guide will certainly not be a solution to this persistent problem (there is no single solution) it can still help to unify the actions and core thinking of all Flash Seats employees, products, and marketing techniques.</p>

    <hr class="hr--short">

    {% include full-width-image.html alt="Flash Seats Logo" url="/assets/images/2014/10/flash-seats/logo.jpg" %}

    <hr class="hr--short">
  </div>
</div>
<div class="grid">
  <div class="grid__col grid__col--6-of-12">
    <h3>Original Experimentation</h3>
    <p>I originally began with some rough sketches, and quickly decided that it would be best to stay true to the original Flash Seats brand with a lightning bolt for the primary mark.</p>
    <p>After doing some research on the Flash Seats brand and ticketing system, I realized how central fans are to the core of the brand. With this in mind, I decided that the brand's new visual identity also needed to focus on the fans.</p>
  </div>
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Style Tiles" url="/assets/images/2014/10/flash-seats/style-tiles.jpg" %}
  </div>
  <div class="grid__col grid__col--7-of-12 grid__col--centered">
    <hr class="hr--short">
    <p>After playing around with the above concept, I realized I was going about this the wrong way. I took a step back, looked at the project as a whole, and decided to start over.</p>
    <p>I was focusing too much on aesthetics. The brand needed to be funtional, minimal, and get out of the fan's way. That's where the final concept comes into play.</p>
    <hr class="hr--short">
  </div>
  <div class="grid__col grid__col--2-of-12">
    <h3>Final Concept</h3>
  </div>
  <div class="grid__col grid__col--10-of-12">
    {% include full-width-image.html alt="Flash Seats Logo" url="/assets/images/2014/10/flash-seats/logo.jpg" %}
  </div>
  <hr class="hr--short">
</div>
<div class="grid">
  <div class="grid__col grid__col--12-of-12">
    <h2>Brand Guidelines Booklet</h2>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <h3>Designer's Note</h3>
  </div>

  <div class="grid__col grid__col--9-of-12">{% include full-width-image.html alt="Designer's Note" url="/assets/images/2015/02/flash/guidelines-3.png" %}</div>
  <div class="grid__col grid__col--3-of-12">
    <h3>Grid</h3>
    <p>
      This is the grid I created for the brand guidelines booklet. It uses a perfect page ratio of 2:3 and a modular block grid of 8&times;9 to allow for creativity within the cofines of a grid. After all, a grid is meant to be an aid, not a prison.
    </p>
  </div>

  <div class="grid__col grid__col--9-of-12">{% include full-width-image.html alt="Grid" url="/assets/images/2015/02/flash/guidelines-4.png" %}</div>
  <div class="grid__col grid__col--3-of-12">
    <h3>The Logo</h3>
    <p>
      Here's the logo we settled on. It's simple, but it keeps the essential elements of the original logo. The goal was to modernize the logo, but also to create a visual identity that gets out of the customer's way; and I think I accomplished that with this logo.
    </p>
  </div>

  <div class="grid__col grid__col--9-of-12">{% include full-width-image.html alt="Logo Guidelines" url="/assets/images/2015/02/flash/guidelines-5.png" %}</div>
  <div class="grid__col grid__col--3-of-12">
    <h3>Color Scheme</h3>
    <p>
      These are the only colors the logo should be displayed in.
    </p>
  </div>

  <div class="grid__col grid__col--9-of-12">{% include full-width-image.html alt="Logo Color Guidelines" url="/assets/images/2015/02/flash/guidelines-6.png" %}</div>
  <div class="grid__col grid__col--3-of-12">
    <h3>Color Scheme</h3>
    <p>
      To balance the bright red I used for the primary color, I used very cool tones of grey with blue mixed in for all the other primary brand colors.
    </p>
  </div>

  <div class="grid__col grid__col--9-of-12">{% include full-width-image.html alt="Color Scheme" url="/assets/images/2015/02/flash/guidelines-7.png" %}</div>
  <div class="grid__col grid__col--3-of-12">
    <h3>Logo Spacing Considerations</h3>
    <p>
      I wrote some spacing considerations for the logo as well. It's not absolutely necessary to follow the math correctly, but the logo looks best when presented with this much whitespace around it. Side note: I never thought I'd use trigonometry in my designs, but I did with these spacing considerations!
    </p>
  </div>

  <div class="grid__col grid__col--9-of-12">{% include full-width-image.html alt="Logo Spacing" url="/assets/images/2015/02/flash/guidelines-8.png" %}</div>
  <div class="grid__col grid__col--3-of-12">
    <h3>App Icons</h3>
    <p>
      The old Flash Seats brand had different icons for every platform and, frankly, it presented the brand in a terrible light. This should solve that problem.
    </p>
  </div>

  <div class="grid__col grid__col--9-of-12">{% include full-width-image.html alt="App Icons" url="/assets/images/2015/02/flash/guidelines-9.png" %}</div>
  <div class="grid__col grid__col--3-of-12">
    <h3>Using the Flash Seats name in writing</h3>
    <p>
      A big problem I noticed while working closely with Flash Seats on various projects over the summer was that everyone I interacted with wrote the Flash Seats name differently. Unity is important in a great brand, so I set out to fix this issue as well.
    </p>
  </div>

  <div class="grid__col grid__col--9-of-12">{% include full-width-image.html alt="Flash Seats Brand Name in Writing" url="/assets/images/2015/02/flash/guidelines-10.png" %}</div>
  <div class="grid__col grid__col--3-of-12">
    <h3>Advertising</h3>
    <p>
      I created some mockups for what the identity might look like in advertising. The picture in the upper left is actually of a billboard in downtown Cleveland, where Flash Seats is based. And how sweet is that t-shirt?!
    </p>
  </div>

  <div class="grid__col grid__col--9-of-12">{% include full-width-image.html alt="Advertising Samples" url="/assets/images/2015/02/flash/guidelines-11.png" %}</div>
  <div class="grid__col grid__col--3-of-12">
    <h3>Ticket Concept</h3>
    <p>
      After exploring the visual identity, I decided to take a stab at redesigning the tickets. This concept was a lot of fun to work on! I wasn't able to fully develop the idea, and it certainly wouldn't work quite yet (the seating reference system needs a lot of work), but I think this concept has a lot of potential to make seating easier for the fans.
    </p>
  </div>

  <div class="grid__col grid__col--9-of-12">{% include full-width-image.html alt="Ticket Idea" url="/assets/images/2015/02/flash/guidelines-12.png" %}</div>
  <div class="grid__col grid__col--3-of-12">
    <h3>Brand Values</h3>
    <p>
      Last but certainly not least, I wrote a short set of brand values for Flash Seats. All great brands have a set of specific values, but the best brands have a set of values that all products and employees stick to. That's the goal with this list.
    </p>
  </div>

  <div class="grid__col grid__col--9-of-12">{% include full-width-image.html alt="Brand Values" url="/assets/images/2015/02/flash/guidelines-13.png" %}</div>
</div>
<div class="grid">
  <div class="grid__col grid__col--7-of-12 grid__col--centered">
    <h2>Conclusion</h2>
    <p>I learned a lot working on this project. It was a great opportunity to work closely with a large team and to excersize creative freedom without getting out of control. Additionally, the late Wally Olins' <em>Brand New</em> really helped me gain a new understanding of branding and identity while I worked on this project. I recommend it to anyone who is even remotely interested in the thought that goes into branding and identity design!</p>
  </div>
</div>