---
layout: project
title: Logos &amp; Marks
cover-image: "/assets/images/2014/10/logos-cover-800.jpg"
class: "page__project page__project--logos"
color: "#23D1ED"
weight: 5

description: "A collection of random logos &amp; marks that I'm especially proud of."

intro: "This is a collection of logos and marks that I've designed for various companies as well as for side projects. Some were just for fun or experimentation."

scope:
  - Identity Design
  - Branding
  - Type Design
---
<div class="grid">

  <div class="grid__col grid__col--6-of-12">{% include full-width-image.html alt="Blitz" url="/assets/images/2014/10/logos/blitz-800.png" %}</div>

  <div class="grid__col grid__col--6-of-12">{% include full-width-image.html alt="The Guild" url="/assets/images/2014/10/logos/the-guild-800.jpg" %}</div>

  <div class="grid__col grid__col--6-of-12">{% include full-width-image.html alt="Zenworks Yoga" url="/assets/images/2014/10/logos/zenworks-800.jpg" %}</div>

  <div class="grid__col grid__col--6-of-12">{% include full-width-image.html alt="Blackbird" url="/assets/images/2014/10/logos/blackbird-800.png" %}</div>

  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="The Ministry of Print" url="/assets/images/2014/10/logos/ministry-800.jpg" %}
  </div>
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Apotheo" url="/assets/images/2014/10/logos/apotheo-800.gif" %}
  </div>
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Bear" url="/assets/images/2014/10/logos/bear-800.jpg" %}
  </div>
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Books" url="/assets/images/2014/10/logos/books-800.jpg" %}
  </div>
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Chevron" url="/assets/images/2014/10/logos/chevron-800.png" %}
  </div>
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="D" url="/assets/images/2014/10/logos/d-800.jpg" %}
  </div>
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Royal Courier" url="/assets/images/2014/10/logos/royal-courier-800.jpg" %}
  </div>
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Royale" url="/assets/images/2014/10/logos/royale-800.gif" %}
  </div>
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="S" url="/assets/images/2014/10/logos/s-800.jpg" %}
  </div>
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Squire" url="/assets/images/2014/10/logos/squire-800.jpg" %}
  </div>
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="Squire Lettermark" url="/assets/images/2014/10/logos/squire-lettermark-800.jpg" %}
  </div>
  <div class="grid__col grid__col--6-of-12">
    {% include full-width-image.html alt="USA" url="/assets/images/2014/10/logos/usa-800.jpg" %}
  </div>
</div>