---
title: "Plague"
cover_image: "/assets/images/2016/03/plague/cover.jpg"
class: "page__project page__project-"
color: "#CF9C4C"
weight: 14

description: "A tribute to Crystal Castles."

intro: "I created two posters in a tribute to Crystal Castleses, meant to evoke nostalgia, heartbreak, and anxiety."

scope:
  - Poster design
---
<div class="grid wrap">
  <div class="grid__col grid__col--6-of-12 grid__col--centered"><%= partial("full-width-image", :locals => { :url => "/assets/images/2016/03/plague/poster-1.jpg", :alt => "Poster version one" }) %></div>
  <div class="grid__col grid__col--12-of-12 grid__col--centered"><%= partial("full-width-image", :locals => { :border => 0, :url => "/assets/images/2016/03/plague/poster-2.jpg", :alt => "Poster version two" }) %></div>
</div>
