---
title: "Longings for Things Left Unsaid"
cover_image: "/assets/images/2016/03/longings/cover.jpg"
class: "page__project page__project-"
color: "#5A376A"
weight: 11

description: "A generative ambient sound art piece meant to evoke nostalgia and melancholia."

intro: "The first in a series of generative ambient pieces revolving around saudade: a profound emotional state of nostalgia and melancholia, longing for something one has lost."

scope:
  - Sound design
---
<div class="grid wrap">
  <div class="grid__col grid__col--8-of-12 grid__col--centered"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/253386257&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
</div>
