---
title: "Quora Year in Review Email"
scope: Email Design, Web Development
description: "Design and development for Quora's new Year in Review email."
tag: culture technology
cover_image: /assets/images/2017/08/quora-year-in-review/cover.png
filters: interaction
---

<div class="gc-main">
  <%= partial("partials/figure", :locals => { :img => "/assets/images/2017/08/quora-year-in-review/cover.png" }) %>

  <h2>Leading the Way</h2>
  <p>I had the opportunity to lead a small team on designing and building the Quora Year in Review email that is sent out to every active Quora user at the end of each year.</p>
  <p>My role was end-to-end: developing the concept, designing the variations, building the front-end, and building bits and pieces of the backend functionality.</p>
  <p>I designed many different variations of the email, customized to different metrics touchpoints, so that each user's email would be as personalized as possible.</p>
</div>

<div class="gc-spill">
  <%= partial("partials/figure", :locals => { :img => "/assets/images/2017/08/quora-year-in-review/email.png" }) %>
</div>