---
title: "Quora Intern Crest"
scope: Graphic Design
description: "Designing a crest for Quora's 2017 class of interns."
tag: culture
cover_image: /assets/images/2017/08/quora-intern-crest/cover.png
filters: identity
---
<div class="gc-breakout">
  <%= partial("partials/figure", :locals => { :img => "/assets/images/2017/08/quora-intern-crest/detail.png" }) %>
</div>