---
title: "Nine Inch Nails Motion Graphics"
scope: Motion Graphics
intro: "Self-initiated project consisting of motion graphics for sections of two Nine Inch Nails songs."
priority: 2
filters: item-interaction
published: false
---
<% @image_dir = 'assets/images/2018/10/nine-inch-nails-animations' %>
<%# @image_dir = 'https://devinhalladay.imgix.net/2018/10/nine-inch-nails-animations' %>
<div class="container">
  <div class="row center-xs">
    <div class="col-sm-12 col-md-10">
      <h2>08 Ghosts I</h2>
      <figure>
        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/239519988?byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      </figure>
    </div>
    <div class="col-sm-12 col-md-10">
      <h2>The Background World</h2>
      <figure>
        <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/294892300?byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
      </figure>
    </div>
  </div>
</div>
