---
title: "Spotio"
scope: Code, Open Source, Design
description: "Reverse-engineering the Spotify desktop app to reflect Rdio's interface and create a less depressing listening experience."
tag: technology
cover_image: /assets/images/2018/04/spotio/cover.png
external_url: http://spotio.devinhalladay.com
filters: interaction
---
<% @image_dir = '/assets/images/2018/04/spotio' %>

<div class="gc-spill hero-image">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/2.png" }) %>
</div>

<div class="gc-main"><p>
  Spotio was a Rdio-like Spotify theme developed by reverse-engineering the Spotify desktop app in the summer of 2016. It has since been broken and has fallen into disrepair, but you can view the code on <a href="https://github.com/devinhalladay/spotio">GitHub</a>.
</p>
<p>
  <a href="http://spotio.devinhalladay.com" class="button button-forward">View the website</a>
</p>
</div>

