---
title: "Spotio (External Link &#8618;)"
scope: Code, Open Source, Design
description: "Reverse-engineering the Spotify desktop app tto reflect Rdio's interface and create a less depressing listening experience."
tag: technology
cover_image: /assets/images/2018/04/spotio/cover.png
---
<%# @image_dir = 'assets/images/2018/04/spotio' %>
<% @image_dir = 'https://devinhalladay.imgix.net/2018/04/spotio' %>
<div class="container">

</div>
