---
title: "Dionysian Hangover"
scope: Code, Product Design, Research
intro: "An expanded design and art piece questioning the value and implications of sharing emotional content online. It's not perfect, so be gentle!"
filters: item-interaction
priority: 2
---

<% @image_dir = 'https://devinhalladay.imgix.net/2018/03/dionysian-hangover' %>

<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <p><a href="https://dionysianhangover.com" class="button">See it in action &#8605;</a></p>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/1.png" }) %>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <p>This piece was created in response to my readings of Donna Haraway and Byung-Chul Han. Its goal is to interrogate the space between organic-body and data-point by explicitly subjecting a user's emotions as read by a simplistic algorithm to the mechanics and imagery of capitalism and empirical data culture.</p>
      <p>The project was made with P5.js, using averaged data from <i><a href="https://ig.ft.com/how-much-is-your-personal-data-worth/">Financial Times</a></i> to generate a new "emotional cost" at a regular interval.</p>
    </div>
  </div>
</div>
