---
title: Raf Simons F19
description: Identity system, photography, and campaign strategy for a speculative Raf Simons Fall/Winter 2019 line studying narcotics culture in the United States.
scope: Art Direction, Branding
hover_image: https://devinhalladay.imgix.net/2018/11/mercurial-world/cover.png
cover_image: https://devinhalladay.imgix.net/2018/11/mercurial-world/cover.png
tag: politics
---
<figure class="gc-breakout"><img src="/assets/images/2019/02/raf/pills.jpg" alt="Pills"></figure>

## Introduction

“SUBSTANCE,” a speculative Raf Simons Fall/Winter 2019 line, responds to Simons’ Fall/Winter 2018 line, “Youth in Motion,” by placing its study of narcotics subculture into the context of the United States’ working class.

By establishing a new, yet ultimately derivative, tactical identity system, “SUBSTANCE” probes the origins and nature of United States narcotics culture and its associated epidemics.

The result is a new visual vernacular informed by the industrial and pharmaceutical origins of narcotics in the United States, interspliced with moments of absolute, aggressive decadence.

## The Mark

<figure><img src="/assets/images/2019/02/raf/mark.jpg" alt="Mark"></figure>

The core of the identity for this line is the above mark. The mark creates an indexical reference to narcotics culture but retains ties to industry, chemicals, and pharmaceuticals, becoming a deep symbol for the spectrum, pervasiveness, and effects of American drug abuse.

By using stickers for the campaign's logo, the mark itself becomes heavily referential, reproducable, and guerilla, finding its way into bathrooms, alleyways, hospitals, classrooms, and homes.

<figure><img src="/assets/images/2019/02/raf/sticker.jpg" alt="Sticker"></figure>

<div class="gc-breakout dg">
  <h2>Pill Bottles</h2>
  
</div>