---
title: "Palantir Operations: Live Ops"
scope: "Software Design"
description: "Designed advanced geospatial analysis, operation planning, and live operation tracking software for critical defense and disaster relief workflows."
cover_image: /assets/images/2019/11/palantir/cover.png
social_image: /assets/images/2019/11/palantir/cover.png
filters: interaction
featured: true
categories: software
---
<div class="gc-main">
  <figure>
    <video src="/assets/images/2019/11/palantir/operations-screen-cut.mp4" poster="/assets/images/2019/11/palantir/video-cover.png" autoplay preload="auto" muted="" loop="" playsinline=""></video>
  </figure>

  <p>At Palantir, I worked on complex analytical, planning, and live operation tracking systems for critical workflows in the defense and disaster relief spaces. The work combines planning and intel with collaborative maps and a mobile application in order to assemble a live picture — a shared, second-by-second ground truth — of operations, including training, execution, and documentation. This software is used by warfighters and first responders alike to ensure the safe and clean execution of operations around the world.</p>

  <p>A good public example of the software being used is <a href="https://teamrubiconusa.org/" target="_blank" rel="noopener noreferrer">Team Rubicon</a>, a group of veterans acting as first responders to disasters, including Hurricane Sandy.</p>

  <p>
    <iframe width="100%" height="350px" src="https://www.youtube.com/embed/f7ZtqkwTDUk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </p>

  <p>This work is under pretty strict NDA, but I have a private portfolio that includes a subset of it. Please get in touch if you'd like to walk through it with me! I only request that reviews of this portfolio be conducted on-site.</p>

  <p>You can also learn more about Palantir Operations and the Palantir Titan Release, which is the first generally available release of Palantir Operations, at the link below.</p>

  <p>
    <a href="https://www.palantir.com/palantir-gotham/titan/" target="_blank" class="button button-forward">View Palantir Titan Release</a>
  </p>
</div>