---
title: Public Domain Identity
scope: "Identity, 3D"
description: Designed a flexible identity system for Public Domain, a non-profit organization dedicated to the sharing and production of cultural artifacts in the fine and liberal arts.
cover_image: /assets/images/2019/03/differance/cover.png
filters: identity
featured: true
categories: identity, conceptual-art
---
<div class="gc-breakout">
  <figure class="video">
    <iframe src="https://player.vimeo.com/video/365993899" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </figure>
  <figure class="video">
    <iframe src="https://player.vimeo.com/video/365993904" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </figure>
  <figure class="video">
    <iframe src="https://player.vimeo.com/video/365993914" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </figure>
</div>