---
title: Différance.Network
scope: "Product Design, Web Development"
description: "A custom tool backed by the <a href='https://www.are.na/'>Are.na</a> API that helps users make unexpected connections, generate ideas, and discover content."
cover_image: /assets/images/2019/03/differance/cover.png
tag: culture, technology
filters: interaction
external_url: https://differance.network/
featured: true
---
<div class="gc-main">
  <a href="https://differance.network/" class="button button-forward">View it live</a>
</div>

<div class="gc-breakout">
  <figure>
    <video src="/assets/images/2019/03/differance/differance.mp4" poster="/assets/images/2019/03/differance.png" autoplay preload="auto" muted="" loop="" playsinline=""></video>
  </figure>
</div>

<div class="gc-main">
  <h2>Making Connections</h2>
  <p>Over the past few years I've discovered that my best ideas come from making unexpected connections between disparate things. I wanted a tool that would help make this process smooth and available to anybody, so I built Différance.Network.</p>

  <h2>Access to Tools</h2>
  <p>I mostly made Différance.Network to share part of my thought processes with the rest of the world. I think giving the entire world proper access to free utilities for acquiring and sharing knowledge is absolutely essential, especially in an age where information and knowledge are sites of extreme power.</p>

  <h2>Extending Are.na</h2>
  <p>Are.na is an amazing product, and I use it daily, but it has its drawbacks:
    <ul>
      <li>Its flat ontology makes it difficult to discover new content</li>
      <li>It's very difficult to find and sort through old channels and blocks</li>
      <li>It's hard to make connections across channels with large amounts of blocks</li>
    </ul>
    Différance.Network solves all these problems with a few simple features:
    <ul>
      <li>Type any channel name in the search bar to compare two random blocks from that channel (it supports every block type, too)</li>
      <li>Click a button to visit a random channel</li>
      <li>Get a permalink to a connection to save important connections</li>
    </ul>
  </p>

  <h2>Technical Details</h2>
  <p>Différance.Network is built entirely in React.js and is <a href="https://github.com/devinhalladay/differance.network">open source</a>. It was built over the course of two days as a way to learn the basics of React and to refine my Javascript skills.</p>

  <p><a href="https://differance.network/" class="button button-forward">View it live</a></p>
</div>