---
title: Cartesia Animated Logo
scope: "Identity, 3D Animation"
description: Animated logo for Cartesia, a VR experience production studio.
cover_image: /assets/images/2019/03/differance/cover.png
filters: identity
featured: true
categories: identity
---
<div class="gc-breakout">
  <figure class="video">
    <iframe src="https://player.vimeo.com/video/365992310" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </figure>
</div>