// // @font-face {
// //   font-family:"Wremena";
// //   src:url("/assets/fonts/Wremena-Light.woff2") format("woff2"),url("/assets/fonts/Wremena-Light.woff") format("woff"),url("/assets/fonts/Wremena-Light.otf") format("opentype");
// //   font-style:normal;
// //   font-weight:300;
// // }
        
// // @font-face {
// //   font-family:"Wremena";
// //   src:url("/assets/fonts/Wremena-Regular.woff2") format("woff2"),url("/assets/fonts/Wremena-Regular.woff") format("woff"),url("/assets/fonts/Wremena-Regular.otf") format("opentype");
// //   font-style:normal;
// //   font-weight:400;
// // }

// // @font-face {
// //   font-family: "Wremena";
// //   src:url("/assets/fonts/Wremena-Bold.woff2") format("woff2"),url("/assets/fonts/Wremena-Bold.woff") format("woff"),url("/assets/fonts/Wremena-Bold.otf") format("opentype");
// //   font-style:normal;
// //   font-weight:500;
// // }

// @font-face {
//     font-family:"Alegreya Sans";
//     src:url("/assets/fonts/alegreya/AlegreyaSans-Light.woff2") format("woff2"),url("/assets/fonts/alegreya/AlegreyaSans-Light.woff") format("woff"),url("/assets/fonts/alegreya/AlegreyaSans-Light.otf") format("opentype");
//     font-style:normal;font-weight:300;
// }  

// @font-face {
//     font-family:"Alegreya Sans";
//     src:url("/assets/fonts/alegreya/AlegreyaSans-LightItalic.woff2") format("woff2"),url("/assets/fonts/alegreya/AlegreyaSans-LightItalic.woff") format("woff"),url("/assets/fonts/alegreya/AlegreyaSans-LightItalic.otf") format("opentype");
//     font-style:italic;font-weight:300;
// }

// @font-face {
//     font-family:"Alegreya Sans";
//     src:url("/assets/fonts/alegreya/AlegreyaSans-Regular.woff2") format("woff2"),url("/assets/fonts/alegreya/AlegreyaSans-Regular.woff") format("woff"),url("/assets/fonts/alegreya/AlegreyaSans-Regular.otf") format("opentype");
//     font-style:normal;font-weight:400;
// }
        
// @font-face {
//     font-family:"Alegreya Sans";
//     src:url("/assets/fonts/alegreya/AlegreyaSans-Italic.woff2") format("woff2"),url("/assets/fonts/alegreya/AlegreyaSans-Italic.woff") format("woff"),url("/assets/fonts/alegreya/AlegreyaSans-Italic.otf") format("opentype");
//     font-style:italic;font-weight:400;
// }

// @font-face {
//     font-family:"Alegreya Sans";
//     src:url("/assets/fonts/alegreya/AlegreyaSans-Medium.woff2") format("woff2"),url("/assets/fonts/alegreya/AlegreyaSans-Medium.woff") format("woff"),url("/assets/fonts/alegreya/AlegreyaSans-Medium.otf") format("opentype");
//     font-style:normal;font-weight:500;
// }

// @font-face {
//     font-family:"Alegreya Sans";
//     src:url("/assets/fonts/alegreya/AlegreyaSans-MediumItalic.woff2") format("woff2"),url("/assets/fonts/alegreya/AlegreyaSans-MediumItalic.woff") format("woff"),url("/assets/fonts/alegreya/AlegreyaSans-MediumItalic.otf") format("opentype");
//     font-style:italic;font-weight:500;
// }
        
// @font-face {
//     font-family:"Alegreya Sans";
//     src:url("/assets/fonts/alegreya/AlegreyaSans-Bold.woff2") format("woff2"),url("/assets/fonts/alegreya/AlegreyaSans-Bold.woff") format("woff"),url("/assets/fonts/alegreya/AlegreyaSans-Bold.otf") format("opentype");
//     font-style:normal;font-weight:600;
// }

// @font-face {
//     font-family:"Alegreya Sans";
//     src:url("/assets/fonts/alegreya/AlegreyaSans-BoldItalic.woff2") format("woff2"),url("/assets/fonts/alegreya/AlegreyaSans-BoldItalic.woff") format("woff"),url("/assets/fonts/alegreya/AlegreyaSans-BoldItalic.otf") format("opentype");
//     font-style:italic;font-weight:600;
// }

        