// @import "toolkit";          // Import Toolkit from the toolkit gem
@import "normalize";        // Normalize
@import "variables/all";    // Variables
@import "utilities/all";    // Functions
@import "mixins/all";       // Mixins
@import "base/all";         // Base styles
@import "objects/all";      // Objects
@import "components/all";   // Components
@import "helpers/all";      // Helpers
@import "pages/all";  
@import "vendor/all";       // Vendor

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

.header-bg {
  position: absolute;
  top: 0;
  bottom: 50vh;
  left: 0;
  width: 100%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 1) 100%),
    url(https://devinhalladay.imgix.net/2018/11/mercurial-world/cover.png?w=800&fm=jpg&q=100&dpr=2);
}