# Ignore caches and logs
.sass-cache
_asset_bundler_cache/
.bundle/
Gemfile.lock

# Ignore misc. files and folders
_v1/
_site/

# Ignore node dependencies. Ensure you run `node install`!
node_modules/

build.sh