---
layout: default
title: Welcome
---
{% include header.html %}
<section class="site__hero">
  <div class="grid site__hero__headline">
    <p class="grid__col grid__col--6-of-12 grid__col--push-6-of-12 beta">
      Welcome! I'm Devin Halladay, a graphic designer and writer. I craft honest visual solutions. I sincerely care about the stories with which I work and I have an ambition toward the finest of execution.
    </p>
  </div>
</section>
<section class="site__content">
  {% assign post = project %}
  <div class="grid">
    {% for project in site.posts limit:6 %}
      {% if project.type == "featured-project" %}
        <div class="projects grid__col grid__col--4-of-12">
          <figure>
            <img src="/uploads/2014/10/project-image.png" alt="{{ project.title }}">
          </figure>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>