.archive-list, .search-results-list, .tag-list {
  h3 {
    font-size: 1em;
    margin: 1.5em 0 0;
  }
}

.archives {
  h2 {
    margin-top: 2em;
  }
}

.archive__tag-list {
  margin: 1em 0 0 0;
  li {
    display: inline-block;
    list-style-type: none;
    font-size: 1.15em;
    line-height: 1.8em;
    padding: 0;
    a:hover, a:focus {
      color: $blue;
    }
    &:after {
      color: lighten($blue, 70%);
      content: "//";
      padding: 0 3px 0 6px;
      font-size: .7em;
    }
    &:last-child {
      padding: 0;
      &:after {
        content: "";
      }
    }
  }
}