
.header {
  padding-top    : 1em;
  // background-color: #F6F7F8;
  margin-bottom : 2em;
  border-bottom  : 1px dotted $dark-grey;
}

nav {
  padding-bottom : 2.5em;
  // border-bottom  : 1px dotted $dark-grey;

  ul {
    display    : block;

    width      : 100%;
    margin     : 0;
    padding    : 0;

    list-style : none;
  }
  li {
    display : block;
    float   : left;

    &:last-child {
      margin-right : 0;
    }

    &:not(:first-child) {
      float       : right;
      margin-left : 30px;
    }

    a {
      font-family     : $serif-sc;
      font-size       : 1em;
      font-weight     : 500;
      color           : $main-text-color;
      letter-spacing  : 0.5px;
      line-height     : 1em;
      text-decoration : none;
      text-transform  : lowercase;
      border-bottom   : none;

      &:hover {
        color           : $accent-color;
        text-decoration : none;
        border-bottom   : none;
      }
    }

    &.active {
      a {
        color : $accent-color;
      }
    }

    &:first-child {
      a {
        font-weight : bold;
        color       : $main-text-color;
      }
    }
  }
}

/*.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
  margin-bottom: 1em;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: url('/uploads/2013/10/hamburger.gif') 0 no-repeat $main-text-color;
  text-indent: -9999px;
  width: 30px;
  height: 20px;
  text-indent: -9999px;
  display: block;
  width: 30px;
  border-bottom: none;
}*/
@media screen and (max-width: 768px) {
  nav li {
    margin-right : none;

    a {
      font-size : 1em;
    }
    &:not(:first-child) {
      float       : left;
      margin-left : 30px;
    }
  }
}

@media screen and (max-width: 485px) {
  nav li {
    &:first-child {
      float : none;
    }
    &:not(:first-child) {
      float        : left;

      margin-right : 20px;
      margin-left  : 0;
    }
  }
}
/*@media screen and (min-width: 768px) {
  .js .nav-collapse {
    position: relative;
    &.closed {
      max-height: none;
    }
  }
  .nav-toggle {
    display: none;
  }
}*/