
  /*

MAIN CONTENT
--------------------------------------------------------- */
.main-content {
  margin-bottom : 3em;
  ul {
    margin-bottom : 1.618em;
    margin-left   : 0;

    list-style    : none;
  }
}

.page {
  h2 {
    margin : 2em 0 .2em;
  }
}

.page-masthead {
  padding-bottom : 2em;
  hr.long {
    background : transparent;
    border-top : 1px dotted $dark-grey;
  }
}

.entry {
  margin        : 0 0 2em;
  padding       : 0 0 1em;

  border-bottom : 1px dotted $dark-grey;

  &.quote {
    blockquote {
      margin         : auto;
      margin-top     : 0;
      margin-left    : 0;
      padding-bottom : 0;
      padding-left   : 0;

      border-left    : none;

      p {
        color : $main-text-color;
      }
    }
  }
}

.pubdate {
  margin-left : 12px;
  color       : $secondary-text-color;
}

.post {
  position : relative;
  h2 {
    margin      : 0 0 0.3em;
    // font-weight : 600;
  }
}

.full-width-row {
  max-width : 90%
}