/*

MAIN CONTENT
--------------------------------------------------------- */

.main-content {
  // margin-bottom: 4em;
  ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 1.618em;
  }
}

.page {
  h2 {
    margin: 2em 0 .2em;
  }
}

.entry {
  border-bottom: 1px solid darken($light-grey, 10%);
  padding: 0 0 1em;
  margin: 0 0 2em;
  &.quote {
    blockquote {
      margin: auto;
      border-left: none;
      padding-left: 0;
      margin-left: 0;
      margin-top: 0;
      padding-bottom: 0;
      p {
        color: $main-text-color;
      }
    }
  }
}

.pubdate {
  color: $secondary-text-color;
  margin-left: 12px;
}

.post {
  position: relative;
  h2 {
    margin: 0 0 0.3em;
  }
}