.entry {
  p {
    text-indent: 0;
    margin-top: auto;
  }
}

.quote {
  position: relative;
  h4 {
    font-family: $serif-sc;
  }
  p {
    margin-bottom: 0;
    font-style: italic;
    &.date {
      font-style: normal;
    }
    + p {
      text-indent: 2em;
    }
  }
}

.link {
  position: relative;
  h4 {
    font-family: $serif-sc;
  }
}

.date {
  a {
    font-size: 1.1em;
    text-decoration: none;
  }
}