.sidebar {
  .contain {
    position: relative;
  }
  img {
    width: auto;
    @media screen and (max-width: 500px ) {
      max-width: 80px;
      width: 100%;
    }
  }
}

.sidebar__ad {
  position: absolute;
  top: 120px;
  left: 110%;
  @media screen and (max-width: 1005px ) {
    position: static;
    margin: 0 0 2em;
    width: 280px;
  }
}

.fusionimg {
  @media screen and (max-width: 1005px ) {
    float: left;
    margin: 0 .8em 0 0;
  }
}

.fusiontext {
  color: lighten(#272727, 50%);
  display: block;
  font-size: .7em;
  line-height: 155%;
  margin: .5em 0;
  text-decoration: none;
  @media screen and (max-width: 1005px ) {
    margin-top: 0;
  }
  &:hover {
    text-decoration: underline;
  }
}

.fusionlink {
  color: lighten(#272727, 65%);
  font-size: .65em;
  font-weight: bold;
  line-height: 130%;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: lighten(#272727, 65%);
  }
}

.bsap .one .bsa_it_ad {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  height: 90px;
  padding: 0 0 15px;
}

.one .bsa_it_ad {
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #E1E1E1;
  display: block;
  font-family: helvetica,arial,sans-serif;
  line-height: 100%;
  padding: 15px;
  position: relative;
}

#block-sponsor .one {
  .bsa_it_p {
    bottom: 0;
    display: block;
    position: absolute;
    right: 0;
    text-align: right;
  }
  .bsa_it_ad .bsa_it_i {
    margin: 0px 29px 10px 0px;
  }
}

.one .bsa_it_ad a {
  font-weight: normal;
  font-style: normal;
}

body {
  #block-sponsor .one .bsa_it_p {
    display: none;
  }
  #bsap_aplink {
    font-size: 10px;
    &:hover {
      font-size: 10px;
    }
  }
}

a#jobs-ad {
  color: #ff3706;
}