.work {
  img {
    margin-bottom: 0;
    border: 1px solid $dark-grey;
  }
  ul {
    margin: 0;
    li:before {
      display: none;
    }
  }
  figure {
    a {
      border-bottom: none;
    }
  }
  .overlay {
    display: block;
    visibility: hidden;
    opacity: 0;
    padding: 80px 20px;
    width: 100%;
    height: 97%;
    position: absolute;
    top: 0;
    left: 0;
    background: $accent-color;
    background: rgba($accent-color,0.8);
    color: #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
}

.work-entry {
  a {
    border-bottom: none;
    .overlay {
      h4 {
        text-align: center;
        color: #fff;
        font-weight: 600;
      }
    }
    &:hover {
      .overlay {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  figure {
    display: block;
    position: relative;
  }
  figcaption {
    text-align: center;
    font-weight: 600;
  }
}