.clearfix {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  *zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

.align-center {
  text-align: center;
}