/*

OBJECTS
------------------------------------------- */

html {
  min-height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  margin: 0 auto;
  background: #fff;
  cursor: default;
  border-top: 8px solid $blue;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 980px;
}