/*

PAGE NAVIGATION
------------------------------------------- */

.pagination {
  border-bottom: 1px solid $dark-grey;
  text-align: center;
  margin: 0 0 8% 0;
  ul {
    margin: 0;
    list-style-type: none;
    li {
      font-family: $sans;
      display: inline-block;
      margin: 0;
      line-height: inherit;
      padding: 0;
    }
  }
  a {
    background: $main-text-color;
    border: none !important;
    display: inline-block;
    padding: 5px 14px;
    margin: 0 5px;
    font-size: .85em;
    font-weight: bold;
    color: white;
    text-decoration: none !important;
    @include border-radius (4px);
    &:hover {
      background: $accent-color;
      color: white;
    }
    &:active {
      box-shadow: inset 2px 2px 0 $heading-text-color;
    }
  }
}

.disabled {
  background: $heading-text-color;
  color: #fff;
  padding: 5px 14px !important;
  margin: 0 5px;
  @include border-radius (4px);
  border: none !important;
  display: inline-block;
  font-weight: bold;
  font-size: .85em;
}