/*

PAGE NAVIGATION
------------------------------------------- */

.pagination {
  ul {
    margin: 0;
    list-style-type: none;
    li {
      font-family: $sans;
      display: inline-block;
      margin: 0;
      line-height: inherit;
      padding: 0;
    }
  }
  a {
    font-size: .85em;
    font-weight: bold;
  }
}

.disabled {
  color: $dark-grey;
  font-weight: bold;
  font-size: 0.9em;
}

.previous {
  float: left;
}

.next {
  float: right;
}