//$serif: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
//$serif: "ratio","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
$sans: "proxima-nova", Helvetica, Avenir, Arial, sans-serif;
$serif: "ff-meta-serif-web-pro", Georgia, 'Times New Roman', serif;

$blue: #111;