//$serif: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
//$serif: "ratio","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
$sans: "Whitney SSm A","Whitney SSm B",Geneva,Verdana,sans-serif;
$sans-sc: "Whitney SSm SC A", "Whitney SSm SC B", "Whitney SSm A", "Mercury SSm B", Geneva, Verdana, sans-serif;
$serif: "Mercury SSm A", "Mercury SSm B", Georgia,serif;
$serif-sc: "Mercury SSm SC A","Mercury SSm SC B","Mercury SSm A","Mercury SSm B",Georgia,serif;
$display-font: "Chronicle Display A","Chronicle Display B","Mercury SSm A","Mercury SSm B",Georgia,serif;

$blue: #111;