// @import "toolkit";

// Normalize
@import "normalize";

// Variables
@import "variables/all";

// Functions
@import "utilities/all";

// Mixins
@import "mixins/all";

// Base styles
@import "base/all";

// Objects
@import "objects/all";

// Components
@import "components/all";

// Helpers
@import "helpers/all";

// Vendor
@import "vendor/all";


#filters {
  margin-bottom: 2em;
  text-align: center;
  // trickery/hackery to counteract the margin-top of contained div referenced below
  margin-top: -1em;

  div {
    cursor: pointer;
    margin-top: 1em;
    font-family: $monospace;
    font-size: 0.8em;
    display: inline-block;
    margin-right: 1em;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 0.2em 0.6em;
    transition: all 0.25s ease-in-out;
  }
}

.mix{
  display: none;
}
