<% wrap_layout :layout do %>

<section class="hero hero--project">
  <a href="/" class="return-link"><span></span> Back home</a>
  <h1><%= current_page.title %></h1>
  <h2><%= current_page.data.description %></h2>
  <p class="byline"><%= current_page.data.scope %></p>
</section>

<%= yield %>

<% end %>