---
layout: default
title: Hall Pass
cover-image: "/uploads/2014/10/hall-pass-cover-800.png"
class: "page__project page__project--hall-pass"
published: false
---
<section class="site__hero"></section>

<section class="site__hero--blurred"></section>

<section class="site__content wrap">
  <div class="grid">
    <div class="grid__col grid__col--12-of-12">
      <h1>Hall Pass</h1>
    </div>
  </div>
  <div class="grid">
    <div class="grid__col grid__col--3-of-12">
      <h2>Project Info</h2>
      <p class="sans">
        <strong>—Role</strong>
        <br>
        Identity Design
      </p>
      <p class="sans">
        <a href="http://twitter.com/share?text=Check out this project by @devinhalladay. {{ site.url }}{{ page.url }} What do you think?&amp;related=devinhalladay&amp;url={{ page.url }}" class="button" target="_blank">Tweet it!</a>
      </p>
    </div>

    <div class="grid__col grid__col--7-of-12">
      <p class="text--lead">
        Hall Pass is a simple app that allows students to enter school events seamlessly.
      </p>

      <p class="sans">
        After some talk, we decided to not use these concepts because we wanted to make sure the Hall Pass app did not become its own brand.
      </p>

      <hr class="hr--short">

      {% include full-width-image.html alt="Hall Pass Logo" url="/uploads/2014/10/hall-pass/logo.png" %}
    </div>
  </div>
  <div class="grid">
    <div class="grid__col grid__col--6-of-12">
      <h3>Concepts</h3>
      <p>I started out sketching some thumbnail ideas, as I always do, and decided to move forward with a sort of play-button/ticket stub concept.</p>
      <p>Here are a bunch of early concepts we came up with. Some good, some bad, some horrible. That's the way the cookie crumbles, I guess.</p>
    </div>
    <div class="grid__col grid__col--6-of-12">
      {% include full-width-image.html alt="Concept 1" url="/uploads/2014/10/hall-pass/concept-1.png" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
      {% include full-width-image.html alt="Concept 2" url="/uploads/2014/10/hall-pass/concept-2.png" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
      {% include full-width-image.html alt="Concept 3" url="/uploads/2014/10/hall-pass/concept-3.png" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
      {% include full-width-image.html alt="Concept 4" url="/uploads/2014/10/hall-pass/concept-4.png" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
      {% include full-width-image.html alt="Concept 4" url="/uploads/2014/10/hall-pass/concept-5.png" %}
    </div>
    <div class="grid__col grid__col--12-of-12">
      <h3>Color Schemes</h3>
    </div>
    <div class="grid__col grid__col--6-of-12">
      {% include full-width-image.html alt="Scheme 1" url="/uploads/2014/10/hall-pass/color-scheme-1.png" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
      {% include full-width-image.html alt="Scheme 2" url="/uploads/2014/10/hall-pass/color-scheme-2.png" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
      {% include full-width-image.html alt="Scheme 3" url="/uploads/2014/10/hall-pass/color-scheme-3.png" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
      {% include full-width-image.html alt="Scheme 4" url="/uploads/2014/10/hall-pass/color-scheme-4.png" %}
    </div>
  </div>
</section>