---
layout: default
title: The Ministry of Print
cover-image: "/uploads/2014/10/ministry-cover-800.png"
class: "page__project page__project--ministry"
stylesheet: "page__project--ministry"
---
<section class="site__hero"></section>

<section class="site__hero--blurred"></section>

<section class="site__content">
  <div class="grid">
    <div class="grid__col grid__col--12-of-12">
      <h1>The Ministry of Print</h1>
    </div>
  </div>
  <div class="grid">
    <div class="grid__col grid__col--3-of-12">
      <h2>Project Info</h2>
      <p class="sans">
        <strong>—Client</strong>
        <br>
        Personal
      </p>
      <p class="sans">
        <strong>—Role</strong>
        <br>
        Design, Development,<br>Branding
      </p>
      <a href="http://twitter.com/share?text=Check out this project by @devinhalladay. {{ site.url }}{{ page.url }} What do you think?&amp;related=devinhalladay&amp;url={{ page.url }}" class="button" target="_blank">Tweet it!</a>
    </div>

    <div class="grid__col grid__col--6-of-12">
      <p class="text--lead">
        The Ministry of Print was a personal shop where I sold limited edition prints of the posters I design. I designed the posters, visual identity, and took care of production.
      </p>

      <p class="sans">
        Poster sales are now complete, but I'm posting the designs below for POSTERity's sake (pun obvsiously intended). And as always: be nice, don't steal.
      </p>

      <hr class="hr--short">

    </div>
  </div>
  <div class="grid">
    <div class="grid__col grid__col--9-of-12 grid__col--push-3-of-12">
      {% include full-width-image.html alt="Perception Poster" url="/uploads/2014/10/ministry/crown.png" %}
    </div>
    <div class="grid__col grid__col--12-of-12">
      {% include full-width-image.html alt="Perception Poster" url="/uploads/2014/10/ministry/perception-2000.png" %}
      {% include full-width-image.html alt="Synesthesia Poster" url="/uploads/2014/10/ministry/synesthesia-2000.png" %}
      {% include full-width-image.html alt="Modern Influence Poster" url="/uploads/2014/10/ministry/modern-influence-2000.png" %}
      {% include full-width-image.html alt="Wave Poster" url="/uploads/2014/10/ministry/wave-2000.png" %}
      {% include full-width-image.html alt="Disruption Poster" url="/uploads/2014/10/ministry/disruption-2000.png" %}
      {% include full-width-image.html alt="Retrograde Poster" url="/uploads/2014/10/ministry/retrograde-2000.png" %}
      {% include full-width-image.html alt="Misaligned Poster" url="/uploads/2014/10/ministry/misaligned-2000.png" %}
      {% include full-width-image.html alt="Column Poster" url="/uploads/2014/10/ministry/column-2000.png" %}
      {% include full-width-image.html alt="Entangled Poster" url="/uploads/2014/10/ministry/entangled-2000.png" %}
      {% include full-width-image.html alt="Confusion Poster" url="/uploads/2014/10/ministry/confusion-2000.png" %}
      {% include full-width-image.html alt="Impression Poster" url="/uploads/2014/10/ministry/impression-2000.png" %}
      {% include full-width-image.html alt="Magic 8 Ball Poster" url="/uploads/2014/10/ministry/magic-8-ball-2000.png" %}
      {% include full-width-image.html alt="Oceania Poster" url="/uploads/2014/10/ministry/oceania-2000.png" %}
      {% include full-width-image.html alt="Order Poster" url="/uploads/2014/10/ministry/order-2000.png" %}
      {% include full-width-image.html alt="Perception is Reality Poster" url="/uploads/2014/10/ministry/perception-is-reality-2000.png" %}
      {% include full-width-image.html alt="Ping Poster" url="/uploads/2014/10/ministry/ping-2000.png" %}
    </div>
  </div>
</section>