---
layout: default
title: Oddball
cover-image: "/uploads/2014/10/oddball-cover-800.png"
class: "page__project page__project--oddball"
stylesheet: "page__project--oddball"
---
<section class="site__hero"></section>

<section class="site__hero--blurred"></section>

<section class="site__content">
  <div class="grid">
    <div class="grid__col grid__col--12-of-12">
      <h1>Oddball</h1>
    </div>
  </div>
  <div class="grid">
    <div class="grid__col grid__col--3-of-12">
      <h2>Project Info</h2>
      <p class="sans">
        <strong>—Client</strong>
        <br>
        <a href="http://wearoddball.com">Oddball</a>
      </p>
      <p class="sans">
        <strong>—Role</strong>
        <br>
        Design, Development,<br>Branding,<br>eCommerce,<br>Brand Strategy
      </p>
      <p class="sans">
        <strong>—Web Technologies</strong>
        <br>
        HTML, CSS, JS, Ruby, Ruby on Rails, WordPress, Sass, Less
      </p>
      <a href="http://twitter.com/share?text=Check out this project by @devinhalladay. {{ site.url }}{{ page.url }} What do you think?&amp;related=devinhalladay&amp;url={{ page.url }}" class="button" target="_blank">Tweet it!</a>
    </div>

    <div class="grid__col grid__col--6-of-12">
      <p class="text--lead">
        Oddball is a family-owned-and-run lifestyle and fashion company (and by family, I mean part of my family: my eldest brother and my dad). While they design the products, I have been responsible for the branding, multiple websites, and brand strategy.
      </p>

      <p class="sans">
        To date I've worked on a ton of promotional materials, brand collateral, web design and development, and identity design. The brand is still taking shape and continuously evolving, but the future of the brand looks promising.
      </p>

      <hr class="hr--short">

    </div>
  </div>
  <div class="grid">
    <div class="grid__col grid__col--9-of-12 grid__col--push-3-of-12">
      {% include full-width-image.html alt="Oddball Logo" url="/uploads/2014/10/oddball/logo.png" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
      {% include full-width-image.html alt="Perception Poster" url="/uploads/2014/10/oddball/bead-1.png" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
      {% include full-width-image.html alt="Perception Poster" url="/uploads/2014/10/oddball/bead-2.png" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
      {% include full-width-image.html alt="Perception Poster" url="/uploads/2014/10/oddball/bead-4.png" %}
    </div>
    <div class="grid__col grid__col--6-of-12">
      {% include full-width-image.html alt="Perception Poster" url="/uploads/2014/10/oddball/bead-5.png" %}
    </div>
  </div>
</section>