h1, h2, h3, h4, h5 {
  font-family: $serif;
  font-weight: 800;
  color: #2b292b;
  line-height: 1.2em;
  margin: 0.3em 0 0.5em 0;
}

h1 {
  font-size: 2.618em;
  line-height: 1.2em;
  margin: 0.3em 0 0.5em 0;
}

h2 {
  font-size: 1.618em;
}

h3 {
  font-size: 1.324em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.818em;
}

em {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

ul {
  list-style: disc outside none;
  margin-bottom: 1.618em;
  margin-left: 2.5em;
}

ol {
  list-style: decimal outside none;
  margin-bottom: 1.618em;
  margin-left: 2.5em;
}

img {
  margin-bottom: 1.618em;
}

.cite {
  font-size: 0.618em;
  font-style: italic;
  display: block;
}

hr {
  background: #DDD;
  border: none;
  -moz-box-shadow: 0 1px 0 #FFF;
  -webkit-box-shadow: 0 1px 0 #FFF;
  box-shadow: 0px 1px 0 #FFF;
  height: 1px;
}

blockquote {
  margin: 0 0 1.618em -30px;
  border-left: 6px solid $blue;
  padding-left: 20px;
  margin-left: -26px;
  margin-top: -1px;
  padding-bottom: 3px;
  p {
    margin-bottom: 0;
    font-style: italic;
    color: #999;
    + p {
      text-indent: 2em;
    }
  }
  &.pullquote {
    border-left: none;
    margin: auto;
    p {
      color: #444;
      margin: 0 -80px 2em;
      line-height: 1.5;
      text-align: center;
      font-size: 26px;
      padding: 0;

      @media screen and (max-width: 768px) {
        margin: 0 -30px 1em;
        font-size: 1.3em;
        line-height: 1.618em;
      }
    }
  }
}

i {
  font-size: 22px;
  color: $blue;
  vertical-align: middle;
  margin-left: 10px;
}

aside {
  font-size: 16px;
  line-height: 29px;
  margin-left: -12em;
  margin-top: 0.3em;
  position: absolute;
  text-align: right;
  width: 160px;

  @media screen and (max-width: 1052px) {
    color: #999;
    display: block;
    font-style: italic;
    margin-bottom: 1.5em;
    padding: 0;
    position: inherit;
    text-align: center;
    width: inherit;
    margin-left: 0;
    margin: auto;
  }
}

.is-selected a {
  color: $blue;
}