<section class="call-to-action" style="background-color: <%= current_page.data.color %>;">
  <div class="grid wrap">
    <div class="grid__col grid__col--centered grid__col--7-of-12">
      <h2>Like what you see?</h2>
      <p>
        <a class="beta button skew-forward" href="/contact">Let's make something great together</a>
      </p>
    </div>
  </div>
</section>
