<section class="call-to-action" style="background-color: <%= current_page.data.color %>;">
  <div class="grid wrap">
    <div class="grid__col grid__col--centered grid__col--7-of-12">
      <h2>Like what you see? Let's work together.</h2>
    </div>
  </div>
</section>
