<footer>
  <div class="container">
    <nav>
      <ul>
        <% for link in data.navigation.links %>
          <li><%= active_link_to link.title, link.url %></li>
        <% end %>
      </ul>
    </nav>
    <p class="u-font-sans u-font-caps"><a href="mailto:studio@devinhalladay.com">studio@devinhalladay.com</a></p>
    <!-- <p><em>“Men must live and create. Live to the point of tears.”</em></p> -->
    <p id="obliquestrategies">An Oblique Strategy: <em></em></p>
    <nav>
      <ul class="u-font-meta">
        <li><%= active_link_to 'Colophon', '/colophon' %></li>
      </ul>
    </nav>
    <p class="u-font-meta">Copyright &copy; &infin; Devin Halladay.</p>
  </div>
</footer>
