<footer>
  <h3 class="lined u-font-meta u-font-mono"><%= active_link_to 'Colophon', '/colophon' %></h3>
  <div class="container">
    <nav>
      <ul>
        <% for link in data.navigation.links %>
          <li><%= active_link_to link.title, link.url %></li>
        <% end %>
      </ul>
    </nav>
    <!-- <p class="u-font-mono u-font-caps"><a href="mailto:studio@devinhalladay.com">studio@devinhalladay.com</a></p> -->
    <p class="u-font-mono" id="obliquestrategies">An Oblique Strategy: <em></em></p>
    <p class="u-font-meta u-font-sans"><em>"Bring something incomprehensible into the world!"</em> — Deleuze, <em>A Thousand Plateaus</em></p>
    <p class="u-font-meta">Copyright &copy; &infin; Devin Halladay.</p>
  </div>
</footer>
