<footer class="container">
  <h3 class="lined u-font-meta u-font-mono">AMOR FATI</h3>
  <div class="container">
    <p class="u-font-mono u-font-caps"><a href="mailto:studio@devinhalladay.com">studio@devinhalladay.com</a></p>
    <p class="u-font-mono" id="obliquestrategies">An Oblique Strategy: <em></em></p>
    <p class="u-font-meta">Copyright &copy; &infin; Devin Halladay.</p>
  </div>
</footer>
