<footer class="container">
  <h3 class="lined u-font-meta u-font-caps">Design, Etc.</h3>
  <div class="container">
    <p class="u-font-caps"><a href="mailto:studio@devinhalladay.com">studio@devinhalladay.com</a></p>
    <p id="obliquestrategies">An Oblique Strategy: <em></em></p>
  </div>
</footer>
