<div class="button_container" id="toggle">
  <span class="caps menu-title">MENU</span>
  <span class="menu-icon">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span></span>
  </span>
</div>

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <% for link in data.navigation.links %>
        <li><%= active_link_to link.title, link.url %></li>
      <% end %>
    </ul>
  </nav>
</div>
