<div class="button_container" id="toggle">
  <span class="caps menu-title">MENU</span>
  <span class="menu-icon">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span></span>
  </span>
</div>

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li><%= active_link_to 'Home', '/' %></li>
      <li><%= active_link_to 'Journal', '/journal' %></li>
      <li><%= active_link_to 'Profile', '/profile' %></li>
      <li><%= active_link_to 'Contact', '/contact' %></li>
    </ul>
  </nav>
</div>
