<figure>
  <a href="<%= url %>" class="fluidbox" data-no-instant>
    <img <% unless defined? border %>class="bordered"<% end %> data-layzr="<%= url %>">
  </a>
  <figcaption><%= figcap ||= "" %></figcaption>
</figure>
