<header class="site__header">
  <div class="wrap">
    <a href="/" class="header__link--name">Devin Halladay</a>
    <nav class="site__header__nav nav-collapse">
      <ul>
        <% data.pages.each do |p| %>
          <li>
            <a href="<%= p.link %>" class="<% if current_page.url == p.link %>current<% end %>"><%= p.page %></a>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>