<header class="site__header">
  <div class="wrap">
    <a href="/" class="header__link--name">Devin Halladay</a>
    <nav class="site__header__nav nav-collapse">
      <ul>
        <% data.pages.each do |p| %>
          <%= link_to_page p.page, p.link[0...-1] %>
        <% end %>

      </ul>
    </nav>
  </div>
</header>
