<header>
  <div class="container">
    <div class="header-group">
      <a href="/" class="site-title">Devin Halladay</a>
      <div class="line"></div>
    </div>

    <div class="header-group header-group--subtitle">
      <h3 class="u-font-small"><%= header_title %></h3>
    </div>

    <div class="header-group site-nav">
      <div class="line"></div>
      <nav>
        <ul>
          <% for link in data.navigation.links %>
            <li><%= active_link_to link.title, link.url %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
