<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

<!-- Use title if it's in the page YAML frontmatter -->
<title><%= "#{current_page.data.title} &mdash; Devin Halladay" || "Devin Halladay" %></title>

<!-- Twitter Card -->

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="@devinhalladay">
<meta property="twitter:creator" content="@devinhalladay">
<meta property="twitter:title" content="Devin Halladay — Graphic Designer">
<meta property="twitter:description" content="I am a branding, print, and web designer in Baltimore, Maryland. I like making bold work with even bolder people.">
<meta property="twitter:image" content="http://devinhalladay.com/images/2016/07/seo-image.png">

<!-- Facebook OpenGraph -->

<meta property="og:type" content="website">
<meta property="og:locale" content="en_us">
<meta property="og:url" content="https://devinhalladay.com/contact">
<meta property="og:title" content="Devin Halladay — Contact">
<meta property="og:description" content="I am a branding, print, and web designer in Baltimore, Maryland. I like making bold work with even bolder people.">
<meta property="og:image" content="http://devinhalladay.com/images/2016/07/seo-image.png">
<meta property="og:site_name" content="Devin Halladay">
<meta property="og:see_also" content="https://twitter.com/devinhalladay">
<meta property="og:see_also" content="https://www.dribbble.com/devinhalladay">
<meta property="og:see_also" content="https://www.instagram.com/devinhalladay">
<meta property="og:see_also" content="https://www.linkedin.com/in/devinhalladay">

<%= stylesheet_link_tag :site %>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>


<%= javascript_include_tag :all %>
<script src="/javascripts/vendor/isotope.js"></script>

<script>
  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
  d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
  insertBefore(d,q)}(window,document,'script','_gs');

  _gs('GSN-044261-H');
</script>
