<section class="c-newsletter">

  <%= partial("partials/section-title", :locals => { :title => "Subscribe to my newsletter, Occasionally Absurd!" }) %>

  <div class="row center-xs">
    <div class="col-xs-12">
      <h2 class="u-font-center u-font-mega" data-text="Occasionally Absurd"><span class="light-blue">Occasionally</span><br><span data-text="Absurd" class="dark-blue">Absurd</span></h2>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-6">
      <p>Occasional letters about design, philosophy, relationships, poetry, movies, art, and anything else under the sun. You never know what you'll get, but it will always be candid and thoughtful. That's my promise.</p>
      <div id="mc_embed_signup">
        <form action="//devinhalladay.us13.list-manage.com/subscribe/post?u=c70c514eb4e65a1a1cec41dea&amp;id=8a003539e4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">

          <div class="mc-field-group">
          	<label for="mce-FNAME" class="u-font-sans u-font-small">First Name*</label>
          	<input type="text" value="" name="FNAME" placeholder="Zarathustra" class="required" id="mce-FNAME">
          </div>

          <div class="mc-field-group">
          	<label for="mce-EMAIL" class="u-font-sans u-font-small">Email Address*</label>
          	<input type="email" value="" name="EMAIL" placeholder="nietzsche@zarathustra.com" class="required email" id="mce-EMAIL">
          </div>

        	<div id="mce-responses" class="clear">
        		<div class="response u-font-sans" id="mce-error-response" style="display:none">test</div>
        		<div class="response u-font-sans" id="mce-success-response" style="display:none"></div>
        	</div>

           <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c70c514eb4e65a1a1cec41dea_8a003539e4" tabindex="-1" value=""></div>

          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </form>
      </div>

      <%= javascript_include_tag :mcvalidate, :async => true %>

      <script type='text/javascript'>
        (function($) {
          window.fnames = new Array();
          window.ftypes = new Array();
          fnames[1]='FNAME';
          ftypes[1]='text';
          fnames[0]='EMAIL';
          ftypes[0]='email';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
      </script>
    </div>
  </div>
</section>
