<section class="subscriptions">
  <div class="wrap">
    <div class="grid">
      <div class="grid__col grid__col--7-of-12 grid__col--centered">
        <h3>Occasionally Absurd Newsletter</h3>

        <p>This is a little newsletter I publish occasionally in which I talk to myself about absurd things and undeveloped thoughts.</p>

        <form action="https://tinyletter.com/devinhalladay" method="post" onsubmit="window.open('https://tinyletter.com/devinhalladay', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true" target="popupwindow" class="newsletter-subscription">

          <input type="hidden" value="1" name="embed">

          <input id="tlemail" type="text" name="email" placeholder="Enter your email and hit enter..." class="form-textfield form-textfield--icon">

          <svg viewBox="0 0 50 36"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg--email"></use></svg>

          <div class="form-success"><strong>Thank you</strong> for subscribing!</div>

          <div class="form-row-error" data-error-for="email" style="display: none;"></div>
        </form>
      </div>
    </div>
  </div>
</section>