<a href="https://twitter.com/intent/tweet?original_referer=<%= current_page.url %>&amp;text=Great post by @devinhalladay!%0D%0D&ldquo;<%= current_page.title %>&rdquo;:&amp;tw_p=tweetbutton&amp;url=<%= current_page.url %>" class="twitter-button button twitter-share-button" data-size="large" data-related="devinhalladay" data-count="none" data-dnt="true">Tweet</a>

<a href="https://twitter.com/devinhalladay" class="twitter-button button twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @devinhalladay</a>