<div class="work-filter">
  <div class="nav-container">
    <nav>
      <div data-filter="all" class="filter-all filter">All</div>
      <% for f in data.filters %>
         <% filters = f.item_class.split %>
         <div <% for filter in filters %>data-filter=".<%= filter %>"<% end %> class="filter"><%= f.title %></div>
      <% end %>
    </nav>
  </div>
</div>
