<div class="container">
  <h1>Top right corner, click it!</h1>
  <p>View type 2 <a href="http://codepen.io/PaulVanO/pen/GgGeyE" target="_blank">here</a></p>
</div>

<div class="button_container" id="toggle">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li ><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Work</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</div>
