<div class="block block-gallery medium-margin">
    <% blog.articles.each do |project| %>
      <div class="gallery-slide">
        <a href="<%= project.url %>">
          <div class="image" style="background-image: url(/assets/images/cover-1.png)"></div>
          <div class="caption">
            <div class="title--block">
              <%= project.title %>
            </div>
            <div class="meta--block">
              <%= project.data.scope %>
            </div>
          </div>
          <p class="carousel-status"></p>
        </a>
      </div>
    <% end %>
  </div>