<%= partial("partials/section-title", :locals => { :title => "Subscribe to my newsletter, Occasionally Absurd!" }) %>

<section class="c-newsletter">
  <div class="row center-xs">
    <div class="col-xs-12">
      <h2 class="u-font-center u-font-mega"><span class="light-blue">Occasionally</span><br><span class="dark-blue">Absurd</span></h2>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-7">
      <p>Occasionally Absurd a personal letter from me too you ever once in a while. It’s always transparent, sometimes serious, and occasionally absurd. One week I might talk about design, the next about breakups, or life lessons, or a piece I’m working on. You never know what you’re going to get.</p>
      <p>If that sounds interesting to you, go ahead an sign up! I’ll send you a welcome email personally and make sure you get something good out of this occasional letter from me to you.</p>
      <p class="u-font-meta u-font-sans">To subscribe, enter your email address below and hit enter!</p>

      <div class="input">
        <input type="text" name="email" placeholder="Enter your email and hit enter...">
        <a href="#" class="button">Subscribe!</a>
      </div>
    </div>
  </div>
</section>
