  <div class="footer clearfix">
    <div class="grid">
      <div class="grid__col grid__col--6-of-12">
        <small>
          <h3 class="text--serif-sc">About Me</h3>
          <p>Welcome! I'm Devin Halladay, designer and writer. I craft beautiful and honest visual solutions. <strong>I sincerely care about the stories with which I work and I have an ambition towards the finest of execution.</strong></p>
        </small>
      </div>
    </div>
  </div>

  {% javascript devin %}
  {% if page.custom_js %}{{ page.custom_js | javascript }}{% endif %}
  {% if page.custom_script %}<script data-no-instant src="{{ page.custom_script }}"></script>{% endif %}
  <script data-no-instant>InstantClick.init();</script>