<footer class="site__footer">
  <div class="site__footer__content wrap">
    <div class="grid">
      <div class="grid__col grid__col--4-of-12">
        <p>This is the end of the road, my friend.<br>I'll see you on the other side.</p>
        <p>&copy; <em>Forever</em> Devin Halladay.<br>Be nice, don't steal.</p>
      </div>
      <div class="grid__col grid__col--4-of-12">
        <p>
          <a href="mailto:studio@devinhalladay.com">studio@devinhalladay.com</a>
          <br><br>
          <a href="http://twitter.com/devinhalladay">Twitter</a>, <a href="http://dribbble.com/devinhalladay">Dribbble</a>, <a href="http://github.com/devinhalladay">GitHub</a>
        </p>
      </div>
      <div class="grid__col grid__col--4-of-12">
        <p><strong>Now Playing</strong></p>
        <div class="jams"></div>
      </div>
    </div>
  </div>
</footer>