<div class="header">
  <div class="row">
    <div class="large-6 small-11 columns small-centered large-centered">
      <nav class="nav-collapse">
        <ul id="menu-main-nav" class="menu">
          <li id="menu-item-59" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-59"><a href="/">{{ site.title }}</a></li>
          {% for page in site.pages %}
            <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>