<!DOCTYPE html>

<!--
    I'm Devin Halladay.
    This is my humble website.
    But it's more than a website.
    This is my home.
    A place where I can write.
    A place where I can share
    without being criticized.

    Welcome.
-->

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
  <meta name="robots" content="NOODP">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Facebook Article Info -->
  <meta property="og:image" content="https://twitter.com/api/users/profile_image/devinhalladay?size=original">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}">
  <meta property="og:site_name" content="Devin Halladay">
  <meta property="og:url" content="http://devinhalladay.com{{ page.url }}">
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 156 }}">

  <!-- Twitter Info -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@devinhalladay">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.excerpt | strip_html | truncate: 200 }}">
  <meta name="twitter:creator" content="@devinhalladay">
  <meta name="twitter:image:src" content="https://twitter.com/api/users/profile_image/devinhalladay?size=original">
  <meta name="twitter:domain" content="devinhalladay.com">

  <link rel="alternate" type="application/rss+xml" title="RSS Feed for devinhalladay.com" href="/atom.xml" />

  <!-- <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7806452/772864/css/fonts.css" /> -->

  <!-- <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7806452/639386/css/fonts.css" /> -->

  {% if page.custom_js %}{{ page.custom_js | javascript }}{% endif %}

  <!-- Custom CSS -->

  <!-- <script>
    function getStylesheet() {
      var currentTime = new Date().getHours();
      if (0 <= currentTime&&currentTime < 5) {
       document.write('{% stylesheet devin--night %}');
      }
      if (5 <= currentTime&&currentTime < 11) {
       document.write('{% stylesheet devin %}');
      }
      if (11 <= currentTime&&currentTime < 16) {
       document.write('{% stylesheet devin %}');
      }
      if (16 <= currentTime&&currentTime < 22) {
       document.write('{% stylesheet devin %}');
      }
      if (19 <= currentTime&&currentTime <= 24) {
       document.write('{% stylesheet devin--night %}');
      }
    }

    getStylesheet();
  </script>-->

  {% stylesheet devin %}

  {% if page.custom_css %}{{ page.custom_css | stylesheet }}{% endif %}

  <script>
    !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
    arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
    d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
    insertBefore(d,q)}(window,document,'script','_gs');
    _gs('GSN-736835-P');
  </script>
</head>
<body {% if page.custom_class %}class="{{ page.custom_class }}"{% endif %}>
  {% capture currentURL %}{{ page.url | replace: '/', ' ' | truncatewords: 1 | remove: '...' | remove: ' ' }}{% endcapture %}
  {% capture hero %}{{ page.url | replace: '/', ' ' | truncatewords: 1 | remove: '...' | remove: ' ' }}{% endcapture %}
  <div class="header">
    <div class="grid">
      <div class="grid__col grid__col--6-of-12">
        <h1><strong>My name is Devin Halladay</strong>. I'm a graphic designer and writer. <br> I craft honest visual solutions. I sincerely care about the stories with which I work and I have an ambition toward the finest of execution.</h1>
        <nav>
          <ul>
            {% for page in site.data.pages %}
              <li><a href="{% if page.url == 'index.html' %}/{% else %}/{{ page.url }}{% endif %}" class="{% if currentURL == page.url %} header__link--active{% elsif currentURL == '/' %} header__link--active{% endif %}" title="{{ page.title }}" data-no-instant>{{ page.page }}</a></li>
            {% endfor %}
            <!-- <div class="clearfix"></div>
            <li class="left"><a href="/dedicated-to" class="{% if currentURL == 'dedicated-to' %}header__link--active{% endif %}" title="{{ page.title }}" data-no-instant>
              {% if page.categories contains "dedicated-to" %}
                Dedicated to {{ page.title }}
              {% else %}
                Dedicated to the Best of Us
              {% endif %}
            </a></li> -->
          </ul>
        </nav>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <hr class="hr--long">
