article {
  // Reset text alignment so the parent element does not center it.
  text-align: left;
}

.journal {
  h1.u-font-mega {
    margin-top: 0.5em;
    padding-bottom: 1em;
    margin-bottom: 0.4em;
    border-bottom: 1px solid $dark-white;
    @media all and (max-width: 48em) {
      font-size: 3em;
      padding-bottom: 1em;
    }
  }
}

.article {
  .article-title {
    text-decoration: none;
    padding-bottom: 0.1em;
    h1 {
      margin-bottom: 0;
      line-height: 1.2;
      font-family: $display-serif;
      // font-weight: 400;
    }
  }
  .article-date {
    font-style: italic;
  }
}

article + hr {
  margin-bottom: 1.14706rem;
}
