.button {
  text-decoration: none;
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 1em;
  border: none;
  padding: 0.6em 0 0.4em;
  color: #fff;
  font-family: $sans-serif;
  background-color: $site-color;
  &:hover {
    background-color: lighten($site-color, 10%);;
  }
}
