.c-cta-section {
  display: block;
  text-align: center;
  margin-top: 1em;
  line-height: 3;
  height: 2.7em;
  border: none;
  font-family: $sans-serif;
  background-color: #F7F7F7;
}

.available {
  color: #0fcf7b;
}
