footer {
  @extend %u-font-center;
  background-color: $dark-white;
  color: $black;
  p {
    margin-bottom: 2em;
  }
  nav {
    margin-bottom: 2em;
    padding-top: 2em;
    ul {
      padding-left: 0;
    }
  }
  nav li {
    display: inline-block;
    &:not(:last-child) {
      padding-right: 1em;
    }
  }
  .u-font-meta {
    color: $black;
    opacity: 0.5;
  }
}
