footer {
  @extend %u-font-center;
  padding-top: 2em;
  color: $dark-black;
  p {
    margin-bottom: 2em;
  }
  nav {
    margin-bottom: 2em;
    ul {
      padding-left: 0;
    }
  }
  nav li {
    display: inline-block;
    &:not(:last-child) {
      padding-right: 1em;
    }
  }
  .u-font-meta {
    // color: $dark-white;
    // opacity: 0.5;
  }
}

h3.lined {
  font-weight: 400;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  padding-bottom: 2em;

  &::before,
  &::after {
    content: "";
    flex-grow: 1;
    background: $meta-color;
    height: 1px;
  }

  &::before {
    margin-right: 1rem;
  }

  &::after {
    margin-left: 1rem;
  }
}
