footer {
  @extend %u-font-center;
  padding-top: 2em;
  background-color: $dark-black;
  color: $dark-white;
  p {
    margin-bottom: 2em;
  }
  nav {
    margin-bottom: 2em;
    ul {
      padding-left: 0;
    }
  }
  nav li {
    display: inline-block;
    &:not(:last-child) {
      padding-right: 1em;
    }
  }
  .u-font-meta {
    // color: $dark-white;
    // opacity: 0.5;
  }
}
