$button-height: 25px;
$button-width: 25px;

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin:  0 auto;

  a {
    display: inline-block;
    position: relative;
    text-align: center;
    color: $site-color;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    top: 5px;
  }
}

.button_container {
  position: fixed;
  top: 20px;
  right: 20px;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 150;
  transition: opacity .25s ease;

  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      transform: translateY(8px) translateX(0) rotate(45deg);
      background: $white;
    }
    .middle {
      opacity: 0;
      background: $white;
    }

    .bottom {
      transform: translateY(-8px) translateX(0) rotate(-45deg);
      background: $white;
    }
  }

  span {
  background: $site-color;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;

    &:nth-of-type(2) {
      top: 8px;
    }

    &:nth-of-type(3) {
      top: 16px;
    }
  }
}

.overlay {
  position: fixed;
  background: $black;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s;
  overflow: hidden;

  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    transition: opacity .35s, visibility .35s;
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;

      a {
        display: block;
        position: relative;
        color: $white;
        text-decoration: none;
        overflow: hidden;
      }
    }
  }
}
