header {
  height: 4em;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;

  @media all and (max-width: 48em) {
    border-bottom: 1px solid $black;
  }

  .line {
    flex: 1;
    height: 1px;
    min-width: 100px;
    max-width: 1080px;
    padding-left: 0;
    margin: auto;
    border-bottom: 1px solid $black;
    @media (max-width: 410px) {
      display: none;
    }

  }
}

.header-brand {
  padding-top: 1.2em;
  display: inline-block;
  text-decoration: none;
  font-family: $sans-serif;
  margin-right: 1em;
}

.button_container {
  margin-left: 1em;
}
