header {
  height: 4em;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;

  @media all and (max-width: 440px) {
    border-bottom: 1px solid $black;
    margin-bottom: 2em;
  }

  .line {
    flex: 1;
    height: 1px;
    min-width: 100px;
    max-width: 1080px;
    padding-left: 0;
    margin: auto;
    border-bottom: 1px solid $black;
    @media (max-width: 440px) {
      display: none;
    }
  }
}

.header-brand {
  display: inline-block;
  text-decoration: none;
  border-bottom: 0;
  font-family: $sans-serif;
  margin-right: 1em;
  @media all and (max-width: 48em) {
    float: left;
  }
}

header .line {
  @media all and (min-width: 48em) {
    display: none;
  }
}

header h3.lined {
  font-weight: 400;
  margin: auto;
  display: flex;
  flex: 1;
  text-align: center;
  margin-right: -4.5em;

  @media all and (max-width: 48em) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    display: flex;
    flex-grow: 1;
    float: left;
    background: #979797;
    height: 1px;
  }

  &::before {
    margin-right: 1rem;
    width: 50%;
  }

  &::after {
    margin-left: 1rem;
    margin-right: 5em;
    padding-right: 3em;
    width: 50%;
  }
}
