.intro-section {
  background-color: #F7F7F7;
  height: 580px;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  // margin-bottom: 2em;
  h1 {
    margin-top: 0;
    font-family: $display-serif;
    font-size: 3em;
    line-height: 60px;
    padding-top: 60px;
  }
  hr {
    height: 220px;
    border-color: $black;
    @media only screen and (max-width: 64em) {
      height: 160px;
    }
  }
  p {
    font-family: $sans-serif;
    font-size: 20px;
  }
}

.c-index-profile-image {
  height: 580px;
  width: 100%;
  background: url('/images/2016/07/index-portrait.png') center no-repeat;
  background-size: cover;
  @media only screen and (min-width: 64em) {
    background-position-y: -6em;
  }
}
