.intro-section {
  background-color: #F7F7F7;
  height: 580px;
  text-align: center;
  margin-bottom: 2em;
  h1 {
    margin-top: 0;
    font-family: $display-serif;
    font-size: 3em;
    line-height: 60px;
    padding-top: 60px;
  }
  hr {
    height: 220px;
    border-color: $black;
  }
  p {
    font-family: $sans-serif;
    font-size: 20px;
  }
}
