.c-newsletter {
  margin-bottom: 2em;
  h2 {
    margin-top: 0;
    line-height: 1;
    font-family: $display-serif;
    margin-bottom: 0.3em;
    @media all and (max-width: 48em) {
      font-size: 3em;
    }
    .light-blue {
      color: #10BEFC;
    }
    .dark-blue {
      color: #007EFF;
    }
  }
  p {
    // Reset text alignment so the parent element does not center it.
    text-align: left;
    margin-bottom: 0em;
  }
  input {
    width: calc(100% - 1em);
    font-family: $sans-serif;
    padding: 10px 0 0.3em 1em;
    border: 1px solid $meta-color;
  }
  input:focus {
    outline: none;
    border: 1px solid #10BEFC;
  }
  .button {
    text-decoration: none;
    width: 100%;
    display: block;
    margin-top: 1em;
    padding: 0.6em 0 0.4em;
    color: #fff;
    font-family: $sans-serif;
    background-color: #10BEFC;
    &:hover {
      background-color: #007EFF;
    }
  }
}
