.c-scope-list {
  list-style-type: none;
  padding: 0;
  margin-top: -0.6em;
}

.c-work-meta {
  margin-bottom: 2em;
  @media (max-width: 48em) {
    margin-left: 0;
    margin-right: 0;
    margin-top: -1.6em;
    border-bottom: 1px solid rgba(151, 151, 151, 0.5);
  }
}

.work {
  .tight-gutter {
    figure {
      margin-bottom: 0;
    }
  }
  article {
    img {
      // margin-top: 1em;
      // margin-bottom: 1em;
    }
    .tight-gutter img {
      padding-bottom: 0;
      padding-top: 0.8em;
      &.o-bordered-image {
        padding-bottom: 0;
        padding-top: 0;
        margin-top: 0.8em;
      }
    }
  }
}

.intro {
  font-family: $sans-serif;
  font-size: 1.1em;
  margin-top: -0.4em;
  @media (max-width: 48em) {
    font-size: 1em;
  }
}
