$white: #ffffff;

$black: #05223F;

$site-color: #72B6EC;
$text-color: #3D464D;
$meta-color: #9EA3A6;

$monospace: "Input Mono", "Source Code Pro", "Monaco", monospace;

$sans-serif-fallback: "Helvetica Neue", Helvetica, sans-serif;
$sans-serif: "Vaud", $sans-serif-fallback;

$serif-fallback: "Georgia", "Times New Roman", serif;
$serif: "Periodico Text", $serif-fallback;
