$white: #ffffff;
$dark-white: #E0E2E4;
$black: #262A2C;
$dark-black: #13171D;

//272E6E
$site-color: #17aaff;
$text-color: #000207;
$meta-color: #979797;
$light-color: $dark-white;
$lighter-color: lighten($dark-white, 7%);
