$monospace: "Input Mono", "Source Code Pro", "Monaco", monospace;

$sans-serif-fallback: "Helvetica Neue", Helvetica, sans-serif;
$sans-serif: "Vaud", $sans-serif-fallback;

$text-serif-fallback: "Georgia", "Times New Roman", serif;
$text-serif: "Periodico Text", $text-serif-fallback;

$display-serif-fallback: "Georgia", "Times New Roman", serif;
$display-serif: "Periodico Display", $display-serif-fallback;
