input + input {
  margin-top: 1em;
}

input + label {
    margin-top: 1em;
    display: block;
}

form {
  margin-top: 1em;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px rgb(255, 255, 255) inset;
  -webkit-text-fill-color: $text-color;

  .grid-form [data-row-span] [data-field-span]:hover & {
    -webkit-box-shadow: 0 0 0 50px lighten(#ebf5fd, .2) inset;
  }

  .grid-form [data-row-span] [data-field-span].focus & {
    -webkit-box-shadow: 0 0 0 50px #ebf5fd inset;
  }
}

input[name="37hfsdiu"] {
  display: none;
}
