.u-center-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.padding-bottom {
  padding-bottom: 2em;
}
