.article__title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0;
}

.article__meta {
  .article__title {
    margin-bottom: 0;
  }
  .article__date {
    margin-bottom: 2rem;
  }
}

article {
  font-family: $font--serif;
}

.readnext {
  a {
    display: block;
    position: relative;
    font-family: $font--sans-serif;
    background-color: #DADDDE;
    color: $color--dark-grey;
    padding: 1.875rem 1.25rem;
    transition: all ease .4s;
    text: {
      align: center;
      decoration: none;
    }

    &:active {
      z-index: 2000;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: inherit;
        z-index: -1;
      }
    }

    &:hover {
      background-color: $color--accent;
      color: $white;
      transition: all ease .4s;
    }
  }

  span {
    display: block;
  }
}
