.page__home {
  .banner {
    margin-bottom: 1.5em;
    padding: 1.4em 0 .6em;

    color: #fff;
    background: $color--accent;

    a:hover {
      color: #fff;
    }

    .gamma {
      font: {
        weight: normal;
        size: 1.2rem;
        family: $font--sans-serif;
      }
    }

    .button {
      color: #fff;
      border: 1px solid #fff;
      background: none;

      &:hover {
        color: $color--accent !important;
        background: #fff;
      }

      @media screen and (max-width: 434px) {
        display: inline-block;

        margin-top: .5em;
      }
    }
  }
}
