html {
  font: {
    family: $font--serif;
    size: $base-font-size;
  }
  line-height: $baseline-unitless;

  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'liga' 1, 'kern' 1;
  font-kerning: normal;

  background-color: $color--accent;

  @media (max-width: 860px) {
    font-size: $base-font-size * .9;
  }

  @media (max-width: 500px) {
    font-size: $base-font-size * .8;
  }
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  color: $color--dark-grey;
  background-color: $color--background;
}
