.site__content {
  padding-bottom: 2em;

  flex: 1;

  &.padding-top {
    padding-top: 75px;

    @media screen and (max-width: 754px) {
      padding-top: 75px;
    }
  }
}

.page__home {
  .site__content {
    padding-bottom: 0;

    @media screen and (max-width: 706px) {
      padding-top: 0;
    }
  }
}

.post__title {
  margin-bottom: 0;
}

.post {
  padding-bottom: 1em;
}

.posts__list {
  a {
    text-decoration: none;
  }
}


%hr {
  height: auto;

  border: 0;
}

.hr--long {
  @extend %hr;

  height: 1px;
  margin-top: 1.64706rem;
  margin-bottom: 1.64706rem;

  border: 0;
  border-top: 1px solid $color--lighter-grey;
  // background: $color--lighter-grey;
  background: transparent;
}

.hr--short {
  @extend %hr;

  color: $color--lighter-grey;

  &::after {
    font: {
      size: 1.75rem;
      family: $font--sans-serif;
      weight: 700;
    }
    line-height: .857142857;

    display: block;

    margin-top: 2rem;
    margin-bottom: 1.75rem;

    content: '* * *';
    text-align: center;
    letter-spacing: .2em;

    color: rgba(0, 0, 0, .3);
  }
}
