.site__content {
  flex: 1;
  padding-bottom: 2em;

  &.padding-top {
    padding-top: 75px;

    @media screen and (max-width: 754px) {
      padding-top: 75px;
    }
  }
}

.page__home {
  .site__content{
    padding-bottom: 0;

    @media screen and (max-width: 706px) {
      padding-top: 0;
    }
  }
}

h2.post__title {
  margin-bottom: 0;
}

.post {
  padding-bottom: 1em;
}

.posts__list {
  a {
    text-decoration: none;
  }
}


hr {
  height: auto;
  border: none;
}

.hr--long {
  @extend hr;
  height: 1px;
  background: $color--lighter-grey;
  border: none;
  background: transparent;
  border-top: 1px solid $color--lighter-grey;
  margin-bottom: 1.64706rem;
  margin-top: 1.64706rem;
}

.hr--short {
  @extend hr;
  color: $color--lighter-grey;
  &:after {
    content: "* * *";

    display: block;

    margin-top: 2rem;
    margin-bottom: 1.75rem;

    color: rgba(0,0,0,0.3);
    letter-spacing: .2em;
    line-height: .857142857;
    text-align: center;

    font: {
      size: 1.75rem;
      family: $font--sans-serif;
      weight: 700;
    }
  }
}
