.dedication {
  margin-top: .6em;

  @media screen and (max-width: 754px) {
    padding-bottom: $baseline / 2;
  }

  a {
    text-decoration: none;

    .dedication--overlay {
      @media screen and (max-width: 754px) {
        display: none;
      }

      h4 {
        font-weight: 600;

        text-align: center;

        color: #fff;
      }
    }

    figure {
      &::before {
        position: absolute;
        z-index: 700;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        content: '';
        cursor: pointer;
        transition: all .2s ease;

        background: rgba($color--accent, 0);

        @media screen and (max-width: 754px) {
          display: none;
        }
      }
    }

    &:hover {
      .dedication--overlay {
        visibility: visible;

        opacity: 1;

        @media screen and (max-width: 754px) {
          display: none;
        }
      }

      img {
        transition: all .2s ease;

        filter: grayscale(100%);

        @media screen and (max-width: 754px) {
          filter: grayscale(0);
        }
      }

      figure {
        &::before {
          transition: all .2s ease;

          background: rgba($color--accent, .94);

          @media screen and (max-width: 754px) {
            display: none;
          }
        }
      }

      h2 {
        z-index: 701;

        transition: opacity .2s ease;
        text-decoration: none;

        opacity: 1;
        color: #fff;

        @media screen and (max-width: 754px) {
          display: none;
        }
      }
    }

    h2 {
      font-weight: 500;

      z-index: 100;
      top: 2em;

      display: block;

      width: 100%;
      // position: absolute;
      margin: 0;

      transition: opacity .2s ease;
      text-align: center;

      opacity: 0;
    }

    figure {
      img {
        z-index: 1;

        display: block;

        width: 100%;
        margin: -3em 0 0;
        padding: 0;
      }
    }
  }
}
