.site__footer {
  background: #13171D;
  color: #fff;
  font-family: $font--sans-serif;
}

.site__footer__content {
  padding-top: $baseline;

  @media screen and (max-width: 500px) {
    padding-bottom: $baseline;
  }
}
