.site__footer {
  font-family: $font--sans-serif;

  color: #fff;
  background: #13171d;

  p {
    margin-bottom: $baseline;

    & + p {
      text-indent: 0;
    }
  }
}

.site__footer__content {
  padding-top: $baseline;

  @media screen and (max-width: 500px) {
    padding-bottom: $baseline;
  }
}
