.site__header {
  height: 90px;

  color: #fff;
  background: #13171d;

  & > * {
    position: relative;
    top: 52%;

    transform: translateY(-52%);
  }

  a {
    @include vertical-align;

    font-size: 20px;
    line-height: 1.2;

    text-decoration: none;

    color: #fff;

    &.current {
      font-weight: 700;

      color: #fff;
    }

    &:hover {
      color: #fff;
    }
  }
}

.header__link--name {
  @include vertical-align;

  float: left;

  color: #fff;
}

.site__header__nav {
  @include vertical-align;

  float: right;

  ul {
    @include horizontal-list($padding: $baseline / 1.5, $direction: left);
  }
}

.custom-hero {
  .site__header {
    background: transparent;
  }
}
