.site__hero__image {
  position: absolute;

  width: 100%;
  height: 100%;

  background-size: cover;
}

.site__hero {
  height: 420px;

  @media (max-width: 701px) {
    height: 420px;
  }

  @media (min-width: 1499px) {
    height: 540px;
  }
}

.site__hero__headline {
  font-weight: 400;

  padding-left: 0 !important;

  hyphens: none;

  color: $white;

  .button {
    font-size: .9em;

    color: #4680ff;
    background-color: #fff;
  }
}

.site__hero__table {
  position: absolute;

  display: table;

  width: 100%;
  height: 100%;
}

.table__cell {
  display: table-cell;

  vertical-align: middle;
}

.custom-hero {
  .site__hero {
    margin-bottom: 3em;
  }

  .site__hero__table {
    height: 78%;
  }
}
