---
layout: editorial-project
title: The Ministry of Print
description: 'A case study exploring the origins and makings of The Ministry of Print, my online shop where I sell the prints I design.'
cover_image: '/uploads/2014/03/devinhalladay-screenshot.jpg'
categories: work
weight: 1
custom_css: editorial-project--ministry-of-print
custom_class: editorial-project--ministry-of-print
published: false
data_no_instant: true
---
<section id="masthead">
  <div class="row full-width">
    <div class="large-5 small-12 columns push-1">
      <hr class="long">
      <h1>{{ page.title }}</h1>
      <hr class="long">
    </div>
    <div class="page-masthead large-5 small-12 pull-1 columns">
      <hr class="long">
      {{ page.description }}
      <hr class="long">
    </div>
  </div>
</section>

<section class="intro">
  <div class="row full-width">
    <div class="large-10 small-12 push-1 columns">
      <p>I've long been inspired by print design, Swiss design, and French editorial design. Bringing all of these passions together, I recently decided to start a boutique print shop called <em>The Ministry of Print</em>.</p>
      <p>This shop is mainly a way for me to experiment with new styles and techniques of design.</p>
    </div>
  </div>
</section>

<section class="wrap-grey">
  <div class="row full-width">
    <div class="large-4 small-12 columns push-1">
      <h3>Judging a Book by Its Cover</h3>

      {% include fluidbox-figure.html alt="Urban Life and Form" url="/uploads/2014/03/urban-life-and-form.png" caption="One of my favorite book covers. It gives the reader only what they <em>need</em> to become intriqued in the book, and nothing more. Simple, but not too simple. Brilliant." %}
    </div>

    <div class="large-6 small-12 columns pull-1">
      <p>
        While I don't encourage the act of judging a book by its cover, I understand that many people do this without even realizing it (including myself). There's no avoiding that. But one thing I have learned through the past few iterations of my website is that the homepage is one of the most important pages on any website. I tried to make the homepage of this website simple and readable, like a book — but not so simple as to dissuade visitors from continuing on to other pages.
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My goal with the homepage of this website is to give users just enough information and design so that they become interested in the site — just like a great book cover. This may seem like an obvious concept, but it's shocking how many designers don't understand this. I think of a book cover as a photograph of the contents of the book. Looking at a photo, you usually can't see much only see what the photographer <em>wants</em> you to see. If you want to see more, you need to go to the location and see it for yourself — this is why photography is so intoxicating as an artform.
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Applying these principles to this website, I have been fairly successful in having visitors click through to other pages on my website — many of my visitors have viewed nearly every page on my website; and fifteen of those visitors in the past year have turned into clients.</strong>
      </p>
    </div>
  </div>
</section>

<section>
  <div class="row full-width">
    <div class="large-8 small-11 push-1 columns">
      <p>In future iterations of this website, I'll probably try to adopt a new homepage concept that is truly akin to a book cover — no articles, no links, just a small snapshot of me and my ability as a designer, writer, and human being. I'll cross that bridge when the time comes, though.</p>
    </div>
  </div>
</section>

<section>
  <div class="row full-width">
    <blockquote class="pullquote large-8 small-11 columns large-offset-3 small-offset-1">
      <p>I think of a book cover as a photograph of the contents of the book. Looking at a photo, you usually can't see much only see what the photographer wants you to see. If you want to see more, you need to go to the location and see it for yourself — this is why photography is so intoxicating as an artform.</p>
    </blockquote>
  </div>
</section>

<section>
  <div class="row full-width">
    <div class="large-10 small-12 push-1 columns">
      <h3>The Typography</h3>
      <p>
        I'm obsessed with typography, so much so that it's almost unhealthy — <em>almost</em>. Typography is one of the most powerful, and most complicated, aspects of design; and it's equally as important to me as a writer. Typography can convey so much emotion in a design. Helvetica, a bold, steril font, can make a design feel strong; Neutra Display can make a design feel elegant; or if you set type in Arial, it might feel cheap and flimsy, like cardboard.
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;With this in mind, I chose three incredibly strong, yet personable typefaces from <span class="serif-sc">H&amp;Co.</span>: Sentinel ScreenSmart, Whitney ScreenSmart, and Mercury ScreenSmart (also the small-caps variants of Whitney SSm and Mercury SSm). Headers and most display text are set in Sentinel; Blockquotes, pullquotes, image captions, and other tertiary text are set in Whitney; And most body text is set in Mercury (although lately I've been switching between Sentinel and Mercury every few weeks to suit my mood).
      </p>
    </div>
  </div>

  <div class="row full-width">
    {% include caption-overlay-figure.html alt="Type samples." url="/uploads/2014/03/type-sample.jpg" caption="Left to right: Mercury Bold, Whitney Bold, Sentinel Bold" %}

    <div class="large-10 small-12 push-1 columns">
      <h3>The Grid</h3>
      <p>
        This year one of my goals is to learn to understand the power of the grid, and to learn to use it properly to harness that power. I've come a long way, but there's still so much to learn.
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I use <span class="serif-sc">ZURB</span> Foundation for grids on this site. Originally I planned on using Susy, but it was a little too complicated for me at the time because I didn't fully understand how grids work in design. Foundation has been an essential tool in the creation of this website, and has allowed me to focus on the design rather than focusing on coding the layouts.
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Take this case study, for example. It would have taken me tons of time to code an editorial page like this without the help of Foundation! Foundation has allowed me to experiment with layouts without worrying about ruining other parts of my site by changing site-wide CSS.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="row full-width">
    <blockquote class="pullquote large-8 small-11 columns large-offset-3 small-offset-1">
      <p>Typography is one of the most powerful, and most complicated, aspects of design; and it's equally as important to me as a writer.</p>
    </blockquote>
  </div>
</section>

<section>
  <div class="row full-width">
    <div class="large-10 small-12 push-1 columns">
      <h3>Constraints and Restraint</h3>
      <p>
        I <em>love</em> print design. One of my passions as a web designer is bringing elements of print design to the web — the typography, the grids, and the beauty of constraints and restraint. With that love for print in mind, I have tried to create an environment similar to a newspaper: constrained by a simple grid, limited to a minimal color palette, but restricted only by the limits of my imagination and ingenuity as a designer. This has made designing and developing my website manageable while still leaving room for expansion or reduction.
      </p>
    </div>
  </div>

    {% include caption-overlay-figure.html alt="Type samples." url="/uploads/2014/03/good-idea.jpg" caption="Contraints and restraint: because it's just a good idea." %}
</section>

<section class="wrap-grey">
  <div class="row full-width">
    <div class="large-5 small-11 single-text-column push-1 columns">
      <h3>Static, and Electric</h3>
      <p>Content management systems frustrate me. Too many of them have too many features — and the ones I love, like <a href="http://siteleaf.com">Siteleaf</a>, don't have the features that I need for my site. That's why, with this latest iteration of my site I'm using Jekyll. It doesn't have any fluff — in fact, it's fairly barebones as a static site generator — but it gives me the ability to change the source code or develop plugins that suit my workflow and my website.</p>
      <p class="sans light">
        Side note: I absolutely adore Siteleaf. If I didn't need more extensibility, I'd still be using it for my website. I use it for most other static websites I create, though. Go sign up and give it a try! You won't regret it.
      </p>
    </div>
    <div class="large-4 small-11 columns pull-2">
      {% include fluidbox-figure.html url="/uploads/2014/03/jekyll-and-hyde.jpg" alt="Jekyll and Hyde" caption="I just <em>love</em> the type on this poster!" %}
    </div>
  </div>
</section>

<section>
  <div class="row full-width">
    <div class="large-10 small-11 push-1 columns">
      <h3>Constant Iteration</h3>
      <p>It's inevitable that the website you see before you will undergo constant change while it's online. Seriously, I'm antsy and I'm a perfectionist so it has to be this way to keep me sane. Despite the constant change, this website will continue to be a rock for me to fall back on when I am in need of a visible change in my philosoophy. It will continue to be my home, and it will always showcase my ideas, my work, and my love for everything design.</p>
      <h3>I hope you enjoy it as much as I do.</h3>
    </div>
  </div>
</section>

{% comment %}<section style="background-color: #004868">
  <div class="row full-width">
    {% include caption-overlay-figure.html alt="Studying Existing Road Signs" url="http://cdn.ilovetypography.com/img/2012/04/multi-sign.png" caption="Comparison of Wayfinding Sans Pro (top) and the Spanish & Italian Road Signage fonts." %}
  </div>
</section>{% endcomment %}