---
title: Translation
scope: "Art Direction, Illustration, Print Design, Editorial Design"
intro: "Translation is a magazine created as a followup to Kindred in collaboration with Julia Fletcher that explores the intersection of design, illustration, and photo, and the ways one can translate between these three distinct specializations. Documentation courtesy of Julia."
filters: item-illustration item-editorial item-print
---
<div class="row center-xs tight-gutter">
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/translation/spreads/1.png", :border => true }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <p>I have always had a keen interest in the way design and photo interact. With that interest in mind, I had the opportunity to collaborate with a good friend and fantastic photographer, Julia Fletcher, on a project. We immediately decided that we wanted to create a printed magazine, but the concept was the part that truly interested me.</p>
    <p>Julia and I wanted to explore the way design and photo interact and relate. The idea was simple enough: Julia takes photos of manmade objects around the MICA campus, and I illustrate them however I see fit. Julia and I have similar styles and aesthetic interests, so the translation itself was no the challenge. The challenge was taking her photo, which is something captured and set in stone, into something living that can be altered freely to fit my simplified visual worldview.</p>
    <p>The ultimate result of this experiment was a very interesting new way of thinking about the interaction of design and photo. Multiple questions were posed, but many will have to be answered with more projects <span class="u-font-meta">(hint, hint, keep your eyes open!)</span>.</p>
  </div>
</div>

<div class="row tight-gutter">
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/translation/spreads/2.png", :border => true }) %>
  </div>
</div>

<div class="row center-xs tight-gutter">
  <div class="col-xs-12 col-sm-10">
    <% (3..26).each do |i| %>
      <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/translation/spreads/#{i}.png", :border => true }) %>
    <% end %>
  </div>
</div>
