---
title: Translation
scope: "Art Direction, Illustration, Print Design, Editorial Design"
intro: "Translation is a magazine created as a followup to Kindred examines the intersection of space, design, and photography by reversing the process used in Kindred."
filters: item-illustration item-print
priority: 3
---
<div class="row center-xs tight-gutter">
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/translation/spreads/1.png", :border => true }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <p>Translation is a followup to Kindred, a magazine created with Julia Fletcher in 2015 to explore the intersections of space, design, and photography, and how physical space and architecture can be translated into two-dimensional mediums.</p>
    <h3>Process</h3>
    <p>The goal of this project was to reverse the process used in Kindred. The process for Translation consisted me creating (mostly abstract) geometric illustrations, and then handing them off to Julia. Once she had the illustrations on hand, she was to explore the Baltimore area and take photographs that looked like or were inspired by my illustrations.</p>
    <p>You may notice some blank pages sprinkled in the mix here. In a few cases, I created illustrations that Julia could not take a matching photo for. This is especially interesting conceptually because it shows where the process fails; every process fails at a certain point, and we pushed ours to that point and beyond.</p>
    <h3>Outcome</h3>
    <p>This process provided us with numerous challenges, but ultimately resulted in a conceptually fascinating piece that garnered a lot of attention and fueled my personal passion for abstraction of space, which led to the creation of a wide range of pieces in many different mediums dealing with the abstraction, alteration, and augmentation of existing physical space.</p>
  </div>
</div>

<div class="row center-xs tight-gutter">
  <div class="col-xs-12 col-sm-10">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/translation/spreads/2.png", :border => true }) %>
  </div>
</div>

<div class="row center-xs tight-gutter">
  <% (3..26).each do |i| %>
    <div class="col-xs-12 col-sm-6">
      <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/translation/spreads/#{i}.png", :border => true }) %>
    </div>
  <% end %>
</div>
