---
title: The Palace of Typographic Masonry
scope: "Poster Design"
intro: "Ellen Lupton asked me to design a poster for a workshop and talk led by Richard Niessen, a remarkable designer from the Netherlands."
filters: item-poster item-print item-branding
grid_width: w3
priority: 10
---
<div class="container">
  <div class="row center-xs tight-gutter">
    <% (1..9).each do |i| %>
      <div class="col-xs-12 col-sm-6">
        <%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/07/typographic-masonry/Option-0#{i}.png", :border => true }) %>
      </div>
    <% end %>
  </div>
</div>
