---
title: Richard Niessen Poster
scope: "Poster Design"
intro: "I was approached by Ellen Lupton to design a poster for a talk and workshop led by Richard Niessen, a remarkable designer from the Netherlands."
context: "Designed at MICA for Ellen Lupton and Richard Niessen."
filters: item-poster item-print item-branding
grid_width: w3
priority: 10
---
<div class="row center-xs tight-gutter">
  <% (1..9).each do |i| %>
    <div class="col-xs-12 col-sm-6">
      <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/richard-niessen-poster/Option-0#{i}.png", :border => true }) %>
    </div>
  <% end %>
</div>
