---
title: "Public Domain"
scope: Identity Design, Strategy,, Web Design
intro: "A speculative design project with aims to eadvocate for reclaiming public spaces from institutional power."
priority: 1
published: false
filters: item-branding, item-interaction
---
<% @image_dir = 'assets/images/2018/10/public-domain' %>
<%# @image_dir = 'https://devinhalladay.imgix.net/2018/10/public-domain' %>
<div class="container">

</div>
