---
title: "Innovation Right Now"
scope: Editorial Design
intro: "Critical editorial design for articles on innovation in the 21st century, drawing into question the validity of the capitalist acceleration implicit in the concept of innovation."
priority: 2
published: false
---
<% @image_dir = 'assets/images/2018/10/innovation-right-now' %>
<%# @image_dir = 'https://devinhalladay.imgix.net/2018/10/innovation-right-now' %>
<div class="container">
  
</div>
