---
title: "Spotio (External Link &#8618;)"
scope: Code, Open Source, Design
intro: "Reverse-engineering the Spotify desktop app tto reflect Rdio's interface and create a less depressing listening experience."
priority: 1
outbound_link: http://spotio.devinhalladay.com/
---
<%# @image_dir = 'assets/images/2018/04/spotio' %>
<% @image_dir = 'https://devinhalladay.imgix.net/2018/04/spotio' %>
<div class="container">

</div>
