---
title: "Public Domain"
scope: Identity Design, Strategy, Web Design
intro: "A speculative design project which aims to advocate for reclaiming public spaces from institutional power."
priority: 1
published: false
filters: item-print, item-interaction, item-other, item-branding
---
<% @image_dir = '/assets/images/2018/11/public-domain' %>
<%# @image_dir = 'https://devinhalladay.imgix.net/2018/11/public-domain' %>
<div class="container">
<div class="header-bg" style="background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%,rgba(0,0,0, 1) 100%), url(https://devinhalladay.imgix.net/2018/11/mercurial-world/cover.png?w=800&fm=jpg&q=100&dpr=2);"></div>
</div>
