---
title: Raf Simons Fall 19, "Substance"
scope: Identity Design, Campaign Strategy
intro: "Identity system, photography, and mcampaign strategy for a fictional Raf Simons line re-examining narcotics culture within the United States."
priority: 2
published: false
---
<% @image_dir = 'assets/images/2018/10/raf-simons' %>
<%# @image_dir = 'https://devinhalladay.imgix.net/2018/10/raf-simons' %>
<div class="container">

</div>
