body {
  min-height: 100%;
  margin: 0 auto;
  background: $color--background;
}

.full-width-row {
  max-width: 90%
}

::-moz-selection {
  background: $color--lightest-grey;
  text-shadow: none;
}

::selection {
  background: $color--lightest-grey;
  text-shadow: none;
}