body {
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: $color--background;
  padding: 0 1.55555em;
}

.full-width-row {
  max-width: 90%
}

::-moz-selection {
  background: $color--lightest-grey;
  text-shadow: none;
}

::selection {
  background: $color--lightest-grey;
  text-shadow: none;
}