// Module
//
// Footer
// ===============
// Footer styles.

.footer {
  bottom: 0;
  height: auto;
  width: 100%;
  padding: 2em 0 2em;
  font-family: $serif;
  border-top: 1px dotted $dark-grey;
}

@media screen and (max-width: 768px) {
  [class*="column"]+[class*="column"]:last-child {
    float : none;
  }
}