// Module
//
// Header
// ===============
// Header styles.

.header {
  margin-top: $baseline;
  font-size: 1rem;
  h1 {
    font-size: 1rem;
    font-weight: 500;
    color: #404951;
    line-height: $baseline;
    text-decoration: none;
    font-family: $sans;
    border-bottom: none;
  }
}

.header__link--active {
  color: $accent-color;
}

.header__link--name {
  font-weight: 600;
  color: $color--dark-grey;
}

nav {
  padding-top: $baseline;
  margin-bottom: $baseline*.75;

  ul {
    display: block;

    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  li {
    display: inline-block;
    font-family: $sans;

    &:not(:first-child) {
      margin-left: 30px;
    }

    a {
      font-size: 1em;
      font-weight: 500;
      color: $color--dark-grey;
      line-height: 1em;
      text-decoration: none;
      border-bottom: none;

      &:hover {
        color: $accent-color;
        text-decoration: none;
        border-bottom: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  nav li {
    margin-right: none;

    a {
      font-size: 1em;
    }
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}

@media screen and (max-width: 485px) {
  nav li {
    &:not(:first-child) {
      margin-right: 20px;
      margin-left: 0;
    }
  }
}