.header {
  margin-bottom: 4em;
  padding-top: 2em;
}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
  }
  li {
    @include small-caps;
    float: left;
    margin-right: 30px;
    display: block;
    &:last-child {
      margin-right: 0;
    }
    a {
      font-family: $sans;
      font-size: 0.8em;
      font-weight: 500;
      line-height: 1em;
      letter-spacing: 2px;
      color: #444;
      border-bottom: none;
      &:hover {
        color: $blue;
        border-bottom: none;
      }
    }
  }
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
  margin-bottom: 1em;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: url('/uploads/2013/10/hamburger.gif') 0 no-repeat $blue;
  text-indent: -9999px;
  width: 30px;
  height: 20px;
  text-indent: -9999px;
  display: block;
  width: 30px;
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  nav li {
    float: none;
    margin-right: none;
    a {
      font-size: 0.777em;
    }
  }
}

@media screen and (min-width: 768px) {
  .js .nav-collapse {
    position: relative;
    &.closed {
      max-height: none;
    }
  }
  .nav-toggle {
    display: none;
  }
}