.site__header {
  height: 75px;
  background: rgba(16,17,19,0.86);
  color: #cacaca;
  position: fixed;
  width: 100%;
  z-index: 900;

  // @media screen and (max-width: 754px) {
  //   position: relative
  // }

  & > * {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  a {
    text-decoration: none;
    color: #cacaca;
    &.current {
      font-weight: 700;
      color: #fff;
    }
    &:hover {
      color: #fff;
    }
  }
}

.header__link--name {
  color: #fff;
}

.site__header__nav {
  ul {
    @include horizontal-list($padding: $baseline/1.5, $direction: left);
  }
}