.site__hero {
  // background-image: url('/uploads/2014/10/profile.png');
  width: 100%;
  margin-bottom: $baseline;
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  max-width: 100%;
  background-size: cover;
  z-index: 2;

  &:before {
    padding-bottom: 40%;

    content: "";
    display: block;
    width: 100%;
  }
}

.site__hero--blurred {
  // background-image: url('/uploads/2014/10/profile-blurred.png');
  width: 100%;
  margin-bottom: $baseline;
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  max-width: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: 1;

  &:before {
    padding-bottom: 40%;

    content: "";
    display: block;
    width: 100%;
  }
}

.site__hero__headline {
  color: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  @media screen and (max-width: 706px) {
    transform: translateY(-35px);
  }
}

.page__home {
  .site__hero {
    background-image: url('/uploads/2014/10/profile.png');
  }
  .site__hero--blurred {
    background-image: url('/uploads/2014/10/profile-blurred.png');
  }
}