// Module
//
// Temp
// ===============
// Temporary

.main-content {
  margin-bottom: 3em;
  ul {
    margin-bottom: 1.618em;
    margin-left: 0;
  }
}

.page {
  h2 {
    margin: 2em 0 .2em;
  }
}

.page-masthead {
  padding-bottom: 2em;
  hr.long {
    background: transparent;
    border-top: 1px dotted $dark-grey;
  }
}

.entry {
  margin: 0 0 2em;
  padding: 0 0 1em;

  border-bottom: 1px dotted $dark-grey;
}

.full-width-row {
  max-width: 90%
}

.post {
  h1 {
    margin-bottom: 1em;
  }
}