// Module
//
// Temp
// ===============
// Temporary

.site__content {
  margin-bottom: 3em;
  ul {
    margin-bottom: 1.618em;
    margin-left: 0;
  }
}

.page {
  h2 {
    margin: 2em 0 .2em;
  }
}

.page__masthead {
  padding-bottom: 2em;
}

.post__header,
.page__header {
  margin-bottom: $baseline*3;
}

.post__title,
.page__title {
  text-align: left;
}

.entry {
  margin: 0 0 2em;
}

article {
  p {
    text-indent: 2em;
    margin-bottom: 0px;
  }
  p:nth-of-type(1) {
    text-indent: 0;
  }
  p:nth-of-type(2) {
    text-indent: 0;
  }
  .hr--long {
    margin: $baseline*0.5 0 $baseline*0.5 0;
  }
  .hr--long:nth-of-type(2) {
    margin-bottom: $baseline;
  }
}