// Module
//
// Temp
// ===============
// Temporary

.site__content {
  margin-bottom: 3em;
  ul {
    margin-bottom: 1.618em;
    margin-left: 0;
  }
}

.page {
  h2 {
    margin: 2em 0 .2em;
  }
}

.page__masthead {
  padding-bottom: 2em;
}

.post__header,
.page__header {
  margin-bottom: $baseline*3;
}

.post__title,
.page__title {
  text-align: center;
}

.entry {
  margin: 0 0 2em;
  padding: 0 0 1em;

  border-bottom: 1px dotted $color--lighter-grey;
}
