.post__date {
  margin-top: $baseline;

  color: $color--light-grey;
  letter-spacing: .05px;
  text-transform: lowercase;

  font: {
    family: $serif-sc;
    weight: 500;
    size: 1em;
  }
}

a.post-title {
  font-family: $sans;
  // font-weight: 600;
  color: $color--darkest-grey;
  text-decoration: none;
  border-bottom: none;
  font-size: 28px;

  &:hover {
    color: $accent-color;
    border-bottom-color: $accent-color;
  }
}