.post__date {
  margin-bottom: 1.2em;

  color: $secondary-text-color;
  letter-spacing: .05px;
  text-transform: lowercase;

  font: {
    family: $serif-sc;
    weight: 500;
    size: 1em;
  }
}

.post {
  .post__date {
    margin-bottom: 2.25em;
  }
}

a.post-title {
  font-family: $sans;
  font-weight: 600;
  color: $heading-text-color;
  text-decoration: none;
  border-bottom: none;
  font-size: 28px;

  &:hover {
    color: $accent-color;
    border-bottom-color: $accent-color;
  }
}