// Module
//
// Work
// ===============
// Styles for the work page.

.page__work__project {
  margin-top: 3em;
  padding-bottom: 1.5em;

  a {
    span {
      display: block;
      font-weight: 500;
      position: absolute;
      z-index: 100;
      opacity: 0;
      margin: -1em 0 0 2em;
    }

    figure {
      img {
        display: block;
        width: 100%;
        margin: -3em 0px 0px;
        padding: 0px;
        z-index: 1;
      }
    }

    &:hover {
      figure::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(21,192,220, 0.5);
      }

      span {
        opacity: 1;
        color: #fff;
      }
    }
  }
}




.page__work {
  img {
    margin-bottom: 0;
    border: 1px solid $color--lighter-grey;
  }

  ul {
    margin: 0;
    li:before {
      display: none;
    }
  }

  figure {
    a {
      border-bottom: none;
    }
  }
}
.page__work__project {
  a {
    border-bottom: none;

    .page__work__project--overlay {
      h4 {
        font-weight: 600;
        color: #fff;
        text-align: center;
      }
    }
    &:hover {
      .page__work__project--overlay {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  figure {
    position: relative;
    display: block;
  }
}

.page__work__project--overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  visibility: hidden;

  height: 93%;
  width: 100%;
  padding: 80px 20px;

  opacity: 0;
  background: $accent-color;
  background: rgba($accent-color,0.8);
  color: #fff;

  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
