// Module
//
// Work
// ===============
// Styles for the work page.

.page__work {
  img {
    margin-bottom: 0;
    border: 1px solid $color--lighter-grey;
  }

  ul {
    margin: 0;
    li:before {
      display: none;
    }
  }

  figure {
    a {
      border-bottom: none;
    }
  }
}
.page__work__project {
  a {
    border-bottom: none;

    .page__work__project--overlay {
      h4 {
        font-weight: 600;
        color: #fff;
        text-align: center;
      }
    }
    &:hover {
      .page__work__project--overlay {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  figure {
    position: relative;
    display: block;
  }
}

.page__work__project--overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  visibility: hidden;

  height: 93%;
  width: 100%;
  padding: 80px 20px;

  opacity: 0;
  background: $accent-color;
  background: rgba($accent-color,0.8);
  color: #fff;

  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
