.button, .button-wrapper {
  font-family: $sans-serif;
  background-color: $site-color;
  color: #ffffff;
  float: left;
  margin-top: 1em;
  transition: all 0.2s;
  text-align: center;
  height: 45px;
  position: relative;
  border-radius: 6px;
}
.button span, .button-wrapper a {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  box-sizing: border-box;
  padding: 10px;
  border: 0;
}
.button-wrapper {
  margin: 0 0 40px 0;
}
.button-centered {
  width: 100%;
  text-align: center;
  float: left;
}
.button-centered .button {
  display: inline-block;
  float: none;
}
.button:hover, .button:active, .button:focus, .button-wrapper:hover,
.form-tab.active {
  background-color: lighten($site-color, 20%);
  color: #ffffff;
}
.button-plain {
  font-size: 20px;
  line-height: 20px;
  padding: 20px 30px;
  border: 2px solid $site-color;
  margin: 20px 0 0 0;
  float: left;
}
.button-plain.absolute {
  position: absolute;
  bottom: 0;
  margin: 0;
}
.button-plain:hover {
  color: $dark-black;
  border: 2px solid $dark-black;
}
