.c-colored_section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;

  .container + & {
    margin-top: -2em;
  }
  svg {
    display: block;
    max-height: 220px;
  }
}
