header {
  height: 4em;
  background: #000000;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 100;

  .container {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 48em) {
      padding-top: 1.2em;
    }
    @media only screen and (max-width: 388px) {
      padding-top: 0.8em;
    }
  }

  @media all and (max-width: 48em) {
    border-bottom: 1px solid $site-color;
    margin-bottom: 2em;
    font-size: .9em;
  }
}

.header-up {
  top: -4em;
}

.header-down {
  background: linear-gradient(to bottom, rgba(0,0,0,0.9) 44%,rgba(0,0,0,0) 100%);
}

.line {
  flex: 1;
  height: 1px;
  min-width: 100px;
  max-width: 1080px;
  padding-left: 0;
  margin: auto;
  border-bottom: 1px solid $site-color;
  @media (max-width: 440px) {
    display: none;
  }
}

.header-group {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-group--subtitle {
  flex: initial;
  padding: 0 1em;

  h3 {
    font-weight: 400;
  }
}

.line {
  @extend .header-group;
  border-bottom: 1px solid;
}

.line,
.header-group--subtitle {
  @media all and (max-width: 48em) {
    display: none;
  }
}


.site-title {
  display: inline-block;
  text-decoration: none;
  border-bottom: 0;
  font-family: $sans-serif;
  margin-right: 1em;
  @media all and (max-width: 48em) {
    float: left;
    line-height: 1.2em;
  }
}

@media only screen and (max-width: 48em) {
  .header-group, .line {
    justify-content: flex-start;
  }

  .site-nav {
    flex: 0;
  }
}


@media only screen and (max-width: 1000px) {
  .header-group--subtitle {
    display: none;
  }
}
