.intro-section {
  text-align: center;
  @media screen and (max-width: 48em) {
    padding: 1em 0 0;
  }
  h1 {
    font-family: $display-serif;
    font-weight: 300;
    font-size: 2.6em;
    margin: 0;
  }

  hr {
    height: 60px;
    border-color: $text-color;
    margin-top: .5em;
    margin-bottom: .5em;
  }
  p {
    font-family: $sans-serif;
    font-size: 1.6em;
    line-height: 1.4em;
    font-weight: 300;
    margin: 0;
    @media screen and (max-width: 48em) {
      font-size: 1.3em;
      line-height: 1.5em;
    }
  }
}

.hero {
  .row {
    & > div:first-child {
      padding: 0;
    }
  }
}
