.c-newsletter {
  margin-bottom: 2em;
  margin-top: 4em;
  h2 {
    margin-top: 0;
    line-height: 1;
    font-family: $display-serif;
    font-weight: 500;
    font-size: 1.8em;
    padding: 0;
  }
  p {
    // Reset text alignment so the parent element does not center it.
    text-align: left;
    margin-bottom: 0em;
  }
  input:not([type=submit]) {
    width: calc(100% - 1em);
    font-family: $sans-serif;
    padding-left: 1em;
    border-bottom: 1px solid $text-color;
    border-radius: 6px;
    height: 45px;
  }
  input:not([type=submit]):focus {
    outline: none;
    border-color: #10BEFC;
  }
  .mc-field-group {
    padding-bottom: .5em;
  }
}

.newsletter-well {

}

/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */
#mc_embed_signup input:not([type=submit]) {
  border: none;
  border-bottom: 1px solid $meta-color;

  &:focus {
    border-color: $site-color;
  }
}

#mc_embed_signup #mce-error-response {
  font-family: $sans-serif;
  display: none;
  margin-top: 1em;
}

#mc_embed_signup #mce-success-response {
  font-family: $sans-serif;
  color: #0fcf7b;
  display: none;
  margin-top: 1em;
}

#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  font-family: $sans-serif;
  display: inline-block;
  background-color: transparent;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  z-index: 1;
  color: #DF3B3B;
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
  font-family: $sans-serif;
  margin: 0;
  border: 2px solid #DF3B3B;
}

.button, input[type="submit"], #mc_embed_signup input[type="submit"] {
  width: 100%;
  outline: none;
  // border: 0;
}
