.c-page-title {
  padding-top: 0.5em;
  margin-bottom: 1em;
  font-weight: 400;
  &.border-bottom {
    padding-top: 0em;
    padding-bottom: 0.7em;
    border-bottom: 1px solid rgba($meta-color, .5);
    @media all and (max-width: 48em) {
      padding-top: .6em;
      padding-bottom: 0.4em;
    }
  }
  @media all and (max-width: 48em) {
    padding-bottom: 0.4em;
    font-size: 2.2em;
    border-bottom: 1px solid rgba($meta-color, .5);
  }
}
