.project {
  display: block;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 100%;
  height: fit-content;
  transition: 0.2s all ease;

  &:hover {
    color: $text-color;
    transform: scale(0.96);
  }

  img {
    display: block;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #fff;
    box-sizing: border-box;
  }

  .project-title {
    font-family: $sans-serif;
    padding: 1.2em 0 0;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.2;

    .subtitle {
      font-size: .7em;
      line-height: 1.4em;
    }
  }
}
.project-image {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
}
.project-image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-info {
  padding: 0.9rem 1.5rem 2.1rem;
  line-height: 1;
  font-family: $sans-serif;
}
@media screen and (min-width: 30rem) {
  .project {
    position: relative;
    vertical-align: top;
    display: inline-block;
  }
  .projects-wrapper {
    padding-left: 0.5rem;
  }
}
@media screen and (min-width: 45rem) {
 .projects-wrapper {
  padding-left: 0rem;
}
 .project {
   position: relative;
   vertical-align: top;
   width: auto;
   display: inline-block;
   width: 19%;
 }
  .project-info {
    padding: 0.9rem 1.5rem 2.1rem;
    line-height: 1;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 70rem) {
  .project-info {
    font-size: 0.9rem;
  }
}
@supports (display: grid) {

  @media screen and (min-width: 45rem) {
    /* Projects */
    .projects:not(.projects-list) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 20px;
      grid-row-gap: 60px;

      .project {
        overflow: hidden;
        width: auto;
      }
  	  .projects-wrapper {
        padding-bottom: (1.5rem * 4);
      }
      .project a {
        padding-bottom: 66.66%;
      }
      .project-image {
        position: static;
        padding-bottom: 0;
      }
      .project-info {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        left: 0;
        background: #000;
        z-index: 1;
        padding: (1.5rem * 2);
        opacity: 0;
        transition: opacity .3s;
        font-family: $sans-serif;
        font-size: 1.75rem;
        line-height: 1;
      }
      .project:hover .project-info {
        opacity: 0;
    		display: none;
      }
      .project[data-size="1x2"] {
        position: relative;
        grid-column: span 1;
        grid-row: span 2;
      }
      .project[data-size="1x2"] a {
        padding-bottom: (66.66667% * 2);
      }
      .project[data-size="2x2"] {
        grid-column: span 2;
        grid-row: span 2;
      }
      .project[data-size="2x4"] {
        grid-column: span 2;
        grid-row: span 4;
      }
      .project[data-size="3x3"] {
        grid-column: span 3;
        grid-row: span 3;
      }
      .project[data-size="2x2"] a,
      .project[data-size="2x4"] a,
      .project[data-size="3x3"] a {
        height: 100%;
      }

    }

  }

  @media screen and (min-width: 60rem) {
    /* Projects */
    .projects:not(.projects-list) {
		.project-info {
	        font-size: 1.2rem;
			padding: 2.7rem;
		}
	}

  }
  @media screen and (min-width: 70rem) {
    /* Projects */
    .projects:not(.projects-list) {
      .project:hover .project-info {
        opacity: 1;
		display: block;
      }
	}

  }
  @media screen and (min-width: 100rem) {
    /* Projects */
    .projects:not(.projects-list) {
		.project-info {
	        font-size: 1.5rem;
			padding: 3rem;
		}
	}
  }


  @media screen and (min-width: 60rem) {
    .projects:not(.projects-list) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

}

.work {
  .project[data-size="3x3"] {
    @media screen and (min-width: 1660px) {
      // Make this layout 2 columns on an individual project page.
      grid-column: span 2;
    }
  }
}

@media screen and (max-width: 750px) {
  .project {
    padding-bottom: 1em;
    .project-title {
      flex-direction: column-reverse;
      margin-top: 0;
      .title {
        padding-right: 0;
        width: 100%;
      }
      .subtitle {
        width: 100%;
        text-align: left;
        padding-left: 0;
        margin-left: 0;
        font-size: .6em;
        padding-bottom: .2em;
        padding-top: .2em;
      }
    }
  }
  .projects-wrapper {
    padding-left: 0.5rem;
  }
}
