.work-filter {
  border-bottom: 1px solid $meta-color;
  margin-bottom: 40px;
  .nav-container {
    margin-bottom: -1px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 40px;
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(0, 0, 0));
    }
    nav {
      width: fit-content;
      margin: auto;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      div {
        flex: 0 0 auto;
        display: inline-block;
        cursor: pointer;
        padding: 0;
        position: relative;
        border-bottom: 1px solid $meta-color;
        height: 50px;
        line-height: 50px;
        color: $white;
        text-transform: capitalize;
        text-decoration: none;
        &:not(:first-child) {
          margin-left: 30px;
        }
        &.mixitup-control-active {
          border-bottom: 1px solid $white;
          font-weight: 500;
        }
      }
    }
  }
}
