$white: #ffffff;
$dark-white: #E0E2E4;
$black: #000000;
$dark-black: #0E162D;

//272E6E
$site-color: #ffffff;
$text-color: #ffffff;
$meta-color: #9e9e9e;
$light-color: $dark-white;
$lighter-color: lighten($dark-white, 7%);
