$white: #ffffff;
$dark-white: #E0E2E4;
$black: #0E162D;
$dark-black: #0E162D;

//272E6E
$site-color: #0E162D;
$text-color: #0E162D;
$meta-color: #8c959a;
$light-color: $dark-white;
$lighter-color: lighten($dark-white, 7%);
