$sans-serif-fallback: "Neue Haas Grotesk", "Helvetica Neue", Helvetica, sans-serif;
$sans-serif: "Atlas Grotesk", $sans-serif-fallback;

$text-serif-fallback: "Georgia", "Times New Roman", serif;
$text-serif: $sans-serif;

$display-serif-fallback: "Georgia", "Times New Roman", serif;
$display-serif: $sans-serif;

$monospace: $sans-serif;
