.ad {
  float: left;
  margin-left: -12em;
  position: absolute;

  @media screen and (max-width: 1110px) {
    margin-left: -10em;
  }

  @media screen and (max-width: 1000px) {
    margin-left: -9em;
  }

  @media screen and (max-width: 950px) {
    margin-left: 0;
    position: relative;
    width: 100%;
  }
}

.one {
  right: 0;
  width: 148px;
  padding-bottom: 8em;
  position: relative;

  @media screen and (max-width: 950px) {
    width: 100%;
    padding-bottom: 5em;
  }

  .bsa_it_ad {
    padding: 15px;

    a {
      font-family: $sans;
    }

    .bsa_it_i {
      margin: 0;
    }
  }

  .bsa_it_p {
    display: none !important;
  }
}

body #bsap_aplink {
  float: left;
  width: 148px;

  @media screen and (max-width: 950px) {
    display: none;
  }
}