@mixin ligatures_kerning {
  -moz-font-feature-settings:"kern" 1, "liga" 1, "clig" 1, "swsh" 1;
  -moz-font-feature-settings:"kern=1, liga=1, clig=1, swsh=1";
  -ms-font-feature-settings:"kern" 1, "liga" 1, "clig" 1, "swsh" 1;
  -o-font-feature-settings:"kern" 1, "liga" 1, "clig" 1, "swsh" 1;
  -webkit-font-feature-settings:"kern" 1, "liga" 1, "clig" 1, "swsh" 1;
  font-feature-settings:"kern" 1, "liga" 1, "clig" 1, "swsh" 1;
}

@mixin small-caps {
  -moz-font-feature-settings:"smcp" 1, "c2sc" 1;
  -moz-font-feature-settings:"smcp=1, c2sc=1";
  -ms-font-feature-settings:"smcp" 1, "c2sc" 1;
  -o-font-feature-settings:"smcp" 1, "c2sc" 1;
  -webkit-font-feature-settings:"smcp" 1, "c2sc" 1;
  font-feature-settings:"smcp" 1, "c2sc" 1;
}

/*

FONT FACE IMPORT
-------------------------------------------
@font-import

Mixin to help import fonts
------------------------------------------- */

@mixin embed-font($font-name, $font-filepath-and-name){
  @font-face {
    font-family: $font-name;
    src: url(asset_path($font-filepath-and-name+".eot")); /* IE9 Compat Modes */
    src: url(asset_path($font-filepath-and-name+".eot?#iefix")) format('embedded-opentype'), /* IE6-IE8 */
         url(asset_path($font-filepath-and-name+".woff")) format('woff'), /* Modern Browsers */
         url(asset_path($font-filepath-and-name+".ttf"))  format('truetype'), /* Safari, Android, iOS */
         url(asset_path($font-filepath-and-name+".svg#svgFontName")) format('svg'); /* Legacy iOS */
    }
}
