// Fonts
$sans: "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, sans-serif;
$sans-sc: "Whitney SSm SC A", "Whitney SSm SC B", $sans;

$serif: "Chronicle SSm A", "Chronicle SSm B", Georgia, Cambria, "Times New Roman", Times, serif;
$serif-sc: "Chronicle SSm SC A", "Chronicle SSm SC B", $serif;

$display-font: $serif;

// Colors
$heading-text-color: #353D44;
$main-text-color: #404951;
$secondary-text-color: #808D97;
$dark-grey: #c4c8ca;
$light-grey: #F6F7F8;
$accent-color: #15C0DC;
// $accent-color: #0DB6EB;
// $accent-color: #15C0DC;