
body {
  @include ligatures_kerning;

  color                  : $main-text-color;
  line-height            : 29px;

  -webkit-font-smoothing : antialiased;
  text-rendering         : optimizeLegibility;

  font: {
    family : $serif;
    size   : 18px;
  }
  @media screen and (max-width: 500px) {
    font-size : 93.8%;
  }
}

/* HEADINGS */
h1, h2, h3, h4, h5 {
  margin      : 0.3em 0 0.5em 0;

  font-family : $display-font;
  color       : $heading-text-color;
  line-height : 1.2em;
}

h1 {
  margin      : 0.3em 0 0.5em 0;

  font-size   : 2.4em;
  line-height : 1.05em;

  @media screen and (max-width: 768px) {
    font-size : 1.8em;
  }
}

h2 { font-size: 28px; }

h3 {
  letter-spacing : .05em;
  text-transform : uppercase;

  font: {
    size   : 1.324em;
    family : $serif-sc;
  }
}

h4 {
  text-transform : lowercase;
  font: {
    size   : 1.3em;
    family : $sans-sc;
  }
}

/* TEXT */
p {
  margin : auto auto 1.5em;

  &.date {
    margin-bottom  : 2.25em;

    color          : $secondary-text-color;
    letter-spacing : .05px;
    text-transform : lowercase;

    font: {
      family : $serif-sc;
      weight : 500;
      size   : 1em;
    }
  }
  &.page-description {
    margin-bottom : 0;
    font-family   : $display-font;

    .lead {
      margin-bottom : 0.4em;
    }
  }
}

.text-align-right {
  text-align : right;
}

.text-align-left {
  text-align : left;
}

.text-align-center {
  text-align : center;
}

.lead {
  margin-bottom : 1.05em;
  line-height   : 1.5em;
  color: #63717C;

  font: {
    size   : 118.8%;
    family : $display-font;
  }
  @media screen and (max-width: 768px) {
    margin-bottom : 1.618em;

    font-size     : 110%;
    line-height   : 1.618em;
  }
}

p, blockquote, table, form, ul, ol {
  display       : block;
  margin-bottom : 1.64706rem;
}

ol, ul {
  @media screen and (max-width: 768px) {
    margin-left : 1.4em;
  }
}

.cite {
  display : block;
  font: {
    size  : 0.618em;
    style : italic;
  }
}

.blog p.date {
  margin-bottom : 1.2em;
}

em, i { font-style: italic; }

strong, b { font-weight: bold; }

small {
  font-size : 15px;
  line-height: 24px;
  h3 {
    padding-bottom : 1em;
    font-size      : 18px;
  }
}

figcaption {
  color : $secondary-text-color;
  font: {
    size   : 90%;
    family : $sans;
  }
}

.serif-sc {
  font-family    : $serif-sc;
  letter-spacing : .05em;
  text-transform : lowercase;
}

.sans-sc {
  font-family    : $sans-sc;
  letter-spacing : .05em;
  text-transform : lowercase;
}

.caps, %caps {
  font-family    : $serif-sc;
  letter-spacing : .05em;
  text-transform : lowercase;
}

/* LISTS */
ul {
  margin-bottom : 1.618em;
  margin-left   : 2.5em;

  list-style    : disc outside none;
}

ol {
  margin-bottom : 1.618em;
  list-style    : decimal outside none;
}

/* BLOCKQUOTES */
blockquote {
  margin-bottom : 1.4em;
  margin-left   : -1.5em;
  padding       : 0;
  padding-left  : 1.5em;

  border-left   : 3px solid $accent-color;

  p {
    margin-bottom : 0;

    font-family   : $display-font;
    color         : $main-text-color;

    + p {
      text-indent : 2em;
    }
  }
  &.pullquote {
    margin        : auto;
    margin-bottom : 1.5em;
    padding-left  : 0;

    border-left   : none;

    p {
      margin      : 2em -80px 2em;
      padding     : 0;

      color       : $heading-text-color;
      line-height : 40px;
      text-align  : center;

      font: {
        family : $display-font;
        weight : 500;
        size   : 24px;
      }
      @media screen and (max-width: 768px) {
        margin      : 0;

        font-size   : 1.3em;
        line-height : 1.618em;
      }
    }
  }
}

/*

ASIDE
------------------------------------------- */
aside {
  position    : absolute;

  width       : 160px;
  margin-top  : 0.3em;
  margin-left : -12em;

  font-size   : 16px;
  line-height : 29px;
  text-align  : right;

  @media screen and (max-width: 1052px) {
    position       : inherit;
    display        : block;

    width          : inherit;
    margin         : auto;
    margin-top     : 1.5em;
    margin-left    : 0;
    padding        : 0;
    padding-bottom : 1.5em;

    font-style     : italic;
    color          : $secondary-text-color;
    text-align     : center;
  }
}

/*

HR
------------------------------------------- */
hr {
  height : auto;
  border : none;

  &.short {
    color : $dark-grey;
    &:after {
      content        : "* * *";

      display        : block;

      margin-top     : 2rem;
      margin-bottom  : 1.75rem;

      color          : rgba(0,0,0,0.3);
      letter-spacing : .2em;
      line-height    : .857142857;
      text-align     : center;

      font: {
        size   : 1.75rem;
        family : $display-font;
        weight : 700;
      }
    }
  }
  &.long {
    height     : 1px;

    background : $dark-grey;
    border     : none;

    margin-bottom: 1.64706rem;
  }
}

/*

LINKS
------------------------------------------- */
a {
  color              : $main-text-color;
  text-decoration    : none;
  border-bottom      : 1px dotted $main-text-color;

  -webkit-transition : .2s;
  transition         : .2s;

  &:hover, &:focus {
    color           : $accent-color;
    text-decoration : none;
    border-bottom   : 1px dotted $accent-color;
  }

  &.more {
    font-style : normal;
  }

  &.post-title {
    // font-weight     : 600;
    color           : $heading-text-color;
    text-decoration : none;
    border-bottom   : none;
    font-size: 28px;

    &:hover {
      color               : $accent-color;
      border-bottom-color : $accent-color;
    }
  }
}

.sans {
  font-family : $sans;
  &.light {
    color : $secondary-text-color;
  }
}

.light {
  color : $secondary-text-color;
}

.dark {
  p {
    color : $heading-text-color;
  }
}