body {
  font: {
    family: $serif;
    size: 106.3%;
  }
  line-height: 1.618em;
  color: $main-text-color;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  @include ligatures_kerning;

  @media screen and (max-width: 500px) {
    font-size: 93.8%;
  }
}

/* HEADINGS */
h1, h2, h3, h4, h5 {
  font-family: $display-font;
  color: $heading-text-color;
  line-height: 1.2em;
  margin: 0.3em 0 0.5em 0;
}

h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin: 0.3em 0 0.5em 0;
  @media screen and (max-width: 768px) {
    font-size: 1.8em;
  }
}

h2 { font-size: 1.675em; }

h3 {
  font: {
    size: 1.324em;
    family: $serif-sc;
  }
  text-transform: uppercase;
  letter-spacing: .05em;
}

h4 {
  font: {
    size: 1.3em;
    family: $sans-sc;
  }
  text-transform: lowercase;
}

/* TEXT */
p {
  margin: auto auto 1.5em;
  &.date {
    font: {
      family: $serif-sc;
      weight: 500;
      size: 1em;
    }
    text-transform: lowercase;
    letter-spacing: .05px;
    color: $secondary-text-color;
    margin-bottom: 2.25em;
  }
  &.page-description {
    margin-bottom: 0;
    font-family: $display-font;
    .lead {
      margin-bottom: 0.4em;
    }
  }
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.lead {
  font: {
    size: 118.8%;
    family: $display-font;
  }
  line-height: 1.5em;
  margin-bottom: 1.05em;
  @media screen and (max-width: 768px) {
    font-size: 110%;
    line-height: 1.618em;
    margin-bottom: 1.618em;
  }
}

p, blockquote, table, form, ul, ol {
  display: block;
  margin-bottom: 1.64706rem;
}

ol, ul {
  @media screen and (max-width: 768px) {
    margin-left: 1.4em;
  }
}

.cite {
  font: {
    size: 0.618em;
    style: italic;
  }
  display: block;
}

.blog p.date {
  margin-bottom: 1.2em;
}

em, i { font-style: italic; }
strong, b { font-weight: bold; }

small {
  font-size: 14px;
  h3 {
    font-size: 17px;
    padding-bottom: 1em;
  }
}

figcaption {
  font: {
    size: 90%;
    family: $sans;
  }
  color: $secondary-text-color;
}

.serif-sc {
  font-family: $serif-sc;
  text-transform: lowercase;
  letter-spacing: .05em;
}

.sans-sc {
  font-family: $sans-sc;
  text-transform: lowercase;
  letter-spacing: .05em;
}

.caps, %caps {
  font-family: $serif-sc;
  text-transform: lowercase;
  letter-spacing: .05em;
}

/* LISTS */
ul {
  list-style: disc outside none;
  margin-bottom: 1.618em;
  margin-left: 2.5em;
}

ol {
  list-style: decimal outside none;
  margin-bottom: 1.618em;
}

/* BLOCKQUOTES */
blockquote {
  padding: 0;
  border-left: 3px solid $accent-color;
  padding-left: 1.5em;
  margin-left: -1.5em;
  margin-bottom: 1.4em;
  p {
    font-family: $display-font;
    margin-bottom: 0;
    color: $main-text-color;
    + p {
      text-indent: 2em;
    }
  }
  &.pullquote {
    border-left: none;
    margin: auto;
    padding-left: 0;
    margin-bottom: 1.5em;
    p {
      font: {
        family: $display-font;
        weight: 500;
        size: 24px;
      }
      color: $heading-text-color;
      margin: 2em -80px 2em;
      line-height: 1.5;
      text-align: center;
      padding: 0;

      @media screen and (max-width: 768px) {
        font-size: 1.3em;
        line-height: 1.618em;
        margin: 0;
      }
    }
  }
}

/*

ASIDE
------------------------------------------- */
aside {
  font-size: 16px;
  line-height: 29px;
  margin-left: -12em;
  margin-top: 0.3em;
  position: absolute;
  text-align: right;
  width: 160px;

  @media screen and (max-width: 1052px) {
    color: $secondary-text-color;
    display: block;
    font-style: italic;
    padding: 0;
    padding-bottom: 1.5em;
    position: inherit;
    text-align: center;
    width: inherit;
    margin-left: 0;
    margin: auto;
    margin-top: 1.5em;
  }
}

/*

HR
------------------------------------------- */
hr {
  border: none;
  height: auto;
  &.short {
    color: $dark-grey;
    &:after {
      content: "* * *";
      font: {
        size: 1.75rem;
        family: $display-font;
        weight: 700;
      }
      line-height: .857142857;
      letter-spacing: .2em;
      color: rgba(0,0,0,0.3);
      display: block;
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 1.75rem;
    }
  }
  &.long {
    background: $dark-grey;
    border: none;
    -moz-box-shadow: 0 1px 0 #FFF;
    -webkit-box-shadow: 0 1px 0 #FFF;
    box-shadow: 0px 1px 0 #FFF;
    height: 1px;
  }
}

/*

LINKS
------------------------------------------- */
a {
  color: $main-text-color;
  text-decoration: none;
  border-bottom: 1px dotted $main-text-color;
  -webkit-transition: .2s;
  transition: .2s;
  &:hover, &:focus {
    color: $accent-color;
    text-decoration: none;
    border-bottom: 1px dotted $accent-color;
  }
  &.more {
    font-style: normal;
  }
  &.post-title {
    text-decoration: none;
    border-bottom: none;
    color: $heading-text-color;
    font-weight: 600;
    &:hover {
      border-bottom-color: $accent-color;
      color: $accent-color;
    }
  }
}