.wufoo {
  font-family: $sans;

  input:hover, textarea:hover {
    border-color: #bbb;
  }

  input, button, textarea, .button {
    width: 100%;
    margin: 0 0 15px 0;
    padding: 10px;
    line-height: 25px;
    color: #212121;
    border: 2px solid #ccc;
    background: #fff;
    position: relative;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: border-color .15s ease-out;
    -moz-transition: border-color .15s ease-out;
    -o-transition: border-color .15s ease-out;
    -webkit-box-shadow: none;
      box-shadow: none;
    transition: border-color .15s ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: auto;
  }

  input:focus, textarea:focus {
    border-color: $blue;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }
}

.wufoo input.btn, .btn {
  display: inline-block;
  font-family: $sans;
  font-size: 0.618em;
  font-weight: 500;
  line-height: 47px;
  text-transform: uppercase;
  color: #fff;
  background-color: $blue;
  border: none !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 0 2em;
  margin: 0;
  letter-spacing: 2px;
  -webkit-transition: background-color .15s ease-out, color .15s ease-out;
  -moz-transition: background-color .15s ease-out, color .15s ease-out;
  -o-transition: background-color .15s ease-out, color .15s ease-out;
  transition: background-color .15s ease-out, color .15s ease-out;
  &:hover {
    color: darken(#fff, 10%);
    background-color: darken($blue, 10%);
  }
  &:active {
    color: darken(#fff, 20%);
    background-color: darken($blue, 20%);
  }
}

.wufoo textarea:focus {
  background: #fafafa;
}

.button {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  border: none;
  background-color: $blue;
  margin-bottom: 0;
}