html {
  font: 125%/1.7778 $text-serif;
  color: $black;
  background-color: $white;

  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga", "hist", "onum";

  @media all and (max-width: 48em) {
    font-size: 112.5%;
  }
}

.container {
  max-width: 1390px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 2em;
  margin: auto;
  @media (max-width: $breakpoint-small) {
    padding-left: 30px;
    padding-right: 30px;
  }
}
