html {
  font: 112.5%/1.7778 $text-serif;
  color: $black;
  background-color: $white;

  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga", "hist", "onum";
}

.container {
  max-width: 1390px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 2em;
  margin: auto;
}
