h1, h2 {
  font-family: $display-serif;
}

h3 {
  font-family: $sans-serif;
  font-size: 1.1em;
}

h1, h2 {
  color: #13171D;
}

h3 + p {
  margin-top: -0.5em;
}

h2 + p {
  margin-top: -1em;
}

a {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  color: inherit;
  cursor: pointer;

  &:hover, &:focus {
    color: $site-color;

    h1 {
      color: $site-color;
    }
  }
}

code, pre {
  font-family: $monospace;
  font-size: .875rem;
}

.meta {
  color: $meta-color;
}

blockquote {
  padding-left: $baseline;
  font-style: italic;
  border-left: 2px solid $site-color;

  em, strong {
    font-weight: 400;
    font-style: normal;
  }
}

figcaption {
  font-family: $sans-serif;
  color: $meta-color;
}

.caps {
  font-feature-settings: "smcp", "c2sc", "lnum";
  letter-spacing: .05em;
}

.hr-vertical {
  width: 1px;
  border: none;
  border-left: 1px solid;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  height: 1px;
  margin-top: 1.64706rem;
  margin-bottom: 1.64706rem;
  border: 0;
  border-top: 1px solid $meta-color;
  opacity: .5
}


  * + h2, * + .h2,
  * + h3, * + .h3 {
    padding-top: $baseline;
  }

code, pre {
  font-family: $monospace;
}

ol {
  li {
    margin-bottom: 1em;
  }
}

.u-no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

small {
  font-style: 85%;
}
