.blinker {
  animation-name: blinker;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 1;
  }
}
