.button {
  background: $color--accent;
  border-radius: 2px;
  color: #fff !important;
  font-family: $font--sans-serif;
  padding: 0.2em 0.6em;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    color: #fff;
    background: darken($color--accent, 10%);
    transition: all 0.2s;
  }
}

.twitter-button {
  display: inline-block;
}