.button {
  padding: .2em .6em;

  transition: .2s cubic-bezier(.165, .84, .44, 1);
  text-decoration: none;

  color: $white;
  border-radius: 2px;
  background: $color--accent;

  font-family: $font--sans-serif;

  &:hover {
    transition: .2s cubic-bezier(.165, .84, .44, 1);

    color: $white;
    background: darken($color--accent, 10%);
  }
}

.twitter-button {
  display: inline-block;
}
