.button {
  background: $color--accent;
  border-radius: 2px;
  color: #fff;
  font-family: $font--sans-serif;
  padding: 0.2em 0.6em;
  text-decoration: none;
  transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    color: #fff;
    background: darken($color--accent, 10%);
    transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

.twitter-button {
  display: inline-block;
}
