::-webkit-input-placeholder {
  transition: .4s cubic-bezier(.165, .84, .44, 1);

  opacity: 1 !important;
  color: #9ca3a6 !important;
}

::-moz-placeholder {
  transition: .4s cubic-bezier(.165, .84, .44, 1);

  opacity: 1 !important;
  color: #9ca3a6 !important;
}

:-ms-input-placeholder {
  transition: .4s cubic-bezier(.165, .84, .44, 1);

  opacity: 1 !important;
  color: #9ca3a6 !important;
}
