::-webkit-input-placeholder {
  color:#9CA3A6!important;
  opacity:1!important
}

::-moz-placeholder {
  color:#9CA3A6!important;
  opacity:1!important
}

:-ms-input-placeholder {
  color:#9CA3A6!important;
  opacity:1!important
}