.wrap {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 2%;

  @media screen and (max-width: 1000px) {
    width: 90%;
  }
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.display--block {
  display: block;
}

.display--inline-block {
  display: inline-block;
}
