* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  cursor: auto;
  outline: none;
}

table, figure, blockquote, pre, ul, ol,
h1, .alpha,
h2, .beta {
  margin-bottom: $baseline;
}

img {
  max-width: 100%;
}

ul, ol {
  padding-left: $baseline;
  overflow: hidden;
}

a {
  outline: none;
}

a:active, a:focus {
 outline: none;
 ie-dummy: expression(this.hideFocus=true);
}
