$font--sans-serif: 'franklin-gothic-urw', Helvetica, sans-serif;
$font--serif: $font--sans-serif;

$base-font-size: (20/15.384615385)*100%;
$baseline-unitless: 30/(15.384615385*($base-font-size/100%));
$baseline: $baseline-unitless * 1rem;

$color--darkest-grey: #404951;
$color--dark-grey: #251D21;

$color--light-grey: #808D97;
$color--lighter-grey: #c4c8ca;
$color--lightest-grey: #F6F7F8;

$color--background: #f8fcfe;
$color--accent: #2798FE;
/* new green $color--accent: #4ACA77; */
// $color--accent: #946AD7;
// $color--accent: #8CB56B;
// $color--accent: #58AEE7;
// $color--accent: #7fd4e1;
// $color--accent: #FCC453;
