form.email-signup {
  margin: 0;
  background-color: transparent;
  padding: 0;
  label {
    display: block;
    margin-bottom: 10px;
    color: #2b292b;
  }
  input {
    &[type="email"] {
      font-family: $serif;
      font-size: 0.818em;
      height: 47px;
      font-style: italic;
      color: #999;
      background-color: #fff;
      border: 1px solid #ccc;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      width: 100%;
      padding: 0 0 0 20px;
      margin-bottom: 20px;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      &:focus {
        outline: none;
        background-color: #f2f2f2;
      }
    }
    &[type="submit"] {
      font-family: $sans;
      font-size: 0.618em;
      font-weight: 500;
      line-height: 47px;
      color: #fff;
      background-color: $blue;
      border: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      width: 100%;
      padding: 0;
      margin: 0;
      cursor: pointer;
      letter-spacing: 2px;
      &:focus {
        outline: none;
        background-color: #00b7e4;
      }
      &:hover {
        background-color: #00b7e4;
      }
    }
  }
}


#mc_embed_signup {
  background: #f0f0f0;
  padding: 2em;
  margin: 2.6em 0 2em 0;
}