/*

NIGHT STYLESHEET
-------------------------------------------

Created and Authored by Devin Halladay

-------------------------------------------

This stylesheet should only be used to
override styles set forth in devin.scss (mainly
colors) for the night/dark view of this site.

------------------------------------------- */


// Colors
// ==============================
$color--darkest-grey: #353D44;
$color--dark-grey: #404951;
$color--light-grey: #808D97;
$color--lighter-grey: #c4c8ca;
$color--lightest-grey: #F6F7F8;
$color--background: #ffffff;
$accent-color: #15C0DC;
