/*

ABOUT PAGE STYLESHEET
-------------------------------------------

Created and Authored by Devin Halladay

-------------------------------------------

This stylesheet is for my new art-directed, editorial
about page. It should be used for this page's styles,
and only this page's styles.

------------------------------------------- */

h1 {
  text-align: center;
  margin-bottom: 2em;
  @media screen and (max-width: 768px) {
    margin-top: -1em;
    text-align: left;
    margin-bottom: 1em;
  }
}