
@import "_iron/settings";

.row.full-width {
  max-width : 100%;

  @media screen and (min-width: 1400px) {
    max-width : 70%;
  }
  p {
    column-count         : 2;
    column-gap           : 2em;

    -moz-column-count    : 2;
    -webkit-column-count : 2;
    -moz-column-gap      : 2em;
    -webkit-column-gap   : 2em;
    -webkit-hyphens      : auto;
    -moz-hyphens         : auto;

    @media screen and (max-width: 768px) {
      column-count         : inherit;
      column-gap           : inherit;

      -moz-column-count    : inherit;
      -webkit-column-count : inherit;
      -moz-column-gap      : inherit;
      -webkit-column-gap   : inherit;
      -webkit-hyphens      : auto;
      -moz-hyphens         : auto;
    }
  }
}

blockquote.pullquote {
  margin-bottom : 0;
  p {
    margin               : 0;
    // margin-top           : 3rem;
    margin-bottom        : 1rem;
    column-count         : 1;
    column-gap           : 1;

    font-family          : $sans;
    color                : #84888A;
    line-height          : 1.6em;
    text-align           : left;

    -moz-column-count    : 1 !important;
    -webkit-column-count : 1 !important;
    -moz-column-gap      : 1 !important;
    -webkit-column-gap   : 1 !important;
    -webkit-hyphens      : auto;
    -moz-hyphens         : auto;
  }
}

.header {
  margin-bottom  : 0;
  padding-bottom : 0;

  nav {
    padding-bottom : 0;
    border-bottom  : 0;
  }
}

.editorial-project--devinhalladay {
  h1 {
    margin      : 0.4em 0 0.3em 0;

    font-size   : 2em;
    line-height : 1.4em;
    text-align  : center;
  }
}

hr.long {
  background : none;
  border-top : 1px dotted #c4c8ca;
}

h3 {
  font-family    : $sans;
  font-weight    : 600;
  letter-spacing : inherit;
  text-transform : none;
}

.single-text-column {
  p {
    column-count         : inherit;
    column-gap           : inherit;

    -moz-column-count    : inherit !important;
    -webkit-column-count : inherit !important;
    -moz-column-gap      : inherit !important;
    -webkit-column-gap   : inherit !important;
    -webkit-hyphens      : auto;
    -moz-hyphens         : auto;
  }
}

.intro {
  p {
    font-family : $sans;
    font-size   : 18px;
    line-height : 1.8em;
  }
}

section {
  margin-bottom : 1.6em;
  padding-top   : 1.6em;

  &.intro {
    padding-top : 0;
  }

  &#masthead {
    margin-bottom : 0;
    padding-top   : 2.3em;
  }

  &.wrap-grey {
    padding-bottom : 1.6em;
    background     : #F2F3F3;
  }
}

figure {
  @media screen and (max-width: 768px) {
    padding-bottom : 2em;
  }
}

.caption-overlay {
  position         : absolute;
  right            : 0;
  bottom           : 20%;

  width            : 33%;
  padding          : 2%;

  background-color : rgba(0, 0, 0, 0.5);
  font-family      : $sans;
  color            : #FEFEFE;
  line-height      : 1.25em;

  -moz-hyphens     : manual;

  @media screen and (max-width: 768px) {
    width : 100%;
  }
}

.img-caption-overlay {
  position : relative;
}

.indent {
  text-indent : 1.25em;
}

body > div.main-content > section:nth-child(8) {
  margin-bottom : 3em;
}