---
layout: page
title: Work
custom_css_class: work
---
<hr>
<p class="lead">This page features some of my favorite work. For more recent work and a full portfolio, visit me on <a href="http://dribbble.com/devinhalladay">dribbble</a>.</p>
<hr>
<ul class="small-block-grid-2">
  {% for post in site.posts %}
    {% if post.categories contains 'work' %}
      <li class="work-entry"><a href="{{ post.permalink }}"><img src="{{ post.cover_image }}" alt="{{ post.title }}"></a></li>
    {% endif %}
  {% endfor %}
</ul>