---
layout: page
title: Work
custom_css_class: work
alias: [/projects]
---
    <div class="page-masthead">
      <hr class="long">
      <p class="page-description">I am <strong>available</strong> for freelance work and consulting.<br>For more recent work and a full portfolio, visit me on <a href="http://dribbble.com/devinhalladay">Dribbble</a>.</p>
      <hr class="long">
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 small-12 small-centered large-centered columns" id="content">
    <ul class="small-block-grid-1 large-block-grid-3">
      {% for weight in (1..20) %}
        {% for post in site.categories.work %}
          {% if post.weight == weight %}
            {% capture tweet_link %}https://twitter.com/intent/tweet?original_referer=http://devinhalladay.com{{ post.url | escape }}&text={{ post.tweet_text | escape }}&tw_p=tweetbutton&url=http://devinhalladay.com{{ post.url | escape }}{% endcapture %}
            {% capture fb_link %}http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://devinhalladay.com{{ post.url }}/&p[images][0]=https://twitter.com/api/users/profile_image/devinhalladay?size=original&p[title]={{ post.title }}&p[summary]={{ post.excerpt | strip_html }}{% endcapture %}

            <li class="work-entry">
              <a href="{{ post.url }}">
                <figure>
                  <img src="{{ post.cover_image }}" alt="{{ post.title }}">
                  <span class="overlay">
                    <h4>{{ post.title }}</h4>
                  </span>
                </figure>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-8 small-12 small-centered large-centered columns" id="content">