.pagination {
  @include transition(opacity 0.25s $easeInOutQuad);
  position: fixed;
  top: 50%;
  font-size: 1.5em;
  opacity: 0;
  a { border-bottom: none; }
  & > .icon {
    position: relative;
    top: -0.5em;
  }
  @include min-width(56em) {
    opacity: 1;
  }
}

.pagination.previous { right: 1rem; }
.pagination.next     { left: 1rem; }