.project-image {
  border-bottom: none;
  img {
    -webkit-box-shadow: 0 1px 10px black(0.32);
    -moz-box-shadow: 0 1px 10px black(0.32);
    box-shadow: 0 1px 10px black(0.32);
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 70%;
    margin: auto;
    border: $separator;
  }
}

.post.project {
  border-bottom:none;
}

@media (max-width: 767px) {
  .project-image img {
    width: 120%;
    left: 0
  }
}