<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | Devin Halladay</title>

  <!-- Import the main stylesheet. -->
  {% stylesheet devin %}

  <!-- Import Cloud.typography code. -->
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7806452/701986/css/fonts.css" />
</head>
<body>
  {{ content }}
</body>
{% javascript devin %}
<script>
  var options = {
    offset: '.site__content',
    classes: {
      clone: 'site__header__adhesive',
      stick: 'site__header__adhesive--stick',
      unstick: 'site__header__adhesive--unstick'
    },
  }

  var headhesive = new Headhesive('.site__header', options);
</script>
</html>