<!DOCTYPE html>
<html>
{% capture section %}{{ url | remove_first:'/' | split:'/' | first }}{% endcapture %}
{% capture js %}/public/js{% endcapture %}
{% capture css %}/public/css{% endcapture %}
{% capture img %}/public/img{% endcapture %}
<head>
  {% include "includes/head" %}
</head>

<body class="home blog">

  {% include "includes/header" %}

  <div class="main-content">
    <div class="row">
      <div class="large-8 small-10 small-centered large-centered columns" id="content">
        {{ content }}
      </div>
    </div>
  </div>

  {% include "includes/footer" %}

  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

  <script>
    document.write('<script src=' +
    ('__proto__' in {} ? '{{ js }}/vendor/zepto' : '{{ js }}/vendor/jquery') +
    '.js><\/script>')
  </script>

  <script src="{{ js }}/foundation/foundation.js"></script>
  <script src="{{ js }}/vendor/responsive-nav.min.js"></script>

  <script src="{{ js }}/devin.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js"></script>

  {% if section == 'blog' %}
  <script>
    {% if meta.dropcap_enabled.value == '1' %}
    jQuery(document).ready(function($) {
      $("#content>:nth-child(3)").addClass("first-paragraph");
    });

    jQuery(document).ready(function($) {
      $("#content>:nth-child(3)").lettering('words');
    });

    jQuery(document).ready(function($) {
      $("#content>:nth-child(3) .word1").each(function () {
        var el = $(this),
          text = el.html(),
          first = text.slice(0, 1),
          rest = text.slice(1);
        el.html("<span class='dropcap'>" + first + "</span>" + rest);
      });
    });
    {% endif %}
  </script>
  {% endif %}
</body>
</html>