---
layout: page
title: Print Design
description: 'I <strong>love</strong> print design. I have a passion for typography and layouts that honor their content in a printed, tangible form. These are print designs created for clients and studio projects.'
cover_image: '/uploads/2013/10/print-design.jpg'
date: 2013-10-19 14:15
custom_css_class: work work-single
categories: work
---
<hr>
<p class="lead">{{ page.description }}</p>
<hr>
<ul class="small-block-grid-1 large-block-grid-1">
  <li>
    <figure><img src="/uploads/2013/10/perception.jpg" alt="Perception print"></figure>
  </li>
  <li>
    <figure><img src="/uploads/2013/10/wander_small.jpg" alt="Those Who Wander print"></figure>
  </li>
  <li>
    <figure><img src="/uploads/2013/10/article_page_spread.jpg" alt="Article spreads for The Guild magazine"></figure>
  </li>
  <li>
    <figure><img src="/uploads/2013/10/oceania.jpg" alt="Oceania print"></figure>
  </li>
  <li>
    <figure><img src="/uploads/2013/10/royale_poster.jpg" alt="Royale print"></figure>
  </li>
</ul>