{% include header.html %}
    {% capture tweet_text %}&ldquo;{{ page.title }}&rdquo; by @devinhalladay{% endcapture %}

    <div class="main-content">
      <div class="row">
        <div class="large-8 small-11 small-centered large-centered columns" id="content">
          {% if page.custom_type == 'link' %}
            <h1><a href="{{ page.link_url }}">{{ page.title }}</a></h1>
            <p class="date">{{ page.date | date: "%d %B %G" }}</p>

            {{ content }}

          {% else %}
            <h1>{{ page.title }}</h1>
            <p class="date">{{ page.date | date: "%d %B %G" }}</p>

            {{ content }}
            <!--<a href="http://twitter.com/share?url={{ site.url }}{{ page.url }}&text={{ tweet_text }}" target="_blank">Tweet this post.</a>-->
          {% endif %}

        </div>
      </div>
    </div>

  {% include footer.html %}
  </body>
</html>