{% for post in site.pages.blog.posts %}
  {% if post.meta.type.value == "quote" %}
    <div class="quote">
      <h4><a href="{{ post.url }}" class="post-title">{{ post.title }}</a></h4>
      <p class="date">{{ post.date | date: "%d %B %G" }}</p>
      {{ post.body }}
    </div>

  {% elsif post.meta.type.value == "post" %}

    <div class="post">
      <h2><a href="{{ post.url }}" class="post-title">{{ post.title }}</a></h2>
      <p class="date">{{ post.date | date: "%d %B %G" }}</p>
      <p>{{ post.excerpt | strip_html | truncatewords: 60 | smartypants }} <a class="more" href="{{ post.url }}">read more</a></p>
    </div>

  {% elsif post.meta.type.value == "link" %}

    <div class="link">
      <h4><a href="{{ post.meta.url.value }}" class="post-title">{{ post.title }} <i class="ss-icon">link</i></a></h4>
      <p class="date">{{ post.date | date: "%d %B %G" }}</p>
      {{ post.body }}
    </div>
  {% endif %}
{% endfor %}