// Partial
//
// Forms
// ===============
// Styles for forms and form-related elements.

textarea {
  height: 160px;
}

form * {
  font-family: $sans;
}

.grid-form [data-row-span] [data-field-span] label:first-child {
  font-family: $sans-sc;
  font-size: 12px;
  font-weight: 600;
}

.grid-form input[type="text"], .grid-form input[type="email"], .grid-form textarea, .grid-form select {
  font-size: 16px;
  padding: 0;
  margin: 0;
  width: 100%;
}

input.submit {
  width: 100%;
  height: 100%;
  background: none;
  padding: 17px;
}

.parsley-required {
  display: none;
}

.parsley-error {
  background: #ffeded !important;
}

.parsley-errors-list {
  display: none;
}