// Partial
//
// Misc
// ===============
// Styles that have nowhere left to go.

.clearfix {
  *zoom: 1;

  &:before {
    content: "";
    display: table;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.left { float: left; }

.right { float: right; }

.align-center { text-align: center; }