// Partial
//
// Settings
// ===============
// Variables that define crucial styles in this site.

// Fonts
// ==============================

$base-font-size: (18/16)*100%;
$baseline-unitless: 28/(16*($base-font-size/100%));
$baseline: $baseline-unitless * 1rem;

// Sans-serif
$sans: "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, sans-serif;
$sans-sc: "Whitney SSm SC A", "Whitney SSm SC B", $sans;

// Serif
$serif: "Chronicle SSm A", "Chronicle SSm B", Georgia, Cambria, "Times New Roman", Times, serif;
$serif-sc: "Chronicle SSm SC A", "Chronicle SSm SC B", $serif;

// Display
$display-font: $serif;

// Colors
// ==============================
$color--darkest-grey: #353D44;
$color--dark-grey: #404951;
$color--light-grey: #808D97;
$color--lighter-grey: #c4c8ca;
$color--lightest-grey: #F6F7F8;
$color--background: #ffffff;
$accent-color: #15C0DC;
