// Partial
//
// Type
// ===============
// Styles pertaining to the base typography in this site.

body {
  @include ligatures_kerning;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  font-size: $base-font-size;
  line-height: $baseline-unitless;
  font: {
    family: $serif;
  }
  color: $color--dark-grey;

  @media (max-width: 860px) {
    font-size: $base-font-size*.9;
  }

  @media (max-width: 500px) {
    font-size: $base-font-size*.8;
  }
}

h1,
.alpha {
  font-family: $display-font;
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 1.2;
}

h2,
.beta {
  font-family: $display-font;
  font-size: 1.5rem;
  // font-weight: 700;

  * + & {
    padding-top: $baseline;
    padding-bottom: $baseline;
  }
}

h3,
.gamma {
  margin-bottom: $baseline/2;

  font-family: $display-font;
  font-size: 1rem;
  // font-weight: 700;
}

h4,
.delta {
  margin-bottom: $baseline/2;

  font-family: $display-font;
  // font-weight: 400;
}

p, blockquote, table, form, ul, ol {
  display: block;
  margin-bottom: $baseline;
}

em, i { font-style: italic; }

strong, b { font-weight: bold; }

small {
  font-size: 15px;
  line-height: 24px;
  h3 {
    padding-bottom: 1em;
    font-size: 18px;
  }
}

figcaption {
  color: $color--light-grey;
  font: {
    size: 90%;
    family: $sans;
  }
}

/* LISTS */
ul {
  margin-left: 2.5em;
  list-style: disc outside none;
  @media screen and (max-width: 768px) {
    margin-left: 1.4em;
  }
}

ol {
  list-style: decimal outside none;
  @media screen and (max-width: 768px) {
    margin-left: 1.4em;
  }
}

/* BLOCKQUOTES */
blockquote {
  margin: $baseline 0 $baseline 0;
  padding-left: $baseline;

  border-left: 1px solid $accent-color;

  p {
    margin-bottom: 0;
    color: $color--light-grey;

    + p {
      text-indent: 2em;
    }
  }
}

/*

HR
------------------------------------------- */
hr {
  height: auto;
  border: none;
}

.hr--long {
  @extend hr;
  height: 1px;

  background: $color--lighter-grey;
  border: none;

  background: transparent;
  border-top: 1px dotted $color--lighter-grey;

  margin-bottom: 1.64706rem;
}

.hr--short {
  @extend hr;
  color: $color--lighter-grey;
  &:after {
    content: "* * *";

    display: block;

    margin-top: 2rem;
    margin-bottom: 1.75rem;

    color: rgba(0,0,0,0.3);
    letter-spacing: .2em;
    line-height: .857142857;
    text-align: center;

    font: {
      size: 1.75rem;
      family: $display-font;
      weight: 700;
    }
  }
}


/*

LINKS
------------------------------------------- */
a {
  color: $color--dark-grey;
  text-decoration: none;
  border-bottom: 1px dotted $color--dark-grey;

  -webkit-transition: .2s;
  transition: .2s;

  &:hover, &:focus {
    color: $accent-color;
    text-decoration: none;
    border-bottom: 1px dotted $accent-color;
  }
}

// Modifier Classes

.sans {
  font-family: $sans;
  &.light {
    color: $color--light-grey;
  }
}

.light {
  color: $color--light-grey;
}

.dark {
  p {
    color: $color--darkest-grey;
  }
}

.text--lead {
  font-family: $sans;
  font-size: 1.2rem;
  text-indent: 0;

  @media (max-width: 500px) {
    font-size: 1rem;
  }
}

.text--align-right {
  text-align: right;
}

.text--align-left {
  text-align: left;
}

.text--align-center {
  text-align: center;
}

.text--serif-sc {
  font-family: $serif-sc;
  letter-spacing: .05em;
  text-transform: lowercase;
}

.text--sans-sc {
  font-family: $sans-sc;
  letter-spacing: .05em;
  text-transform: lowercase;
}
