//
// Partial: typography
// ===================
//
// Type styles
//


h1,
.alpha {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 1;
}

h2,
.beta {
  font-family: $font--sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: $baseline*1.4;

  * + & {
    padding-top: $baseline;
  }
}

h3,
.gamma {
  font-family: $font--sans-serif;
  margin-bottom: $baseline/2;
  font-size: 1rem;
  font-weight: 700;
}

h4,
.delta {
  font-family: $font--sans-serif;
  margin-bottom: $baseline/2;
  font-weight: 400;
}

p {
  hyphens: auto;
}

blockquote {
  padding: 0 $baseline;

  color: $color--light-grey;
  border-left: 2px solid $color--accent;
}

%link {
  color: inherit;
  cursor: pointer;

  &:hover {
    color: $color--accent;
  }
}

a, a:visited {
  @extend %link;
}

.sans {
  font-family: $font--sans-serif !important;
}

.serif {
  font-family: $font--serif;
}

.text--lead {
  font-family: $font--sans-serif;
  font-size: 1.1rem;
  text-indent: 0;

  @media (max-width: 500px) {
    font-size: 1rem;
  }
}

.text--centered {
  text-align: center;
}