---
title: About
---
<section class="hero">
  <a href="/" class="return-link"><span></span> Back home</a>
  <h1 class="hug">
  Devin Halladay is a designer, theorist, and artist working to understand and harness the ideological underpinnings of aesthetics and software.
  </h1>
</section>

<div class="gc-breakout hero-image">
  <figure class="grain-effect">
    <img alt="Portrait of Devin Halladay" src="https://devinhalladay.imgix.net/2018/10/profile.jpg">
  </figure>
</div>

<h2>You're this deep in already, may as well keep reading</h2>
<p>I’m a designer working across all media past, present, and future, to understand, conceptualize, and implement systems and infrastructures at every scale.</p>
<p>I am concerned primarily with the politics and ideology articulated through the acts and artifacts of design. I believe that aesthetics are the synthesis of ideology and form. I believe that individual labor is the most powerful political tool available. I believe that ethics in design are not "ethics in design" but ethics proper. I believe that we can do better, together. Always forward.</p>
<p>Have I caught your interest? Are you a credentialist? <a class="no-barba" href="/Devin_Halladay-Resume.pdf">View my resume</a>.</p>

<h2>Methodology</h2>
<p>I am a partner, not an arbiter. There is no truth. I believe that the best design is made through close collaboration and constant experimentation, iteration, and feedback.</p>
<p>My design practice pairs systematic nuance with conceptual rigor in order to achieve elegant, performant design solutions that provoke and question established values.</p>
<ol class="process-list">
<img src="/assets/images/profile/research.svg" alt="Research Icon">
<li><strong>Research</strong> — The fun part. I embed myself as deeply as possible in the subject matter in question in order to fully understand its problem space and ground truths. Then I question those ground truths ruthlessly in search of alternative futures.</li>
<img src="/assets/images/profile/strategy.svg" alt="Strategy">
<li><strong>Strategy</strong> — I work collaboratively with stakeholders to develop design and project strategy based on my research and the stakeholders' needs. This ensures that we're all on the same page and can track toward a common goal by using a common language.</li>
<img src="/assets/images/profile/design.svg" alt="Design">
<li><strong>Design &amp; Iterate</strong> — I experiment liberally and explore the full breadth of possible and future-possible solutions by mapping the problem space in detail. My prior research and strategy are essential to this stage, as they improve the accuracy of the final artifact.</li>
<img src="/assets/images/profile/delivery.svg" alt="Delivery">
<li><strong>Delivery</strong> — The final products (be they instructions, files, principles, poems, playlists, typefaces, questions, more questions, <em>always</em> more questions) are delivered comprehensively and with detailed documentation of process and implementation.</li>
<img src="/assets/images/profile/afterwards.svg" alt="Afterwards">
<li><strong>Afterward</strong> — I maintain long-term relationships with stakeholders to ensure the design process doesn't end in a singular Design Object but rather a living artifact that can be iterated on into the future.</li>
</ol>

<div class="marquee">
    <p>
      <a href="mailto:studio@devinhalladay.com">studio@devinhalladay.com</a> <span class="always-forward-circle">→</span>
    </p>
  </div>