---
title: About
---
<section class="hero">
  <a href="/" class="return-link"><span><svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z'></path><polyline points='9 22 9 12 15 12 15 22'></polyline></svg></span> Return home</a>
  <h1 class="hug">
  I'm a designer, artist, and theorist working to build tools for thought and expression.
  </h1>
   <div class="work-history">
    <p class='byline'>Previously at</p> <a target="_blank" href="https://palantir.com/"><img src="/assets/images/employer-logos/palantir-logo.svg" alt="Palantir"></a><a target="_blank" href="http://64robots.com/"><img src="/assets/images/employer-logos/64robots-logo.svg" alt="64 Robots"></a><a target="_blank" href="https://quora.com/"><img src="/assets/images/employer-logos/quora-logo.svg" alt="Quora"></a><a target="_blank" href="http://friendsoftheweb.com/"><img src="/assets/images/employer-logos/ftw-logo.svg" alt="Friends of the Web"></a>
  </div>
</section>

<div class="gc-main hero-image">
  <figure class="grain-effect">
    <img alt="Portrait of Devin Halladay" src="/assets/images/2019/10/me.jpg">
  </figure>
</div>

<h2 class="hug">You're this deep in already — may as well keep reading</h2>
<p>I’m a multi-disciplinary designer working across all media to understand and implement efficient interactive systems — whether those systems be products, brand identities, books, or spaces. I graduated <em>magna cum laude</em>, with honors, from the Maryland Institute College of Art in 2019 with my BFA in Graphic Design and Critical Theory.</p>
<p>My design practice combines heavy doses of critical and design theory with practical considerations, to interrogate the politics expressed through the acts and artifacts of design.</p>
<p>My rigorous, research-based approach to creative work has led me to develop expertise many areas of design practice, particularly in the disciplines of graphic and product design. Previously, I have been a product designer for Palantir Technologies, Quora, 64 Robots, and Friends of the Web.</p>
<p>
 In addition to product design, I have experience in front-end development, branding, book and editorial design, public space design, 3D modeling and animation, and new media experiences — to name a few.</p>
<p>Have I caught your interest? Are you a credentialist? <a class="no-barba" href="/Devin_Halladay-Resume.pdf">View my resume</a>.</p>


<h2>Expertise</h2>
<p class="hug">
  <% data.services.each do |service| %>
      <%= service %><% if service != data.services.last %><%= ', ' %><% end %>
  <% end %>
</p>

<h2>Methodology</h2>
<p>I believe that the best design is made through diverse research, close collaboration, and constant experimentation, iteration, and feedback.</p>
<p>My practice is deeply rooted in systems design, which includes but is certainly not limited to design and interaction systems, product strategy, and user experience design.</p>
<ol class="process-list">
<img src="/assets/images/profile/research.svg" alt="Research Icon">
<li><strong>Research</strong> — The fun part. I "go deep" on the subject matter to gain conceptual understanding of its ground truths. Additionally, I do a good deal of competitive research to establish prior art that can be learned from. From there, I like to say that the design process becomes one of "lateral discovery" in which I seek to find alternative solutions within the constraints of a problem statement.</li>
<img src="/assets/images/profile/strategy.svg" alt="Strategy">
<li><strong>Strategy</strong> — I work collaboratively with stakeholders to create design and project strategies based on my research and the requirements of a project. The goal of strategy is, among other things, to create a shared language and vision that can be used to measure the success of the work.</li>
<img src="/assets/images/profile/design.svg" alt="Design">
<li><strong>Design &amp; Iterate</strong> — I explore as many ideas as possible, as rapidly as possible, to begin reaching solutions that address the defined problem statement. This process is iterative, collaborative, and ideally done in the open rather than behind closed doors.</li>
<img src="/assets/images/profile/delivery.svg" alt="Delivery">
<li><strong>Delivery</strong> — The final deliverables (be they instructions, screens, files, code, principles, poems, playlists, typefaces, questions, or something else) are delivered comprehensively and with detailed documentation of process and implementation. Strong documentation ensures the posterity of ideas established during the design process, making maintainence of the delivered items much easier.</li>
<img src="/assets/images/profile/afterwards.svg" alt="Afterwards">
<li><strong>Afterward</strong> — I maintain long-term relationships with stakeholders to ensure the long-term success of solutions produced by this process.</li>
</ol>


<div class="cta-minor">
<a href="mailto:studio@devinhalladay.com">studio@devinhalladay.com <span class="always-forward-circle">→</span></a>
</div>