---
title: About
---
<section class="hero">
  <a href="/" class="return-link"><span></span> Back home</a>
  <h1>
  <span class="text-hoverable">Devin Halladay</span> is a designer, writer, theorist, and artist working to create a more equitable, ethical, and politically-engaged world.
  </h1>
</section>

<div class="gc-breakout">
  <figure class="grain-effect">
    <img alt="Portrait of Devin Halladay" src="https://devinhalladay.imgix.net/2018/10/profile.jpg">
  </figure>
</div>

<h2>About Me</h2>
<p>I’m a multidisciplinary designer working across all media to understand, design, and maintain systems at every scale. I work with clients internationally. Previously, I was a product designer at <a href="http://palantir.com">Palantir</a>, <a href="http://quora.com">Quora</a>, and <a href="http://friendsoftheweb.com">Friends of the Web</a>.</p>
<p>I am concerned first and foremost with the ethics and politics of design, and believe that aesthetics are ideology made concrete. As such, I believe that every designed form contributes in some way to the political reality, and I work hard to ensure that my contributions are positive.</p>

<h2>Methodology and Process</h2>
<p>I am a partner, not an arbiter. I believe that the best design is made through close collaboration and constant experimentation, iteration, and feedback.</p>
<p>My design practice pairs systematic nuance with conceptual rigor in order to achieve elegant, performant design solutions that provoke and question established values.</p>
<ol class="process-list">
<img src="/assets/images/profile/research.svg" alt="Research Icon">
<li><strong>Research</strong> — The most important part. I embed myself as deeply as possible in the subject matter in question in order to fully understand its problem space and ground truths.</li>
<img src="/assets/images/profile/strategy.svg" alt="Strategy">
<li><strong>Strategy</strong> — I work collaboratively with the client to develop design and project strategy based on my research and the client's goals. This ensures that we're all on the same page and have a clear goal.</li>
<img src="/assets/images/profile/design.svg" alt="Design">
<li><strong>Design &amp; Iterate</strong> — I then experiment, design, and iterate with constant client feedback reviews in order to push through to the final product. My research and strategy are essential to this stage, as they improve the accuracy of the final products.</li>
<img src="/assets/images/profile/delivery.svg" alt="Delivery">
<li><strong>Delivery</strong> — The final products — be they instructions, files, principles, or something else — is delivered to the client comprehensively and with detailed documentation.</li>
<img src="/assets/images/profile/afterwards.svg" alt="Afterwards">
<li><strong>Afterward</strong> — I maintain long-term relationships with each client because I believe the design process is never finished. Once I design something, I stick with it for the life of the form.</li>
</ol>