<section class="hero">
  <a href="/" class="return-link"><span></span> Back home</a>
  <h1>
  <span class="text-hoverable">Devin Halladay</span> is a designer, writer, theorist, and artist working to create a more equitable, ethical, and politically-engaged world.
  </h1>
</section>

<div class="gc-breakout">
  <figure class="grain-effect">
    <img alt="Portrait of Devin Halladay" src="https://devinhalladay.imgix.net/2018/10/profile.jpg">
  </figure>
</div>

<h2>About Me</h2>
<p>I’m a multidisciplinary designer working across all media to understand, design, and maintain systems at every scale. I work with clients internationally. Previously, I was a product designer at <a href="http://palantir.com">Palantir</a>, <a href="http://quora.com">Quora</a>, and <a href="http://friendsoftheweb.com">Friend of the Web</a>.</p>
<p>I am concerned first and foremost with the ethics and politics of design, and believe that aesthetics are ideology made concrete. As such, I believe that every designed form contributes in some way to the political reality, and I work hard to ensure that my contributions are positive.</p>