---
title: About
---
<section class="hero">
  <a href="/" class="return-link"><span><svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z'></path><polyline points='9 22 9 12 15 12 15 22'></polyline></svg></span> Return home</a>
  <h1 class="hug">
  Devin Halladay is a designer, theorist, and artist working to understand and harness the ideological underpinnings of aesthetics and software.
  </h1>
</section>

<div class="gc-main hero-image">
  <figure class="grain-effect">
    <img alt="Portrait of Devin Halladay" src="/assets/images/bubble-rainbow.png">
  </figure>
</div>

<div class="gc-main">
    <div class="marquee marquee--images hug">
          <a target="_blank" href="https://quora.com/"><img src="/assets/images/employer-logos/quora-logo.svg" alt="Quora"></a><a target="_blank" href="https://palantir.com/"><img src="/assets/images/employer-logos/palantir-logo.svg" alt="Palantir"></a><a target="_blank" href="http://64robots.com/"><img src="/assets/images/employer-logos/64robots-logo.svg" alt="64 Robots"></a><a target="_blank" href="http://friendsoftheweb.com/"><img src="/assets/images/employer-logos/ftw-logo.svg" alt="Friends of the Web"></a>
  </div>
</div>

<h2 class="hug">You're this deep in already, may as well keep reading</h2>
<p>I’m a designer working across all media past, present, and future, to understand, conceptualize, and implement systems and infrastructures at every scale.</p>
<p>My design practice interrogates the politics and ideology articulated through the acts and artifacts of design. I believe that aesthetics are the synthesis of ideology and form, and that form itself is political. This position leads to a holistic approach to design that considers the ethics and implications of every design decision.</p>
<p>Have I caught your interest? Are you a credentialist? <a class="no-barba" href="/Devin_Halladay-Resume.pdf">View my resume</a>.</p>


<h2>Services</h2>
<p class="hug">
  <% data.services.each do |service| %>
      <%= service %><% if service != data.services.last %><%= ', ' %><% end %>
  <% end %>
</p>

<h2>Methodology</h2>
<p>I am a partner, not an arbiter. There is no truth. I believe that the best design is made through close collaboration and constant experimentation, iteration, and feedback.</p>
<p>My design practice pairs systematic nuance with conceptual rigor in order to achieve elegant, performant design solutions that provoke and question established values.</p>
<ol class="process-list">
<img src="/assets/images/profile/research.svg" alt="Research Icon">
<li><strong>Research</strong> — The fun part. I embed myself as deeply as possible in the subject matter in question in order to fully understand its problem space and ground truths. Then I question those ground truths ruthlessly in search of alternative futures.</li>
<img src="/assets/images/profile/strategy.svg" alt="Strategy">
<li><strong>Strategy</strong> — I work collaboratively with stakeholders to develop design and project strategy based on my research and the stakeholders' needs. This ensures that we're all on the same page and can track toward a common goal by using a common language.</li>
<img src="/assets/images/profile/design.svg" alt="Design">
<li><strong>Design &amp; Iterate</strong> — I experiment liberally and explore the full breadth of possible and future-possible solutions by mapping the problem space in detail. My prior research and strategy are essential to this stage, as they improve the accuracy of the final artifact.</li>
<img src="/assets/images/profile/delivery.svg" alt="Delivery">
<li><strong>Delivery</strong> — The final products (be they instructions, files, principles, poems, playlists, typefaces, questions, more questions, <em>always</em> more questions) are delivered comprehensively and with detailed documentation of process and implementation.</li>
<img src="/assets/images/profile/afterwards.svg" alt="Afterwards">
<li><strong>Afterward</strong> — I maintain long-term relationships with stakeholders to ensure the design process doesn't end in a singular Design Object but rather a living artifact that can be iterated on into the future.</li>
</ol>

<div class="marquee">
    <p>
      <a href="mailto:studio@devinhalladay.com">studio@devinhalladay.com&nbsp;&nbsp;<span class="always-forward-circle">→</span></a>&nbsp;&nbsp;&nbsp;<a href="mailto:studio@devinhalladay.com">studio@devinhalladay.com&nbsp;&nbsp;<span class="always-forward-circle">→</span></a>
    </p>
  </div>