---
title: Colophon
---
<div class="row">
  <div class="col-xs-12">
    <h1 class="u-font-mega u-font-center c-page-title border-bottom">Colophon</h1>
  </div>
</div>
<div class="row center-xs">
  <div class="col-xs-12 col-sm-9 col-md-7 col-lg-6">
    <ul class="u-font-meta u-font-unlist">
      <% data.colophon.basic_info.each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>

    <% data.colophon.sections.each do |section| %>
      <h3><%= section.title %></h3>
      <ul class="u-font-unlist">
        <% section.items.each do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
