---
title: Contact
class: "page__contact"
---
<section class="site__content wrap padding-top">
  <div class="grid">
    <div class="grid__col grid__col--3-of-12">

      <h2>Hi there, again!</h2>
      <p>I'm eagerly awaiting your response. Let's chat over coffee and discuss what's next.</p>

    </div>
    <div class="grid__col grid__col--6-of-12 grid__col--push-1-of-12">

      <h2>I'd like to get to know you.</h2>
      <p>I want to create fantastic, daring work with the best of the best. I think Wolff Olins is the perfect place for me. You've made it this far through my portfolio, so why not click this little email link to open up your email client and get the ball rolling? I can't wait to work with you.</p>
      <p>Email: <a href="mailto:studio@devinhalladay.com?Subject=I%20want%20to%20talk%20about...&Body=Hey%20Devin%21">devin@devinhalladay.com</a></p>
      <h3>You can also find me on...</h3>
      <p>
        <% data.links.each_with_index do |link, index| %>
          <a href="<%= link.url %>"><%= link.name %></a><% unless index == link.length %><br><% end %>
        <% end %>
      </p>
    </div>
  </div>
</section>
