---
title: Contact
---
<div class="row">
  <div class="col-xs-12">
    <h1 class="u-font-mega u-font-center c-page-title border-bottom">Let's Talk</h1>
  </div>
</div>
<div class="row center-xs">
  <div class="col-xs-12 col-sm-9 col-md-7 col-lg-6">
    <p>Whether you want to start a new design project, ask me a question, or just chat, feel free to email me. I promise I'll answer.</p>
    <p class="u-font-mono"><a href="mailto:studio@devinhalladay.com">studio@devinhalladay.com</a></p>
    <hr class="hr--short">
    <p>If you're so inclined, you can also find me @devinhalladay on most social networks.</p>
    <ul class="u-font-unlist u-font-inline-list">
      <li><a href="http://dribbble.com/devinhalladay">Dribbble</a></li>
      <li><a href="http://twitter.com/devinhalladay">Twitter</a></li>
      <li><a href="http://github.com/devinhalladay">GitHub</a></li>
    </ul>
  </div>
</div>
