---
title: Contact
---

<% content_for :scripts do %>
  
<% end %>

<div class="gc-main">
  <section class="hero">
    <a href="/" class="return-link"><span></span> Back home</a>
    <h1>
      I'm looking for full-time and freelance product design work, either remote or in New York City. Email me with opportunities!
    </h1>
  </section>
  
  <p class="marquee">
    <a href="mailto:studio@devinhalladay.com">studio@devinhalladay.com</a>
  </p>
  <p>You can also find me most places online at @devinhalladay:</p>
  <ul class="u-font-inline-list hug">
    <li><a href="http://are.na/devin-halladay">Are.na</a></li>
    <li><a href="http://twitter.com/devinhalladay">Twitter</a></li>
    <li><a href="http://github.com/devinhalladay">GitHub</a></li>
    <li><a href="http://dribbble.com/devinhalladay">Dribbble</a></li>
  </ul>
</div>