---
title: Contact
---
<div class="row">
  <div class="col-xs-12">
    <h1 class="u-font-mega u-font-center c-page-title">Contact</h1>
  </div>
</div>
<div class="row center-xs">
  <div class="col-xs-12 col-sm-9 col-md-7 col-lg-6">
    <form class="grid-form" method="POST" action="https://devinhalladay-contact.herokuapp.com/" data-parsley-validate>
      <fieldset>
        <legend>Let's talk.</legend>
        <div data-row-span="2">
          <div data-field-span="1" id="name">
            <label>Your Name</label>
            <input type="text" name="name" required>
          </div>
          <div data-field-span="1" id="email">
            <label>Your Email</label>
            <input type="email" name="email" required>
          </div>
        </div>
        <div data-row-span="2">
          <div data-field-span="2" id="reasons">
            <label>Reason for your inquiry</label>
            <select name="reason" required>
              <option>You're intersted in hiring me for a project.</option>
              <option>You're interested in hiring me full-time or as an intern.</option>
              <option>You'd just like to say hello.</option>
              <option>You're an aspiring designer or a student and want advice.</option>
              <option>You'd like me to speak at your school or event.</option>
            </select>
          </div>
        </div>
        <div data-row-span="2">
          <div data-field-span="2" id="message">
            <label>Your Message</label>
            <textarea name="message" required></textarea>
          </div>
        </div>
        <input type="submit" value="Submit!" class="button">
      </fieldset>
    </form>
  </div>
</div>
