<section class="hero">
  <p class="byline hug">Always Forward</p>
  <h1 class="hug">
    My name is <a href="/about">Devin Halladay</a>. I design alternative futures with and through government and cultural institutions. I specialize in the design of <span class="nav-products">software</span> and <span class="nav-systems">identity systems</span>. I publish <span class="nav-theory">theory</span> on <a target="_blank" href="https://infinitecaesura.com">Infinite Caesura</a>. <span>How can I be of service?</span>
  </h1>
  <div class="marquee">
    <p>
      <a href="mailto:studio@devinhalladay.com">studio@devinhalladay.com</a> <span class="always-forward-circle">→</span>
    </p>
  </div>
</section>

<section class="gc-main">
  <div class="block block-gallery medium-margin">
    <div class="gallery-highlight"></div>
    <% blog.articles.select {|p| p.data.featured }.each do |project| %>
      <div class="gallery-slide">
        <a href="<%= project.url %>">
          <div class="image" style="background-image: url(<%= project.data.cover_image %>)"></div>
          <div class="caption">
            <div class="title--block">
              <%= project.title %>
            </div>
            <div class="meta--block">
              <%= project.data.scope %>
            </div>
          </div>
          <p class="carousel-status"></p>
        </a>
      </div>
    <% end %>
  </div>
</section>

