<section class="hero">
  <p class="byline hug">Always Forward</p>
  <h1 class="hug">
    My name is <a class="nav-me" href="/about">Devin Halladay</a>. You can describe me as an artist, designer, and critical theorist. My practice focuses on <span class="nav-products"><a href="/work/software">software design</a></span>, <span class="nav-systems"><a href="/work/identity">identity systems</a></span>, <span class="nav-theory"><a href="/work/conceptual-art">conceptual art</a></span>, and <span class="nav-internet"><a href="/work/internet">the internet</a></span>. I publish theory on <a target="_blank" href="https://infinitecaesura.com">Infinite Caesura</a>. <br><br><span class="cta"><svg viewBox="0 0 68 8">
<defs>
<path id="curve" d="M1 7C3.72841 6.46763 6.35387 5.54841 9.11111 5.09722C11.4433 4.71559 13.7807 4.46658 16.125 4.1875C19.3427 3.80445 22.6471 4 25.8819 4C29.5052 4 33.1823 3.94722 36.7917 4.22222C38.4026 4.34496 40.0508 4.25 41.6667 4.25C43.7331 4.25 45.7893 4.28837 47.8472 4.0625C54.0411 3.38268 62 3.5 67.5 0.5"/>
<linearGradient id="gradientFill" x1="37.29" y1="-4.36953e-06" x2="-1.81712" y2="4.08854" gradientUnits="userSpaceOnUse">
<stop stop-color="white"/>
<stop offset="0.0001" stop-color="#FF005C"/>
<stop offset="0.529935" stop-color="white"/>
<stop offset="1" stop-color="#0085FF"/>
</linearGradient>
</defs>
<text width="1000" fill="url(#gradientFill)">
<textPath xlink:href="#curve">
  How can I help?
  <animate attributeName="startOffset" values="-60;1" dur="1s" repeatCount="once" keyTimes="0;1" />
  </textPath>
</text>
</svg>
</span>
  </h1>
  <div class="marquee">
    <p>
      <a href="mailto:studio@devinhalladay.com">studio@devinhalladay.com</a> <span class="always-forward-circle">→</span>
    </p>
  </div>
</section>

<section class="gc-main">
  <div class="block block-gallery medium-margin">
    <div class="gallery-highlight"></div>
    <% blog.articles.select {|p| p.data.featured }.each do |project| %>
      <div class="gallery-slide">
        <a href="<%= project.url %>">
          <div class="image" style="background-image: url(<%= project.data.cover_image %>)"></div>
          <div class="caption">
            <div class="title--block">
              <%= project.title %>
            </div>
            <div class="meta--block">
              <%= project.data.scope %>
            </div>
          </div>
          <p class="carousel-status"></p>
        </a>
      </div>
    <% end %>
  </div>
</section>