---
blog: work
---
<div class="row xs-border-right center-xs">
  <div class="col-xs-12 col-sm-6">
    <div class="intro-section">
      <h1>Devin Halladay</h1>
      <hr class="hr-vertical">
      <p>Interdisciplinary designer, artist, and writer.<br><span class="meta u-font-serif">Previously, product designer at <a href="http://quora.com">Quora</a>.</span></p>
    </div>
  </div>
</div>

<%= partial "partials/latest-work" %>

<%# partial "partials/latest-articles" %>

<%= partial "partials/newsletter-form" %>
