---
blog: work
---
<div class="container">
  <div class="row xs-border-right center-xs">
    <div class="col-xs-12 col-sm-6">
      <div class="intro-section">
        <h1>Devin Halladay</h1>
        <hr class="hr-vertical">
        <p>Multidisciplinary designer and artist.</p>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/latest-work" %>
