---
blog: work
---
<div class="container">
  <div class="hero">
    <div class="row xs-border-right center-xs">
      <div class="col-xs-12 col-sm-8 col-lg-6">
        <div class="intro-section">
          <hr class="hr-vertical">
          <p>Designer and theorist creating robust, ethical, and expressive systems in any medium, at any scale.</p>
          <hr class="hr-vertical">
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/latest-work" %>
