<section class="hero">
  <p class="byline hug">Always Forward</p>
  <h1 class="hug">
    My name is <a class="nav-me" href="/about">Devin Halladay</a>. You can describe me as an artist, designer, and critical theorist. <a href="/work/all">My practice</a> focuses on<br><span class="nav-products"><a href="/work/software">software design</a></span>,<br><span class="nav-systems"><a href="/work/identity">identity systems</a></span>,<br><span class="nav-theory"><a href="/work/conceptual-art">conceptual art</a></span>, and<br><span class="nav-internet"><a href="/work/internet">the internet</a></span>. I publish theory on <a target="_blank" href="https://infinitecaesura.com">Infinite Caesura</a>. <br><br><span class="cta"><svg viewBox="0 0 68 8">
<defs>
<path id="curve" d="M1 7C3.72841 6.46763 6.35387 5.54841 9.11111 5.09722C11.4433 4.71559 13.7807 4.46658 16.125 4.1875C19.3427 3.80445 22.6471 4 25.8819 4C29.5052 4 33.1823 3.94722 36.7917 4.22222C38.4026 4.34496 40.0508 4.25 41.6667 4.25C43.7331 4.25 45.7893 4.28837 47.8472 4.0625C54.0411 3.38268 62 3.5 67.5 0.5"/>
</defs>
<text width="1000" fill="url(#gradientFill)">
<textPath xlink:href="#curve">How can I help?<animate attributeName="startOffset" values="-20;1" dur="0.8s" repeatCount="once" keyTimes="0;1" />
</textPath>
</text>
</svg>
</span>
  </h1>
  <div class="marquee">
    <p>
      <a href="mailto:studio@devinhalladay.com">studio@devinhalladay.com</a> <span class="always-forward-circle">→</span>
    </p>
  </div>
</section>