---
blog: work
---
<div class="container">
  <div class="hero">
    <div class="row xs-border-right center-xs">
      <div class="col-xs-12 col-sm-8 col-lg-6">
        <div class="intro-section">
          <p>Devin Halladay is a multidisciplinary designer focused on products, systems, and theory.</p>
          <a href="/profile"><img src="/assets/images/2018/10/header.svg" alt="More about me"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/latest-work" %>
