<section class="hero">
  <p class="byline hug">Always Forward</p>
  <h1 class="hug">
    I'm <a class="nav-me" href="/about">Devin Halladay</a>, an artist, designer, and critical theorist. My practice focuses on <span class="nav-products"><a href="">software</a></span>, <span class="nav-systems"><a href="">identity systems</a></span>, and <span class="nav-internet"><a href="">the internet</a></span>. I publish theory on <span class="nav-theory"><a target="_blank" href="https://infinitecaesura.com">Infinite Caesura</a></span>. <br><br>How can I be of service?
  </h1>
  <div class="marquee">
    <p>
      <a href="mailto:studio@devinhalladay.com">studio@devinhalladay.com</a> <span class="always-forward-circle">→</span>
    </p>
  </div>
</section>

<section class="gc-main">
  <div class="block block-gallery medium-margin">
    <div class="gallery-highlight"></div>
    <% blog.articles.select {|p| p.data.featured }.each do |project| %>
      <div class="gallery-slide">
        <a href="<%= project.url %>">
          <div class="image" style="background-image: url(<%= project.data.cover_image %>)"></div>
          <div class="caption">
            <div class="title--block">
              <%= project.title %>
            </div>
            <div class="meta--block">
              <%= project.data.scope %>
            </div>
          </div>
          <p class="carousel-status"></p>
        </a>
      </div>
    <% end %>
  </div>
</section>