---
title: Projects
classes: page__home
---
<div class="site__hero">
  <div class="site__hero__image" style="background-image: url(/assets/images/2015/04/profile-bw-grain.jpg);"></div>
  <div class="site__hero__table">
    <div class="table__cell">
      <div class="grid wrap">
        <p class="grid__col grid__col--6-of-12 site__hero__headline beta sans">Hi! I'm Devin Halladay, a multidisciplinary designer and writer.</p>
      </div>
    </div>
  </div>
</div>

<section class="banner">
  <div class="grid wrap">
    <p class="gamma text--centered">I'm <strong>available</strong> for work. Take the leap and get in touch. <a class="button skew-forward" href="/contact">Contact&nbsp;me.</a></p>
  </div>
</section>

<section class="site__content wrap">

  <div class="grid">
    <div class="grid__col grid__col--6-of-12">
      <h2>Selected Projects</h2>
    </div>
  </div>

  <div class="grid">

    <% posts_by_weight.each do |project| %>
      <%# if article.metadata[:page]['category'] == 'projects' %>
      <div class="project grid__col grid__col--6-of-12">
        <a href="<%= project.url %>">
          <h2><%= project.title %></h2>
          <figure>
            <img data-layzr="<%= project.data.cover_image %>" alt="<%= project.title %>">
          </figure>
        </a>
      </div>
    <% end %>
  </div>

<!--   <hr class="hr--long"></hr>

  <div class="grid">
    <div class="grid__col grid__col--6-of-12">
      <h2>Recent <a href="https://dribbble.com/devinhalladay">Dribbble</a> Shots</h2>
    </div>
  </div>

  <div class="grid dribbble-shots">
  </div> -->
</section>
