---
blog: work
---
<div class="container">
  <div class="hero">
    <div class="row xs-border-right center-xs">
      <div class="col-xs-12 col-sm-6">
        <div class="intro-section">
          <hr class="hr-vertical">
          <p>I'm a designer creating products, systems, and identities that are good for the soul.</p>
          <hr class="hr-vertical">
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/latest-work" %>
