---
blog: work
---
<div class="container">
  <div class="hero">
    <div class="row xs-border-right center-xs">
      <div class="col-xs-12 col-sm-8 col-lg-6">
        <div class="intro-section">
          <hr class="hr-vertical">
          <a href="/profile"><img src="/assets/images/2018/10/header.svg" alt=""></a>
          <p>Multidisciplinary designer and theorist working with systems, theory, and ethics.</p>
          <hr class="hr-vertical">
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/latest-work" %>
