<section class="hero">
  <p class="byline hug">Always Forward</p>
  <h1 class="hug">
    <a href="/about">Devin Halladay</a> is a designer interested in working for cultural and government institutions.
    He specializes in <span class="nav-products">software design</span> and <span class="nav-systems">identity systems</span>. He publishes <span class="nav-theory">theory</span> work on <a target="_blank" href="https://infinitecaesura.com">Infinite Caesura</a>.
  </h1>
  <a href="/contact" class="button button-forward">Get in touch</a>
</section>

<section class="gc-main">
  <div class="h2">Featured Case Studies</div>
  <div class="block block-gallery medium-margin">
    <% blog.articles.select {|p| p.data.featured }.each do |project| %>
      <div class="gallery-slide">
        <a href="<%= project.url %>">
          <div class="image" style="background-image: url(<%= project.data.cover_image %>)"></div>
          <div class="caption">
            <div class="title--block">
              <%= project.title %>
            </div>
            <div class="meta--block">
              <%= project.data.scope %>
            </div>
          </div>
          <p class="carousel-status"></p>
        </a>
      </div>
    <% end %>
  </div>
</section>