---
blog: work
---
<div class="container">
  <div class="row xs-border-right center-xs">
    <div class="col-xs-12 col-sm-6">
      <div class="intro-section">
        <hr class="hr-vertical">
        <p>Designing products and systems that are good for the soul.</p>
        <hr class="hr-vertical">
      </div>
    </div>
  </div>
</div>

<%= partial "partials/latest-work" %>
