---
title: Journal
---

<section class="site__content posts__list wrap padding-top">
  <div class="grid">
    <div class="grid__col grid__col--6-of-12 grid__col--centered">
      <% blog('journal').articles.each do |article| %>
        <%# if article.metadata[:page]['category'] == 'journal' %>
          <div class="post">
            <a href="<%= article.url %>">
              <h2 class="post__title"><%= article.title %></h2>
              <span class="meta small"><em><%= reading_time article.body %> read</em></span>
              <br>
              <span class="meta small"><%= article.date.strftime('%-d %B %Y') %></span>
            </a>
          </div>
        <%# end %>
      <% end %>
    </div>
  </div>
</section>