---
title: Journal
---
<% blog('journal').articles.each do |article| %>
  <a href="<%= article.url %>">
    <h2><%= article.title %></h2>
  </a>
  <small><%= article.date.strftime('%A %-d %B %Y') %></small>
  <hr>
<% end %>
