---
title: Journal
---
<div class="row">
  <div class="col-xs-12">
    <h1 class="u-font-mega u-font-center">Journal</h1>
  </div>
</div>

<%= partial "partials/latest-articles" %>

<%= partial "partials/newsletter-form" %>
