---
title: Profile
---
<div class="row">
  <div class="col-xs-12">
    <h1 class="u-font-mega u-font-center c-page-title"><em>I'm different.</em></h1>

    <figure>
      <picture>
        <source media="(min-width: 1020px)" srcset="/images/2016/07/portrait-large.png">
        <source media="(min-width: 900px)" srcset="/images/2016/07/portrait-large-sm.png">
        <source media="(min-width: 680px)" srcset="/images/2016/07/portrait-med.png">
        <source srcset="/images/2016/07/portrait-small.png">
        <img alt="Portrait of Devin Halladay by Julia Fletcher" srcset="">
      </picture>

      <figcaption>Photos courtesy of <a href="http://juliafletcherphoto.com/">Julia Fletcher</a>.</figcaption>
    </figure>
  </div>
</div>

<div class="row xs-border-right xs-enclosed-section">
  <div class="col-xs-12 col-sm-4">
    <h3>Location</h3>
    <p>Baltimore, MD</p>
  </div>
  <div class="col-xs-12 col-sm-4">
    <h3>Likes</h3>
    <p>Classical music, art, black clothes, minimalism, Jeff Goldblum, typography, literature, running, politics, liberty, coffee.</p>
  </div>
  <div class="col-xs-12 col-sm-4">
    <h3>Dislikes</h3>
    <p>Country music, Guy Fieri, purple, Condoleezza Rice, Kid Rock, bad kerning, planking.</p>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <h2>A little bit about myself</h2>
    <p>My name is Devin Halladay, and I'm a multidisciplinary graphic designer, writer, and humanist.</p>
    <p>I'm currently living in Baltimore, studying design at the Maryland Institute College of Art. I'm taking a critical look at design and social theory and working hard to apply them to my design practice.</p>
  </div>
</div>
<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <h2>How I work</h2>
    <p>I solve problems. I believe in the power of people, design, and critical thought to find simple solutions to complex problems. I value craftsmanship, curation, and quality thought.</p>
    <p>I live and work according to four core tenets: learn the rules, promptly and mercilessly break them with spirit and intent, experiment relentlessly, and create fearlessly.</p>
  </div>
</div>

<%= partial("partials/section-title", :locals => { :title => "Services" }) %>

<div class="row xs-border-right center-xs u-font-center">
  <div class="col-xs-12 col-sm-3">
    <h3>Branding</h3>
    <ul class="u-font-unlist">
      <li>Brand Creation</li>
      <li>Logo Development</li>
      <li>Brand Collateral</li>
      <li>Identity Design</li>
      <li>Brand Consulting</li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-3">
    <h3>Digital</h3>
    <ul class="u-font-unlist">
      <li>Website Design</li>
      <li>Front-end Development</li>
      <li>Responsive Design</li>
      <li>Ruby</li>
      <li>Ruby on Rails</li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-3">
    <h3>Print &amp; Production</h3>
    <ul class="u-font-unlist">
      <li>Editorial Design</li>
      <li>Magazine Design</li>
      <li>Apparel</li>
      <li>Posters</li>
      <li>Advertising</li>
    </ul>
  </div>
</div>
