---
title: Profile
classes: "page__profile"
---
<section class="site__content wrap padding-top">
  <div class="grid">

    <div class="grid__col grid__col--6-of-12">
      <h2>A little bit about myself</h2>

      <p>My name is Devin Halladay, and I'm a graphic designer, writer, and humanist.</p>

      <hr class="hr--long">

      <p class="text--lead">I solve problems. I believe in the power of people, design, and critical thought to find simple solutions to complex problems. I value craftsmanship, curation, and quality thought.</p>

      <hr class="hr--long">

      <p>I'm currently living in Baltimore, studying design at the Maryland Institute College of Art. I'm taking a critical look at design and social theory and working hard to apply them to my design practice.</p>

      <hr class="hr--long">

      <blockquote>
        <p>The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <cite>— Jack Kerouac, <i>On the Road</i></cite>
        <div class="clearfix"></div>
      </blockquote>
    </div>

    <div class="grid__col grid__col--3-of-12 grid__col--push-1-of-12">
      <h2>Non-fun facts</h2>

      <h3>Location</h3>

      <p>Baltimore, MD</p>

      <h3>Likes</h3>
      <p>Classical music, black clothes, minimalism, typography, literature, running, politics, liberty, coffee.</p>

      <h3>Dislikes</h3>
      <p>Country music, aestheticism, purple, Condoleezza Rice, Kid Rock, bad kerning, planking, pretentiousness.</p>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--12-of-12">
      <hr class="hr--long">
      <h2>Services</h2>
    </div>

    <% for service in data.services %>
      <div class="grid__col grid__col--4-of-12">
        <h3><%= service.service %></h3>
        <p>
          <% service.subservices.each_with_index do |service, index| %>
            <%= service %><% unless index == service.length %><br><% end %>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
</section>
