---
title: Profile
---
<figure>
  <%= image_tag "http://devinhalladay.com/assets/images/2015/11/me-portrait-bac687a4.png" %>
  <figcaption>Photos courtesy of <a href="http://juliafletcherphoto.com/">Julia Fletcher</a>.</figcaption>
</figure>

<div class="row">
  <h2>A little about myself</h2>
</div>
